@import "../../../../_project/_blocks/scss-general/_qg-variables.scss";
@import "../../../../_project/_blocks/scss-general/_qg-font-variables.scss";

$search-pagination-link-background-color: $qg-light-blue-gray7;
$search-pagination-link-color: #FFF;
$search-pagination-link-hover-background-color: $search-pagination-link-background-color;
$search-pagination-link-hover-color: #FFF;


