/* qg-Image gallery */
.qg-image-gallery, .image-gallery {
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 560px;
    img {
      width: 100px;
      height: 100px;
      border: 1px solid $qg-grey-light;
      box-shadow: 0 0 2px 1px #000;
      box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
      object-fit: cover;
    }
  }
  li {
    margin: 10px;
  }
}

.fancybox-button{
  background: none !important;
  transform: scale(1.6);
  color: #fff;
}
.fancybox-button--arrow_left,
.fancybox-button--arrow_right{
  padding: 0;
}
.fancybox-caption{
  color: #fff;
}
.fancybox-border:empty{
  display: none;
}
.fancybox-border{
  border-top: 1px solid grey;
  padding-top: 1em;
}
.font-awesome{
  font-family: FontAwesome;
}
@media (max-width: 992px){
  .fancybox-navigation button{
    display: none;
  }
}
