<section
  class="qg-accordion qg-dark-accordion qg-accordion-v2"
  aria-label="Default accordion (dark style)"
>
  <article>
    <button class="acc-heading qg-accordion--closed">
      <a class="qg-accordion--ga" data-analytics-link-group="accordion title - Accordion title">
        <span class="accordion-label">
          <span class="title">Accordion title</span>
        </span>
      </a>
    </button>
    <div class="collapsing-section" id="id-panel-1-249907">
      <p>Accordion content</p>
    </div>
  </article>
  <article>
    <button class="acc-heading qg-accordion--closed">
      <a class="qg-accordion--ga" data-analytics-link-group="accordion title - Accordion title">
        <span class="accordion-label">
          <span class="title" data-analytics-link-group="accordion-interaction"
            >Accordion title</span
          >
        </span>
      </a>
    </button>
    <div class="collapsing-section" id="id-panel-2-249907">
      <p>Accordion content</p>
    </div>
  </article>
</section>
