<span>Collapsed</span>
<span>Expanded</span>
<section
  class="qg-accordion qg-dark-accordion qg-accordion-v2"
  aria-label="Default accordion (dark style)"
>
  <article>
    <button class="acc-heading qg-accordion--closed">
      <a class="qg-accordion--ga" data-analytics-link-group="accordion title - Accordion title">
        <span class="accordion-label">
          <span class="title">default</span>
        </span>
      </a>
    </button>
    <div class="collapsing-section" id="id-panel-1-249907">
      <p>Accordion content</p>
    </div>
  </article>
  <article>
    <button class="acc-heading qg-accordion--closed hover">
      <a class="qg-accordion--ga" data-analytics-link-group="accordion title - Accordion title">
        <span class="accordion-label">
          <span class="title">hover</span>
        </span>
      </a>
    </button>
    <div class="collapsing-section" id="id-panel-1-249907">
      <p>Accordion content</p>
    </div>
  </article>
  <article>
    <button class="acc-heading qg-accordion--closed focus">
      <a class="qg-accordion--ga" data-analytics-link-group="accordion title - Accordion title">
        <span class="accordion-label">
          <span class="title">focus</span>
        </span>
      </a>
    </button>
    <div class="collapsing-section" id="id-panel-1-249907">
      <p>Accordion content</p>
    </div>
  </article>
  <article>
    <button class="acc-heading qg-accordion--closed active">
      <a class="qg-accordion--ga" data-analytics-link-group="accordion title - Accordion title">
        <span class="accordion-label">
          <span class="title">active</span>
        </span>
      </a>
    </button>
    <div class="collapsing-section" id="id-panel-1-249907">
      <p>Accordion content</p>
    </div>
  </article>
</section>
<section
  class="qg-accordion qg-dark-accordion qg-accordion-v2"
  aria-label="Default accordion (dark style)"
>
  <article>
    <button class="acc-heading qg-accordion--open" aria-expanded="true">
      <a class="qg-accordion--ga" data-analytics-link-group="accordion title - Accordion title">
        <span class="accordion-label">
          <span class="title">default</span>
        </span>
      </a>
    </button>
    <div class="collapsing-section" id="id-panel-1-249915">
      <p>Accordion content</p>
    </div>
  </article>
  <article>
    <button class="acc-heading qg-accordion--open hover" aria-expanded="true">
      <a class="qg-accordion--ga" data-analytics-link-group="accordion title - Accordion title">
        <span class="accordion-label">
          <span class="title">hover</span>
        </span>
      </a>
    </button>
    <div class="collapsing-section" id="id-panel-1-249915">
      <p>Accordion content</p>
    </div>
  </article>
  <article>
    <button class="acc-heading qg-accordion--open focus" aria-expanded="true">
      <a class="qg-accordion--ga" data-analytics-link-group="accordion title - Accordion title">
        <span class="accordion-label">
          <span class="title">focus</span>
        </span>
      </a>
    </button>
    <div class="collapsing-section" id="id-panel-1-249915">
      <p>Accordion content</p>
    </div>
  </article>
  <article>
    <button class="acc-heading qg-accordion--open active" aria-expanded="true">
      <a class="qg-accordion--ga" data-analytics-link-group="accordion title - Accordion title">
        <span class="accordion-label">
          <span class="title">active</span>
        </span>
      </a>
    </button>
    <div class="collapsing-section" id="id-panel-1-249915">
      <p>Accordion content</p>
    </div>
  </article>
</section>
