#qg-site-header {
    background-color: $qg-global-primary;
}

.btn-global-primary {
    background-color: $qg-global-primary-dark;
}

.qg-show-menu, .qg-show-search {
    &[aria-expanded="true"] {
        .fa {
            color: $qg-global-primary;
        }
    }
}

@include media-breakpoint-down(sm) {
    #qg-site-nav {

		ul {
            background-color: $qg-global-primary-light;
        }

        a, a:link, a:visited {
            color: $qg-global-primary-darker;
        }
    }

    .header-location {
        background-color: $qg-global-primary-light;
    }

    #qg-nav-wrap {
        background-color: $qg-global-primary;
    }
}