#qg-site-header, #qg-site-header:after, .qg-site-footer {
    background-color: $qg-global-primary;
}

.btn-global-primary {
    background-color: $qg-global-primary-dark;
}

.btn-global-primary-white {
    color: $qg-global-primary-dark;
}

.qg-show-menu, .qg-show-search {
    &[aria-expanded="true"] {
        .fa {
            color: $qg-global-primary;
        }
    }
}

#qg-site-nav .dropdown-menu.mega-menu,
#qg-site-nav .show .nav-link,
#qg-site-nav .show .nav-link:before {
    background-color: $qg-global-primary-light;
}

@include media-breakpoint-down(sm) {
    #qg-site-nav {
		.nav {
            background-color: $qg-global-primary-light;
        }

        a, a:link, a:visited {
            color: $qg-global-primary-darker;
        }
    }

    .header-location {
        background-color: $qg-global-primary-light;
    }
}