// #################################################
// ## Colour definitions
// Define colour names, avoid using these in the wider SCSS
$black: #000000;

// ## Primary blue ##
$qg-blue: #007EB1; // Primary blue
$qg-blue-dark: #13578b; // Primary link colour (see bootstrap-variables.scss), accordion expan/collapse
$qg-blue-darker: #005375;
$qg-blue-hover: darken($qg-blue, 7.5%);

$qg-light-green: #9AC02C;
$qg-green: #78ba00;

// ## Outline buttons ##
$qg-outline-dark: #00698f;
$qg-outline-dark-hover: #313131;

// ## Active outlines (transient) ##
$qg-active-outline: #0096d6;

// ## Dark grey ##
$qg-dark-grey-lightest: #949494;
$qg-dark-gray-lighter: #8a8f91; // Lightest for large text on white
$qg-dark-gray-light: #6f777b; // Lightest for small text on white
$qg-dark-grey: #585e62; // For default buttons, accordion subtitles
$qg-dark-grey1: #939393; // For default buttons
$qg-dark-grey-dark: #4a4a4a;
$qg-dark-grey-darker: #212529;

// ## Light grey ##
$qg-light-gray-lighter: #fafafa;
$qg-light-gray-lighter1: #f9f9f9; //list box background
$qg-light-gray: #f6f6f6; // Primary brand light grey
$qg-light-gray-darker: #d1d1d1;
$qg-grey-light: #f6f6f6; //Header light grey
// $qg-light-gray-darker: #707070; // Dark grey

$qg-purple: #7954a3;
$qg-gold: #ffd200;

// ## Red ##
$qg-red: #F85C50;

// ## Dark Blue ##
$qg-dark-blue: #0B2E4C;
$qg-dark-blue2: #005474;


// ###################################

// Light blue colours
$qg-pale-blue-darker:   #cde8ec;
$qg-pale-blue:          #e7f5fe;

$qg-pale-blue-dark:     #cecece;
$qg-pale-blue-light:    #f2f7f9;

$qg-blueberry: #759BF3;


//Other colours
$qg-light-lime: #F2F7EA;
$qg-lime: #9CBF6D;

$qg-light-peach: #FFEDDE;
$qg-peach: #f8ae70;

$qg-light-watermelon: #FEECEF;
$qg-watermelon: #EA6A7E;

$qg-beige: #F5EBDC;
$qg-dark-beige: #AE8446;
$qg-beige-light: #faebcc;
$qg-beige-light1: #fcf8e3;

$qg-mustard: #F8D87B;
$qg-mustard-dark: #f2cb58;

$qg-brown: #8a6d3b;

// #################################################
// ## Semantic colour Variables
// Semantic variables names common element colours. Use these in your SCSS
// Note: Use US spelling for colour

// ## Components
$qg-icon-color:         $qg-green;

$brand-success:         #9ebf6d; // #5cb85c;
$brand-info:            #1E77AA;
$brand-warning:         #f9af71;
$brand-danger:          #B90824; //#fff;

$state-success-bg:      #f2f7ea;
$state-success-border:  darken(adjust-hue($state-success-bg, -10), 5%) !default;
$state-info-bg:         #eff5f6;
$state-info-border:     darken(adjust-hue($state-success-bg, -10), 5%) !default;
$state-warning-bg:      #ffedde;
$state-warning-border:  darken(adjust-hue($state-success-bg, -10), 5%) !default;
$state-danger-bg:       #B90824;
$state-danger-border:   darken(adjust-hue($state-success-bg, -10), 5%) !default;

// $qg-warning-color: #cc352d;
$qg-correct-color: $qg-green;
$qg-correct-border-color: #92c23a; // #a6c56d;
$qg-correct-bg-color: #fafff2; // #fafff0; // #f7ffe8;

$qg-incorrect-color: #d22d24; // #cc352d;
$qg-incorrect-border-color: #d4534c; // #d06060;
$qg-incorrect-bg-color: #fffafa; // #fff6f5; // #ffe2e0;


// ## Layout
// Site header
$qg-breadcrumb-bg-color: $qg-blue;
$qg-site-header-bg-color: $qg-light-gray;

// Section Nav
$qg-section-nav-bg-color: $qg-light-gray;
$qg-section-nav-link-hover-bg-color: $qg-light-gray-darker;

// Asides
$qg-aside-bg-color: $qg-pale-blue;
$qg-aside-bg-color2: $qg-pale-blue-light;
$qg-aside-bg-color3: $qg-pale-blue-dark;
$qg-aside-h2-color: $qg-dark-blue2;

// Content options
$qg-content-options-bg-color: $qg-blue;
$qg-feedback-btn-bg-color: $qg-blue-darker;
$qg-feedback-bg-color: $qg-light-gray-lighter;
$qg-content-options-share-icon-color: #fff;
// Note: Share dropdown uses colours from bootstrap

// Footer
$qg-footer-bg-color: $qg-dark-blue;
$qg-footer-bg-alt-color: $qg-dark-blue;

// ### Components ###
// Navs
// Tabs
$qg-nav-tabs-link-hover-bg: $qg-dark-grey;
$qg-nav-tabs-link-hover-color: #fff;

// ###################################
// Rulers & spacing

$qg-max-container-width: 1327px;

$qg-spacing: 50px; // Note: Used by $grid-gutter-width
$qg-spacing-large: $qg-spacing * 1.5;
$qg-spacing-small: $qg-spacing * 0.5;

$qg-spacing-xs: 30px;
$qg-spacing-xs-large: $qg-spacing-xs * 1.5;
$qg-spacing-xs-small: $qg-spacing-xs * 0.5;


// Notes:
// $brand-danger = $qg-red5
$qg-error-red: $qg-red;

// #################################################
// To convert to bootstrap naming convention
$qg-light-blue-gray3: #EEF4F6;
$qg-blue5: #115289;
$qg-blue-green: #005375;
//component variables
$qg-box-background: $qg-light-blue-gray3;

// pagination
$qg-pagination-border: #808080;
$qg-pagination-link-color: $qg-blue-dark;
$qg-pagination-disabled-color: #6c757d;

//tables
$tables-tbody-background-color: #f3f3f3;
$tables-thead-background-color: $qg-blue-dark;
$tables-odd-background-color: #f3f3f3;
$tables-thead-background-color: $qg-blue-dark;
$tables-thead-color: #FFFFFF;
$tables-odd-background-color: #f3f3f3;
$tables-even-background-color: #ffffff;
$tables-paging-full-numbers-link-paginate-button-border-color: #aaaaaa;
$tables-paging-full-numbers-link-paginate-button-color: #666666;
$tables-paging-full-numbers-link-paginate-button-background-color: #dddddd;
$tables-paging-full-numbers-link-paginate-button-hover-background-color: #cccccc;
$tables-paging-full-numbers-link-paginate-active-background-color: #99B3FF;
$tables-processing-border-color: #dddddd;
$tables-processing-color: #999999;
$tables-paginate-disabled-previous-color: #939393;
$tables-paginate-enabled-previous-next-color: #111111;

// forms
$fontFace: inherit;
$defaultRem: 1.3rem;

$labelHeadingColour: #000;
$labelHeadingSize: 20px;
$labelHeadingWeight: 900;

$labelSize: 16px;
$labelColour: #000;
$labelWeight: 600;

$hintSize: 16px;
$hintColour: #767676 !important;
$hintWeight: 400;
$borderRadius: 4px;
$borderWidth: 2px;
$checkboxWeight: 400;

$inputHeight: 46px;
$inputWidth: 100%;
$inputBackground: #fff;

$SecondaryColor: #005e85 !important;
$buttonSecondaryBackground: transparent;
$buttonSecondaryBorder: 3px solid $SecondaryColor;

$defaultBorder: #ebebeb;
$disabledBorder: #ebebeb;
$focusBorderColor: #80bdff;
$focusBoxShadow: #007BFF3F;
$alertBorder: #ed1b2f;
$alertDangerBackground: #fdf0f0;
$alertWarningBorder: #f9af71;
$alertWarningBackground: #ffedde;


// Global colours

// ## Global Primary Colours
$qg-global-primary: #005e85;
$qg-global-primary-dark: #063652;
$qg-global-primary-darker: #212529;
$qg-global-primary-light: #eff2f4;
$qg-global-primary-hover:#CCDFE7;

// ## Greyscale of Global Primary Colours
$qg-global-primary-grey: #565656;
$qg-global-primary-dark-grey: #313131;
$qg-global-primary-darker-grey: #292929;
$qg-global-primary-light-grey: #f3f3f3;
$qg-global-primary-hover-grey:#CCC;

// ## Global Prominent Colours
$qg-global-prominent: $qg-light-green;

// ## Dark grey
$qg-global-dark-grey-active: #373737;
$qg-global-dark-grey-dark-active: #303030;
$qg-global-primary-accessible-grey: #767676; // Alternative of $qg-pagination-border as it's not accessible on white background
$qg-light-gray-dark: #efefef;

// ## Red
$qg-global-error: #d60000;

// ## Social Media
$qg-facebook: #3b5998;
$qg-twitter: #1da1f2;
$qg-linkedin: #0077b5;

@mixin on-hover() {
  &:hover, &.hover {
    &:not(:disabled, .disabled) {
      @content;
    }
  }
}

@mixin on-active() {
  &:active,
  &:focus, &.focus,
  &:focus-visible, &:focus-within {
    &:not(:disabled, .disabled) {
      @content;
    }
  }
}

@mixin on-hover-or-active() {
  &:hover, &.hover, &:active, &:focus, &.focus, &:focus-visible,
  &.active:active, &.active:hover, &.active:focus, &.active:focus-visible {
    &:not(:disabled, .disabled) {
      @content;
    }
  }
}

// new link variables
@mixin qg-link-underline {
  text-decoration-line: underline;
  text-decoration-style: solid;
  &:not(span[role=link] *) {
    text-underline-offset: $text-underline-offset;
  }
}
@mixin _qg-link-underline-thicker {
  @include qg-link-underline;
  text-decoration-thickness: 2px;
}
@mixin qg-underline-on-highlight-decoration {
  // apply a 2px underline on hover/focus/active
  @include on-hover-or-active {
    @include _qg-link-underline-thicker;
    @content;
    // ensure spans within links follow their parent
    span.title {
      @include _qg-link-underline-thicker;
      @content;
    }
  }
}
@mixin qg-link-decoration {
  @include qg-link-underline;
  text-decoration-thickness: 0.5px;
}
@mixin qg-link-visited-decoration ($visitedColor: #80b) {
  &:visited {
    color: $visitedColor;
    text-decoration-color: currentColor;
  }
}
@mixin all-states {
  // Apply styling to all element states, without using !important.
  // This is primarily to help override Bootstrap defaults,
  // since specific states take priority over rules without states.
  &:hover, &:not(:hover) {
    &:focus, &:not(:focus) {
      &:active, &:not(:active) {
        &:disabled, &:not(:disabled) {
          @content;
        }
      }
    }
  }
}

$text-underline-offset: 5px;

@mixin qg-button-outline-decoration ($margin: 2px) {
  // Surround buttons and links with a blue outline when active/focused
  @include on-active {
    outline-width: 3px;
    outline-style: solid;
    outline-color: $qg-active-outline;
    outline-offset: 2px;
    @content;
    * {
      // don't apply an extra outline to any children
      outline-style: none !important;
    }
  }
  // apply margin to accommodate border on active/focus,
  // unless we're inside a context where exact positioning matters
  &:not(#ict-tabcontainer *, #tabbed-nav *) {
    margin: $margin;
    margin-left: 0
  }
}
