#qg-site-header, #qg-site-header:after, .qg-site-footer {
    background-color: $qg-global-primary;
}

.btn-global-primary {
    background-color: $qg-global-primary-dark;
}

.btn-global-primary-white {
    color: $qg-global-primary-dark;
}

.qg-show-menu, .qg-show-search {
    &[aria-expanded="true"] {
        .fa {
            color: $qg-global-primary;
        }
    }
}

.qg-breadcrumb-list-item__link {
    color: $qg-global-primary-darker;
    
    &[href]:hover, &[href]:focus {
        color: $qg-global-primary-dark;
    }
}

@include media-breakpoint-down(sm) {
    #qg-site-nav {

		ul {
            background-color: $qg-global-primary-light;
        }

        a, a:link, a:visited {
            color: $qg-global-primary-darker;
        }
    }

    .header-location {
        background-color: $qg-global-primary-light;
    }
}