<button class="btn btn-global-primary detect-location" type="button">Use device location</button>
<span class="qg-location-setter-divider">or</span>
<form class="qg-location-setter-form" action="#">
    <label>Start typing your town or suburb</label>
    <p class="qg-location-setter-error error hide">Please enter a location into the search box and try searching again.</p>
    <input type="text" aria-label="Start typing your town or suburb, e.g. Cooladdi" data-choice="" placeholder="e.g. Cooladdi"/>
    <div class="qg-location-setter-autocomplete hide">
        <ul>
            <li><button><b>Coola</b>bine, Sunshine Coast Regional</button></li>
            <li><button><b>Coola</b>bunia, South Burnett Regional</button></li>
            <li><button><b>Coola</b>ddi, Murweh Shire</button></li>
            <li><button><b>Coola</b>na, Somerset Regional</button></li>
            <li><button><b>Coola</b>ngatta, Gold Coast City</button></li>
        </ul>
    </div>
    <button class="btn btn-global-primary set-location" type="button">Set location</button>
</form>
