.unslider {
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
  .unslider-arrow.prev {
    left: 87%;
  }
  .unslider-action {
    left: 93%;
    position: absolute;
    &.hide{
      display: none;
    }
    &.show{
      display: none;
    }
  }
  .unslider-play {
   display: none;
  }
  .unslider-arrow.next {
    right: 0;
  }
}
.unslider-nav ol {
  text-align: center;
  li{
    display: inline-block;
    float: none;
    width: 6px;
    height: 6px;
    margin: 0 4px;
    padding: 3px;
    background: transparent;
    border-radius: 5px;
    overflow: hidden;
    text-indent: -999em;
    border: 2px solid #000;
    cursor: pointer;
    opacity: .4;
    &.unslider-active{
      background: #000;
      cursor: default;
      opacity: 1;
    }
  }
}
