.qg-accordion {
  &.qg-dark-accordion article {
    background-color: #f5f5f5;
  }
  .qg-acc-controls{
    text-align: right;
    margin-bottom: 0.4em;
    a{
      text-decoration: none !important;
      padding: 0 0.7rem;
      color: $qg-blue-dark !important;
      font-weight: bold;
      display: inline-block;
    }
  }
  //label selector is to provide backward compatibility in case projects are using old markup
  label[for="expand"], label[for="collapse"] {
    text-decoration: none !important;
    padding: 0 0.7rem;
    color: $qg-blue-dark !important;
    font-weight: bold;
    display: inline-block;
  }
  .expand, .collapse, label[for="expand"], label[for="collapse"] {
    &:hover {
      text-decoration: underline !important;
    }
  }
  .ht{
    text-decoration: underline;
  }
  article {
    position: relative;
    width: 100%;
    color: $black;
    overflow: hidden;
    border: 0;
    border-bottom: 1px solid #dedede;
    &:last-child {
      border-bottom: 1px solid $qg-light-gray;
    }
    .acc-heading {
      margin: 5px;
      position: relative;
      padding: 0.6rem 0.7rem;
      .title{
        display: block;
        &:hover {
          text-decoration: underline;
        }
      }
      label {
        position: relative;
        display: block;
        font-weight: bold;
        cursor: pointer;
        font-size: 1rem;
        padding: inherit;
        color: #13578b;
        padding-right: 2rem;
        margin-bottom: 0;
      }
      img, .fa {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        left: 1rem;
        + label{
          padding-left: 2.7rem;
        }
      }
      img {
        width: 1.8em;
        height: auto;
      }
      .subtitle {
        @include rem(font-size, 16px);
        font-weight: 400;
        display: block;
        margin-top: 0.3rem;
        color: #000;
      }
    }
  }
  .collapsing-section {
    background: #fff;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 900ms, opacity 900ms;
    border: 0;
    padding-left: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: none;
    p {
      margin-top: 0 !important;
    }
  }
  input[name=tabs],input[name=control] {
    position: absolute;
    opacity: 0;
    z-index: -1;
    &:checked ~ .collapsing-section {
      max-height: inherit;
      visibility: visible;
      opacity: 1;
      transition: visibility 0s linear 0s, opacity 900ms;
      display: block;
    }
    &[type=checkbox]:checked + .acc-heading label i {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }
    &[type=checkbox]:checked + .acc-heading .title{
      text-decoration: underline;
    }
    &.expand:checked ~ article {
      .collapsing-section {
        max-height: inherit;
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0s, opacity 900ms;
      }
    }
  }
  .arrow {
    position: absolute;
    top: 34%;
    line-height: 0;
    right: 8px;
    i {
      border: solid #007EB1;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      transition: all .35s;
    }
  }
}
@media screen and (max-width: 640px) {
  .qg-accordion .acc-heading {
    font-size: 1em;
  }
}

// IOS safari specific styles
@media not all and (min-resolution:.001dpcm) {
  .qg-accordion .acc-heading:focus, .qg-accordion .expand:focus, .qg-accordion .collapse:focus {
    outline: 1px dotted $qg-blue;
  }
}
