.qg-accordion {
  article {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: $black;
    overflow: hidden;
    border-top: 1px solid $qg-light-gray;
    &:last-child {
      border-bottom: 1px solid $qg-light-gray;
    }
    .acc-heading {
      margin: 0;
      position: relative;
      label {
        position: relative;
        display: block;
        font-weight: bold;
        padding: 30px 50px 30px 0;
        cursor: pointer;
      }
      img, .fa {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        + label{
          padding: 30px 50px;
        }
      }
      img {
        width: 1.8em;
        height: auto;
      }
    }
  }
  .collapsing-section {
    max-height: 0;
    overflow: hidden;
    padding-left: 30px;
    border-left: 15px solid $qg-light-gray;
    margin-left: 5px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 900ms, opacity 900ms;

    p {
      margin-top: 0 !important;
    }
  }
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    &:checked ~ .collapsing-section {
      max-height: inherit;
      visibility: visible;
      opacity: 1;
      transition: visibility 0s linear 0s, opacity 900ms;
    }
    &[type=checkbox]:checked + .acc-heading label i {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }
  }
  .arrow {
    background: $qg-light-gray;
    right: 0;
    position: absolute;
    top: 34%;
    line-height: 0;
    padding: 0.5em;
    border-radius: 50%;
    i {
      border: solid #007EB1;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      transition: all .35s;
    }
  }
}
@media screen and (max-width: 640px) {
  .qg-accordion .acc-heading {
    font-size: 1em;
  }
}
