.qg-accordion {
  &.qg-dark-accordion .acc-heading {
    background-color: #f5f5f5;
  }
  .controls {
    float: right;
    padding: 0 0.5rem;
    color: $qg-blue-dark;
    font-weight: bold;
  }
  article {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: $black;
    overflow: hidden;
    border: 0;
    border-bottom: 1px solid #dedede;
    &:last-child {
      border-bottom: 1px solid $qg-light-gray;
    }
    .acc-heading {
      margin: 0;
      position: relative;
      padding: 0.4rem 0.7rem;
      label {
        position: relative;
        display: block;
        font-weight: bold;
        cursor: pointer;
        font-size: 1rem;
        padding: inherit;
        color: #13578b;
        padding-right: 2rem;
      }
      img, .fa {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        left: 1rem;
        + label{
          padding-left: 2.7rem;
        }
      }
      img {
        width: 1.8em;
        height: auto;
      }
      .subtitle {
        @include rem(font-size, 16px);
        font-weight: 400;
        display: block;
        margin-top: 0.3rem;
        color: #000;
      }
    }
  }
  .collapsing-section {
    max-height: 0;
    overflow: hidden;
    margin-left: 5px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 900ms, opacity 900ms;
    border: 0;
    padding-left: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: none;
    p {
      margin-top: 0 !important;
    }
  }
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    &:checked ~ .collapsing-section {
      max-height: inherit;
      visibility: visible;
      opacity: 1;
      transition: visibility 0s linear 0s, opacity 900ms;
      display: block;
    }
    &[type=checkbox]:checked + .acc-heading label i {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }
    &.expand:checked ~ article {
      .collapsing-section {
        max-height: inherit;
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0s, opacity 900ms;
      }
    }
  }
  .arrow {
    right: 0;
    position: absolute;
    top: 34%;
    line-height: 0;
    padding: 0.5em;
    i {
      border: solid #007EB1;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      transition: all .35s;
    }
  }
}
@media screen and (max-width: 640px) {
  .qg-accordion .acc-heading {
    font-size: 1em;
  }
}
