.qg-accordion {
  &.qg-accordion-v2{
    article{
      border: 1px solid gray;
      &:last-child {
        border-bottom: 1px solid gray !important;
      }
      & + article{
        border-top:none;
      }
      .collapsing-section {
        border-top: 1px solid gray;
        padding: 1rem;
        & *:first-child {
          margin-top: 0;
        }
        & *:last-child {
          margin-bottom: 0;
        }
      }
      .acc-heading{
        padding: 1rem;
        .title {
          color: $qg-blue-dark;
          text-decoration-line: underline;
          font-weight: bold;
          padding-right: 1.8rem;
        }
        .qg-accordion--ga:after {
          content: ' ';
          position: absolute;
          top: 50%;
          margin-top: rem(-9px);
          right: rem(16px);
          width: rem(14px);
          height: rem(14px);
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%2300698f' d='M64 0l64 64-16 16-64-64'/%3E%3Cpath fill='%2300698f' d='M64 0l16 16-64 64L0 64'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center;
          z-index: 101;
          transition: transform 0.25s ease-in;
        }
        .accordion-label {
          display: inline-block;
        }
        img + .accordion-label{
          display: block;
          margin-left: 2.5rem;
          margin-bottom: 0;
        }
      }
      .qg-accordion--open .qg-accordion--ga:after{
        transform: rotate(0deg);
      }
      .qg-accordion--closed .qg-accordion--ga:after{
        transform: rotate(-180deg);
      }
      .qg-accordion--open + .collapsing-section {
        display: block;
        visibility: inherit;
        opacity: inherit;
        max-height: inherit;
      }
    }
  }
  button {
    @include qg-button-outline-decoration {
      z-index: 100;
    }
  }
  &.qg-dark-accordion article {
    background-color: #f5f5f5;
  }
  .qg-acc-controls{
    text-align: right;
    margin-bottom: 0.4em;
    button{
      border: none;
      background: none;
      color: $qg-blue-dark !important;
      font-weight: 700;
    }
    a{
      text-decoration-line: none !important;
      padding: 0.4rem 0.7rem;
      @include qg-link-unvisited-color($qg-blue-dark !important);
      font-weight: bold;
      display: inline-block;
    }
    .collapse:not(.show) {
      display: inline;
    }
  }
  //label selector is to provide backward compatibility in case projects are using old markup
  label[for="expand"], label[for="collapse"] {
    text-decoration-line: none !important;
    padding: 0 0.7rem;
    color: $qg-blue-dark !important;
    font-weight: bold;
    display: inline-block;
  }
  .expand, .collapse, label[for="expand"], label[for="collapse"] {
    &:hover, &.hover {
      text-decoration-line: underline !important;
    }
  }
  .ht{
    text-decoration-line: underline;
  }
  article {
    position: relative;
    width: 100%;
    color: $black;
    border-bottom: 1px solid #dedede;
    &:last-child {
      border-bottom: none;
    }
    .acc-heading {
      position: relative;
      padding: 0.6rem 0.7rem;
      width: 100%;
      background: transparent;
      border:none;
      text-align:left;
      .title{
        display: block;
        &:hover {
          text-decoration-line: underline;
        }
      }
      label {
        position: relative;
        display: block;
        font-weight: bold;
        cursor: pointer;
        font-size: 1rem;
        padding: inherit;
        color: $qg-blue-dark;
        padding-right: 2rem;
        margin-bottom: 0;
      }
      img, .fa {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        left: 1rem;
        + label{
          padding-left: 2.7rem;
        }
      }
      img {
        width: 1.8em;
        height: auto;
      }
      .subtitle {
        @include rem(font-size, 16px);
        font-weight: 400;
        display: block;
        margin-top: 0.3rem;
        color: #000;
        margin-right:1rem;
      }
    }
  }
  .collapsing-section {
    background: white;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 900ms, opacity 900ms;
    border: 0;
    padding: 1rem 2.5rem;
    display: none;
    p {
      margin-top: 0 !important;
    }
  }
  input[name=tabs],input[name=control] {
    position: absolute;
    opacity: 0;
    z-index: -1;
    &:checked ~ .collapsing-section {
      max-height: inherit;
      visibility: visible;
      opacity: 1;
      transition: visibility 0s linear 0s, opacity 900ms;
      display: block;
    }
    &[type=checkbox]:checked + .acc-heading label i {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }
    &[type=checkbox]:checked + .acc-heading .title{
      text-decoration-line: underline;
    }
    &.expand:checked ~ article {
      .collapsing-section {
        max-height: inherit;
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0s, opacity 900ms;
      }
    }
  }
  .arrow {
    position: absolute;
    top: 34%;
    line-height: 0;
    right: 8px;
    i {
      border: solid #007EB1;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      transition: all .35s;
    }
  }
}
@media screen and (max-width: 640px) {
  .qg-accordion .acc-heading {
    font-size: 1em;
  }
}

// IOS safari specific styles
@media not all and (min-resolution:.001dpcm) {
  .qg-accordion .acc-heading:focus, .qg-accordion .acc-heading.focus {
    outline: 2px solid $qg-blue;
  }
  .qg-accordion .expand:focus, .qg-accordion .expand:active, .qg-accordion .collapse:focus, .qg-accordion .collapse:active,
  .qg-accordion .expand.focus, .qg-accordion .expand.active, .qg-accordion .collapse.focus, .qg-accordion .collapse.active {
    outline: 2px solid $qg-blue !important;
    outline-offset: -2px;
  }
}
