<section class="qg-callout__box qg-callout__grey-theme">
  <div class="qg-callout__content col-12">
    <div class="qg-callout__right-alignment">
      <div class="qg-callout__description">
        <div>
          <p>
            If you are travelling overseas, check with&nbsp;<a href="#">Smartraveller</a>, the
            Australian Government’s travel advisory service for countries, issues and events that
            can affect your international holiday. You can register your travel plans, get advice on
            travel insurance, and subscribe to travel advice updates.
          </p>
        </div>
      </div>
      <div class="qg-callout__image">
        <img
          src="https://www.forgov.qld.gov.au/__data/assets/image/0023/240467/481-100x130.jpeg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
