<p class="actions">
  <a class="qg-btn button" href="http://example.com">'qg-btn' link</a>
  <a class="btn button" href="http://example.com">'btn' link</a>
  <a class="button" href="http://example.com">'button' link</a>
</p>

<p class="actions">
  <strong>
    <a class="qg-btn button" href="http://example.com">Strong 'qg-btn' link</a>
    <a class="btn button" href="http://example.com">Strong 'btn' link</a>
    <a class="button" href="http://example.com">Strong 'button' link</a>
  </strong>
</p>
