<div class="d-flex flex-column actions">
  <div class="mb-2">
    <a class="qg-btn button" href="http://example.com">'qg-btn' link</a>
  </div>
  
  <div class="mb-2">
    <a class="btn button" href="http://example.com">'btn' link</a>
  </div>
  
  <div class="mb-2">
    <a class="button" href="http://example.com">'button' link</a>
  </div>
</div>

<div class="d-flex flex-column actions">
  
  <div class="mb-2">
    <strong>
      <a class="qg-btn button" href="http://example.com">Strong 'qg-btn' link</a>
    </strong>
  </div>

  <div class="mb-2">
    <strong>
      <a class="btn button" href="http://example.com">Strong 'btn' link</a>
    </strong>
  </div>

  <div class="mb-2">
    <strong>
      <a class="button" href="http://example.com">Strong 'button' link</a>
    </strong>
  </div>

</div>