<button type="button" class="qg-btn btn-primary" disabled="">
  <span class="spinner-border" role="status"><span class="sr-only">Submitting</span></span>
  Submitting
</button>
<button type="button" class="qg-btn btn-secondary" disabled="">
  <span class="spinner-border" role="status"><span class="sr-only">Saving</span></span> Saving
</button>
<button type="button" class="qg-btn btn-default" disabled="">
  <span class="spinner-border" role="status"><span class="sr-only">Downloading</span></span>
  Downloading
</button>
<button type="button" class="qg-btn btn-outline-dark" disabled="">
  <span class="spinner-border" role="status"><span class="sr-only">Processing</span></span>
  Processing
</button>
