{
  "ignorePatterns": [
    // Linting source and exclusions
    "src/assets/_project/lib/ext/", //Ignore external libraries
    "src/assets/_project/_blocks/legacy/*", //Ignore legacy
    "storybook-static/*", //Ignore Storybook
    "node_modules/*",
    "release/*",
    "docs/*",
    "build/*",
    "e2e/**",
    "dist/*"
  ],
  "globals": {
    "jQuery": true,
    "$": true,
    "describe": false,
    "it": false,
    "expect": false,
    "$on": false,
    "beforeEach": false
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": ["standard"],
  "rules": {
    "indent": [1, 2],
    "one-var": "off",
    "no-tabs": "off",
    "no-path-concat": "off",
    "valid-jsdoc": "warn",
    "spaced-comment": "off",
    "space-before-blocks": "off",
    "space-before-function-paren": "off",
    "comma-dangle": [1, "always-multiline"],
    "eol-last": "warn",
    "no-multi-spaces": [
      2,
      {
        "exceptions": {
          "Property": true,
          "VariableDeclarator": true,
          "ImportDeclaration": true,
          "ObjectExpression": true
        }
      }
    ],
    "no-warning-comments": "warn",
    "semi": ["error", "always"],
    "no-extra-semi": "error",
    "no-mixed-spaces-and-tabs": "warn",
    "no-useless-escape": "off",
    //This is to keep the peace till major standard alteratons occur
    "array-callback-return": "warn",
    "eqeqeq": "warn",
    "new-cap": "warn",
    "no-cond-assign": "warn",
    "no-new-wrappers": "warn",
    "no-mixed-operators": "warn",
    "no-prototype-builtins": "warn",
    "no-return-assign": "warn",
    "no-redeclare": "warn",
    "no-sequences": "warn",
    "no-sparse-arrays": "warn",
    "no-unused-expressions": "warn",
    "no-undef": "warn",
    "no-void": "warn",
    "prefer-regex-literals": "warn",
    //End keep the peace
    "camelcase": "off"
  },
  "overrides": [
    {
      "files": [
        "e2e/__tests__/**/*-test.js",
        "jest.setup.js"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}
