.alert {
  position: relative;
  color: #000;

  h2 {
    margin-top: 5px;
    font-size: 1.2em;
  }

  &.alert-danger {
    color: #fff !important;
    border-left: 5px solid $brand-danger;
    background-color: #b90824;
    a {
      color: #FF0;
    }
  }
  &.alert-success {
    border: none;
    border-left: 5px solid $brand-success;
    background-color: #f2f7ea;
  }
  &.alert-info {
    border: none;
    border-left: 5px solid $brand-info;
    background-color: #eff5f6;
  }
  &.alert-warning {
    border: none;
    border-left: 5px solid $brand-warning;
    background-color: #ffedde;
  }
  &.alert-success, &.alert-info, &.alert-warning, &.alert-tip, &.alert-danger{
    font-weight: normal;
    color: #000;
    margin: 0;
    border-radius: 0;
    padding: 0.75rem 1.25rem;
    h2{
      i {
        @include rem(font-size, 24px);
        margin-right: 10px;
      }
    }
  }

}

.status{
  margin: 24px 0 24px 0 !important;
  & > .inner {
      margin-left: 32px;
     h3{
       margin-top: 5px;
     }
    ul {
      padding-left: 0;
    }
  }
  &.warn {
    border-color: #f9af71 !important;
  }
  &.success , &.info, &.tip , &.warn, &.global-info{
    position: relative;
    border: 0;
    border-left: 5px solid;
    padding: 1em;
    &:before, &:hover:before {
      @include rem(font-size, 24px);
      margin-left: -14px;
      top: 6px;
      color: #000;
    }
  }
  &.success {
    border-color: #9ebf6d;
  }
  &.info, &.tip{
    border-color: $brand-info;
  }
  &.global-info {
    border-color: $brand-info;
    background-color: $state-info-bg;
  }
}
