<table title="acronym examples" class="table">
  <caption>
    Applied to rows
  </caption>
  <thead>
    <tr>
      <th>Acronyms</th>
      <th>Accessibility</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="qg-incorrect">
        <span class="qg-blank-notice sr-only">Incorrect.</span>
        A.T.O
      </td>
      <td class="qg-incorrect">
        <span class="qg-blank-notice sr-only">Incorrect.</span>
        Eg.
      </td>
    </tr>
    <tr>
      <td class="qg-correct">
        <span class="qg-blank-notice sr-only">Correct.</span>
        ATO
      </td>
      <td class="qg-correct">
        <span class="qg-blank-notice sr-only">Correct.</span>
        Example
      </td>
    </tr>
  </tbody>
</table>
<table title="acronym examples" class="table qg-correct-incorrect">
  <caption>
    Applied to columns
  </caption>
  <thead>
    <tr>
      <th>Not this</th>
      <th>This</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <span class="qg-blank-notice sr-only">Correct.</span>
        Lorem ipsum dolor sit amet
      </td>
      <td>
        <span class="qg-blank-notice sr-only">Incorrect.</span>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi culpa dignissimos.
      </td>
    </tr>
    <tr>
      <td>
        <span class="qg-blank-notice sr-only">Correct.</span>
        Lorem ipsum dolor sit amet
      </td>
      <td>
        <span class="qg-blank-notice sr-only">Incorrect.</span>
        Lorem ipsum dolor sit amet
      </td>
    </tr>
  </tbody>
</table>
