<div class="qg-correct" alt="Correct example">
  <span class="qg-blank-notice sr-only">Correct.</span>
  <p>Eligible drink containers between 150mL and 3L:</p>
  <ul>
    <li>aluminium</li>
    <li>glass</li>
    <li>plastic</li>
    <li>steel</li>
    <li>liquid paperboard.</li>
  </ul>
</div>
<div class="qg-incorrect" alt="Incorrect example">
  <span class="qg-blank-notice sr-only">Incorrect.</span>
  <p>Non-eligible drink containers:</p>
  <ul>
    <li>plain milk containers</li>
    <li>glass containers which have contained wine or pure spirits</li>
    <li>
      large containers (1L or more) which have contained flavoured milk, pure juice, cask wine or
      cask water
    </li>
    <li>cordial or vegetable juice containers</li>
    <li>sachets above 250ml which have contained wine</li>
    <li>registered health tonics.</li>
  </ul>
</div>
