<form class="qg-forms-v2" novalidate="true">
  <fieldset class="pb-4">
    <ol class="questions">
      <li>
        <fieldset>
          <ul class="choices compact rc-theme">
            <li>
              <input
                class="regular-checkbox big-checkbox"
                id="conditions-of-use1"
                value="true"
                name="conditions-of-use"
                type="checkbox"
              />
              <label for="conditions-of-use1" class="rc-theme__label">
                <span class="rc-theme__label-desc">Lorem ipsum dolor sit amet.</span>
              </label>
            </li>
            <li>
              <input
                class="regular-checkbox big-checkbox"
                id="conditions-of-use2"
                value="true"
                name="conditions-of-use"
                type="checkbox"
              />
              <label for="conditions-of-use2" class="rc-theme__label">
                <span class="rc-theme__label-desc">Lorem ipsum dolor sit amet.</span>
              </label>
            </li>
            <li>
              <input
                class="regular-checkbox big-checkbox"
                id="conditions-of-use4"
                value="true"
                name="conditions-of-use"
                type="checkbox"
                disabled=""
              />
              <label for="conditions-of-use4" class="rc-theme__label">
                <span class="rc-theme__label-desc">Lorem ipsum dolor sit amet.</span>
              </label>
            </li>
          </ul>
        </fieldset>
      </li>
    </ol>

    <ol class="questions">
      <li>
        <p class="mb-0">Example with an SVG icon.</p>
        <fieldset>
          <ul class="choices compact rc-theme">
            <li>
              <input
                id="conditions-of-use5"
                class="regular-checkbox big-checkbox"
                value="true"
                name="conditions-of-use1"
                type="checkbox"
              />
              <label for="conditions-of-use5" class="rc-theme__with-image">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="58"
                  height="58"
                  viewBox="0 0 32 32"
                >
                  <path
                    class="rc-theme__icon"
                    d="M30.148 5.588c-2.934-3.42-7.288-5.588-12.148-5.588-8.837 0-16 7.163-16 16s7.163 16 16 16c4.86 0 9.213-2.167 12.148-5.588l-10.148-10.412 10.148-10.412zM22 3.769c1.232 0 2.231 0.999 2.231 2.231s-0.999 2.231-2.231 2.231-2.231-0.999-2.231-2.231c0-1.232 0.999-2.231 2.231-2.231z"
                  ></path>
                </svg>
                <span class="rc-theme__label-desc">Lorem ipsum dolor sit amet.</span>
              </label>
            </li>
            <li>
              <input
                id="conditions-of-use6"
                class="regular-checkbox big-checkbox"
                value="true"
                name="conditions-of-use1"
                type="checkbox"
              />
              <label for="conditions-of-use6" class="rc-theme__with-image">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="58"
                  height="58"
                  viewBox="0 0 32 32"
                >
                  <path
                    class="rc-theme__icon"
                    d="M30.148 5.588c-2.934-3.42-7.288-5.588-12.148-5.588-8.837 0-16 7.163-16 16s7.163 16 16 16c4.86 0 9.213-2.167 12.148-5.588l-10.148-10.412 10.148-10.412zM22 3.769c1.232 0 2.231 0.999 2.231 2.231s-0.999 2.231-2.231 2.231-2.231-0.999-2.231-2.231c0-1.232 0.999-2.231 2.231-2.231z"
                  ></path>
                </svg>
                <span class="rc-theme__label-desc">Lorem ipsum dolor sit amet.</span>
              </label>
            </li>
            <li>
              <input
                id="conditions-of-use8"
                class="regular-checkbox big-checkbox"
                value="true"
                name="conditions-of-use1"
                type="checkbox"
                disabled=""
              />
              <label for="conditions-of-use8" class="rc-theme__with-image">
                <svg
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="58"
                  height="58"
                  viewBox="0 0 32 32"
                >
                  <path
                    class="rc-theme__icon"
                    d="M30.148 5.588c-2.934-3.42-7.288-5.588-12.148-5.588-8.837 0-16 7.163-16 16s7.163 16 16 16c4.86 0 9.213-2.167 12.148-5.588l-10.148-10.412 10.148-10.412zM22 3.769c1.232 0 2.231 0.999 2.231 2.231s-0.999 2.231-2.231 2.231-2.231-0.999-2.231-2.231c0-1.232 0.999-2.231 2.231-2.231z"
                  ></path>
                </svg>
                <span class="rc-theme__label-desc">Lorem ipsum dolor sit amet.</span>
              </label>
            </li>
          </ul>
        </fieldset>
      </li>
    </ol>
  </fieldset>
</form>
