<span>default</span>
<span>hover</span>
<span>focus</span>
<span>active</span>
<span>disabled</span>

<form><ol class="questions"><li><ol class="choices">
  <li>
    <input type="checkbox" id="default_checkbox_selected" name="default_checkbox" value="selected" checked></input>
    <label for="default_checkbox_selected">Selected</label>
  </li>
  <li>
    <input type="checkbox" id="default_checkbox_unselected" name="default_checkbox" value="unselected"></input>
    <label for="default_checkbox_unselected">Unselected</label>
  </li>
</ol></li></ol></form>
<form><ol class="questions"><li><ol class="choices">
  <li>
    <input type="checkbox" id="hover_checkbox_selected" name="hover_checkbox" value="selected" class="hover" checked></input>
    <label for="hover_checkbox_selected">Selected</label>
  </li>
  <li>
    <input type="checkbox" id="hover_checkbox_unselected" name="hover_checkbox" value="unselected" class="hover"></input>
    <label for="hover_checkbox_unselected">Unselected</label>
  </li>
</ol></li></ol></form>
<form><ol class="questions"><li><ol class="choices">
  <li>
    <input type="checkbox" id="focus_checkbox_selected" name="focus_checkbox" value="selected" class="focus" checked></input>
    <label for="focus_checkbox_selected">Selected</label>
  </li>
  <li>
    <input type="checkbox" id="focus_checkbox_unselected" name="focus_checkbox" value="unselected" class="focus"></input>
    <label for="focus_checkbox_unselected">Unselected</label>
  </li>
</ol></li></ol></form>
<form><ol class="questions"><li><ol class="choices">
  <li>
    <input type="checkbox" id="active_checkbox_selected" name="active_checkbox" value="selected" class="active" checked></input>
    <label for="active_checkbox_selected">Selected</label>
  </li>
  <li>
    <input type="checkbox" id="active_checkbox_unselected" name="active_checkbox" value="unselected" class="active"></input>
    <label for="active_checkbox_unselected">Unselected</label>
  </li>
</ol></li></ol></form>
<form><ol class="questions"><li><ol class="choices">
  <li>
    <input type="checkbox" id="disabled_checkbox_selected" name="disabled_checkbox" value="selected" checked disabled></input>
    <label for="disabled_checkbox_selected" disabled>Selected</label>
  </li>
  <li>
    <input type="checkbox" id="disabled_checkbox_unselected" name="disabled_checkbox" value="unselected" disabled></input>
    <label for="disabled_checkbox_unselected" disabled>Unselected</label>
  </li>
</ol></li></ol></form>

<form class="qg-forms-v2"><ol class="qg-forms-v2__checkbox">
  <li>
    <input type="checkbox" id="v2_default_checkbox_selected" name="default_checkbox" value="selected" checked></input>
    <label for="v2_default_checkbox_selected">Selected</label>
  </li>
  <li>
    <input type="checkbox" id="v2_default_checkbox_unselected" name="default_checkbox" value="unselected"></input>
    <label for="v2_default_checkbox_unselected">Unselected</label>
  </li>
</ol></form>
<form class="qg-forms-v2"><ol class="qg-forms-v2__checkbox">
  <li>
    <input type="checkbox" id="v2_hover_checkbox_selected" name="hover_checkbox" value="selected" class="hover" checked></input>
    <label for="v2_hover_checkbox_selected">Selected</label>
  </li>
  <li>
    <input type="checkbox" id="v2_hover_checkbox_unselected" name="hover_checkbox" value="unselected" class="hover"></input>
    <label for="v2_hover_checkbox_unselected">Unselected</label>
  </li>
</ol></form>
<form class="qg-forms-v2"><ol class="qg-forms-v2__checkbox">
  <li>
    <input type="checkbox" id="v2_focus_checkbox_selected" name="focus_checkbox" value="selected" class="focus" checked></input>
    <label for="v2_focus_checkbox_selected">Selected</label>
  </li>
  <li>
    <input type="checkbox" id="v2_focus_checkbox_unselected" name="focus_checkbox" value="unselected" class="focus"></input>
    <label for="v2_focus_checkbox_unselected">Unselected</label>
  </li>
</ol></form>
<form class="qg-forms-v2"><ol class="qg-forms-v2__checkbox">
  <li>
    <input type="checkbox" id="v2_active_checkbox_selected" name="active_checkbox" value="selected" class="active" checked></input>
    <label for="v2_active_checkbox_selected">Selected</label>
  </li>
  <li>
    <input type="checkbox" id="v2_active_checkbox_unselected" name="active_checkbox" value="unselected" class="active"></input>
    <label for="v2_active_checkbox_unselected">Unselected</label>
  </li>
</ol></form>
<form class="qg-forms-v2"><ol class="qg-forms-v2__checkbox">
  <li>
    <input type="checkbox" id="v2_disabled_checkbox_selected" name="disabled_checkbox" value="selected" checked disabled></input>
    <label for="v2_disabled_checkbox_selected" disabled>Selected</label>
  </li>
  <li>
    <input type="checkbox" id="v2_disabled_checkbox_unselected" name="disabled_checkbox" value="unselected" disabled></input>
    <label for="v2_disabled_checkbox_unselected" disabled>Unselected</label>
  </li>
</ol></form>
