<form class="qg-forms-v2" novalidate="true">
  <ol class="questions">
    <li>
      <fieldset>
        <legend>
          <span class="label">Flavours</span>
        </legend>
        <ul class="choices qg-forms-v2__checkbox">
          <li>
            <input type="checkbox" name="flavours" value="Chocolate" id="flavours-chocolate" />
            <label for="flavours-chocolate">Chocolate</label>
          </li>
          <li>
            <input type="checkbox" name="flavours" value="Strawberry" id="flavours-strawberry" />
            <label for="flavours-strawberry">Strawberry</label>
          </li>
          <li>
            <input type="checkbox" name="flavours" value="Vanilla" id="flavours-vanilla" />
            <label for="flavours-vanilla">Vanilla</label>
          </li>
          <li>
            <input
              type="checkbox"
              name="flavours"
              value="Blueberry"
              id="flavours-blueberry"
              disabled=""
            />
            <label for="flavours-blueberry">Blueberry</label>
          </li>
        </ul>
      </fieldset>
    </li>
  </ol>
</form>
