<form class="qg-forms-v2" novalidate="true">
  <div class="form-group">
    <p>To use the jQuery UI datepicker, add the class <code>.qg-date-input</code></p>
    <label for="jqueryui-date">Date</label>
    <div class="form-row">
      <div class="col-12 col-sm-4">
        <input type="text" class="qg-date-input hasDatepicker form-control" id="jqueryui-date" />
      </div>
    </div>
  </div>
  <div class="form-group pt-3">
    <p>To use the HTML5 datepicker, add <code>type="date"</code></p>
    <label for="html5-date">Date</label>
    <div class="form-row">
      <div class="col-12 col-sm-4">
        <input type="date" class="form-control" id="html5-date" placeholder="Password" />
      </div>
    </div>
  </div>
</form>
