<form class="qg-forms-v2" novalidate="true">
  <ol class="questions">
    <li>
      <label for="card-security-code">
        <span class="label">Card security code</span>
        <small class="hint"
          >3- or 4-digit code on the back of your card.
          <a class="help" href="#">What is a card security code?</a>
        </small>
      </label>
      <div class="form-row">
        <div class="col-3 col-md-2">
          <input
            class="form-control"
            label="Card security code"
            type="text"
            maxlength="4"
            size="4"
          />
        </div>
      </div>
    </li>
  </ol>
</form>
