<span>default</span>
<span>hover</span>
<span>focus</span>
<span>active</span>
<span>disabled</span>

<form class="qg-forms-v2"><ol class="qg-forms-v2__radio">
  <li>
    <input type="radio" id="default_radio_selected" name="default_radio" value="selected" checked></input>
    <label for="default_radio">Selected</label>
  </li>
  <li>
    <input type="radio" id="default_radio_unselected" name="default_radio" value="unselected"></input>
    <label for="default_radio">Unselected</label>
  </li>
</ol></form>
<form class="qg-forms-v2"><ol class="qg-forms-v2__radio">
  <li>
    <input type="radio" id="hover_radio_selected" name="hover_radio" value="selected" class="hover" checked></input>
    <label for="hover_radio">Selected</label>
  </li>
  <li>
    <input type="radio" id="hover_radio_unselected" name="hover_radio" value="unselected" class="hover"></input>
    <label for="hover_radio">Unselected</label>
  </li>
</ol></form>
<form class="qg-forms-v2"><ol class="qg-forms-v2__radio">
  <li>
    <input type="radio" id="focus_radio_selected" name="focus_radio" value="selected" class="focus" checked></input>
    <label for="focus_radio">Selected</label>
  </li>
  <li>
    <input type="radio" id="focus_radio_unselected" name="focus_radio" value="unselected" class="focus"></input>
    <label for="focus_radio">Unselected</label>
  </li>
</ol></form>
<form class="qg-forms-v2"><ol class="qg-forms-v2__radio">
  <li>
    <input type="radio" id="active_radio_selected" name="active_radio" value="selected" class="active" checked></input>
    <label for="active_radio">Selected</label>
  </li>
  <li>
    <input type="radio" id="active_radio_unselected" name="active_radio" value="unselected" class="active"></input>
    <label for="active_radio">Unselected</label>
  </li>
</ol></form>
<form class="qg-forms-v2"><ol class="qg-forms-v2__radio">
  <li>
    <input type="radio" id="disabled_radio_selected" name="disabled_radio" value="selected" checked disabled></input>
    <label for="disabled_radio" disabled>Selected</label>
  </li>
  <li>
    <input type="radio" id="disabled_radio_unselected" name="disabled_radio" value="unselected" disabled></input>
    <label for="disabled_radio" disabled>Unselected</label>
  </li>
</ol></form>
