<fieldset class="pb-4">
  <ol class="questions">
    <li>
      <fieldset>
        <ul class="choices compact rc-theme">
          <li>
            <input
              type="radio"
              name="current-test"
              value="Yes"
              required="required"
              id="current-test-yes-1"
            />
            <label for="current-test-yes-1" class="rc-theme__label">
              <span class="rc-theme__label-desc">Lorem ipsum dolor sit amet.</span>
            </label>
          </li>
          <li>
            <input
              type="radio"
              name="current-test"
              value="No"
              required="required"
              id="current-test-no-1"
            />
            <label for="current-test-no-1" class="rc-theme__label">
              <span class="rc-theme__label-desc">Lorem ipsum dolor sit amet.</span>
            </label>
          </li>
          <li>
            <input
              type="radio"
              name="current-test"
              value="No"
              required="required"
              id="current-test-no-2"
              disabled=""
            />
            <label for="current-test-no-2" class="rc-theme__label">
              <span class="rc-theme__label-desc">Lorem ipsum dolor sit amet.</span>
            </label>
          </li>
        </ul>
      </fieldset>
    </li>
  </ol>

  <ol class="questions">
    <li>
      <p class="mb-0">Example with an SVG icon.</p>
      <fieldset>
        <ul class="choices compact rc-theme">
          <li>
            <input
              type="radio"
              name="current-test1"
              value="Yes"
              required="required"
              id="current-test-yes"
            />
            <label for="current-test-yes" class="rc-theme__with-image">
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="58"
                height="58"
                viewBox="0 0 32 32"
              >
                <path
                  class="rc-theme__icon"
                  d="M30.148 5.588c-2.934-3.42-7.288-5.588-12.148-5.588-8.837 0-16 7.163-16 16s7.163 16 16 16c4.86 0 9.213-2.167 12.148-5.588l-10.148-10.412 10.148-10.412zM22 3.769c1.232 0 2.231 0.999 2.231 2.231s-0.999 2.231-2.231 2.231-2.231-0.999-2.231-2.231c0-1.232 0.999-2.231 2.231-2.231z"
                ></path>
              </svg>
              <span class="rc-theme__label-desc">Lorem ipsum dolor sit amet.</span>
            </label>
          </li>
          <li>
            <input
              type="radio"
              name="current-test1"
              value="Yes"
              required="required"
              id="current-test-no"
            />
            <label for="current-test-no" class="rc-theme__with-image">
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="58"
                height="58"
                viewBox="0 0 32 32"
              >
                <path
                  class="rc-theme__icon"
                  d="M30.148 5.588c-2.934-3.42-7.288-5.588-12.148-5.588-8.837 0-16 7.163-16 16s7.163 16 16 16c4.86 0 9.213-2.167 12.148-5.588l-10.148-10.412 10.148-10.412zM22 3.769c1.232 0 2.231 0.999 2.231 2.231s-0.999 2.231-2.231 2.231-2.231-0.999-2.231-2.231c0-1.232 0.999-2.231 2.231-2.231z"
                ></path>
              </svg>
              <span class="rc-theme__label-desc">Lorem ipsum dolor sit amet.</span>
            </label>
          </li>
          <li>
            <input
              type="radio"
              name="current-test1"
              value="No"
              required="required"
              id="current-test-no1"
              disabled=""
            />
            <label for="current-test-no1" class="rc-theme__with-image">
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="58"
                height="58"
                viewBox="0 0 32 32"
              >
                <path
                  class="rc-theme__icon"
                  d="M30.148 5.588c-2.934-3.42-7.288-5.588-12.148-5.588-8.837 0-16 7.163-16 16s7.163 16 16 16c4.86 0 9.213-2.167 12.148-5.588l-10.148-10.412 10.148-10.412zM22 3.769c1.232 0 2.231 0.999 2.231 2.231s-0.999 2.231-2.231 2.231-2.231-0.999-2.231-2.231c0-1.232 0.999-2.231 2.231-2.231z"
                ></path>
              </svg>
              <span class="rc-theme__label-desc">Lorem ipsum dolor sit amet.</span>
            </label>
          </li>
        </ul>
      </fieldset>
    </li>
  </ol>
</fieldset>
