<span>default</span>
<span>hover</span>
<span>focus</span>
<span>active</span>
<span>disabled</span>

<form><ol class="questions"><li><ol class="choices">
  <li>
    <input type="radio" id="default_radio_selected" name="default_radio" value="selected" checked></input>
    <label for="default_radio_selected">Selected</label>
  </li>
  <li>
    <input type="radio" id="default_radio_unselected" name="default_radio" value="unselected"></input>
    <label for="default_radio_unselected">Unselected</label>
  </li>
</ol></li></ol></form>
<form><ol class="questions"><li><ol class="choices">
  <li>
    <input type="radio" id="hover_radio_selected" name="hover_radio" value="selected" class="hover" checked></input>
    <label for="hover_radio_selected">Selected</label>
  </li>
  <li>
    <input type="radio" id="hover_radio_unselected" name="hover_radio" value="unselected" class="hover"></input>
    <label for="hover_radio_unselected">Unselected</label>
  </li>
</ol></li></ol></form>
<form><ol class="questions"><li><ol class="choices">
  <li>
    <input type="radio" id="focus_radio_selected" name="focus_radio" value="selected" class="focus" checked></input>
    <label for="focus_radio_selected">Selected</label>
  </li>
  <li>
    <input type="radio" id="focus_radio_unselected" name="focus_radio" value="unselected" class="focus"></input>
    <label for="focus_radio_unselected">Unselected</label>
  </li>
</ol></li></ol></form>
<form><ol class="questions"><li><ol class="choices">
  <li>
    <input type="radio" id="active_radio_selected" name="active_radio" value="selected" class="active" checked></input>
    <label for="active_radio_selected">Selected</label>
  </li>
  <li>
    <input type="radio" id="active_radio_unselected" name="active_radio" value="unselected" class="active"></input>
    <label for="active_radio_unselected">Unselected</label>
  </li>
</ol></li></ol></form>
<form><ol class="questions"><li><ol class="choices">
  <li>
    <input type="radio" id="disabled_radio_selected" name="disabled_radio" value="selected" checked disabled></input>
    <label for="disabled_radio_selected" disabled>Selected</label>
  </li>
  <li>
    <input type="radio" id="disabled_radio_unselected" name="disabled_radio" value="unselected" disabled></input>
    <label for="disabled_radio_unselected" disabled>Unselected</label>
  </li>
</ol></li></ol></form>

<form class="qg-forms-v2"><ol class="qg-forms-v2__radio">
  <li>
    <input type="radio" id="v2_default_radio_selected" name="default_radio" value="selected" checked></input>
    <label for="v2_default_radio_selected">Selected</label>
  </li>
  <li>
    <input type="radio" id="v2_default_radio_unselected" name="default_radio" value="unselected"></input>
    <label for="v2_default_radio_unselected">Unselected</label>
  </li>
</ol></form>
<form class="qg-forms-v2"><ol class="qg-forms-v2__radio">
  <li>
    <input type="radio" id="v2_hover_radio_selected" name="hover_radio" value="selected" class="hover" checked></input>
    <label for="v2_hover_radio_selected">Selected</label>
  </li>
  <li>
    <input type="radio" id="v2_hover_radio_unselected" name="hover_radio" value="unselected" class="hover"></input>
    <label for="v2_hover_radio_unselected">Unselected</label>
  </li>
</ol></form>
<form class="qg-forms-v2"><ol class="qg-forms-v2__radio">
  <li>
    <input type="radio" id="v2_focus_radio_selected" name="focus_radio" value="selected" class="focus" checked></input>
    <label for="v2_focus_radio_selected">Selected</label>
  </li>
  <li>
    <input type="radio" id="v2_focus_radio_unselected" name="focus_radio" value="unselected" class="focus"></input>
    <label for="v2_focus_radio_unselected">Unselected</label>
  </li>
</ol></form>
<form class="qg-forms-v2"><ol class="qg-forms-v2__radio">
  <li>
    <input type="radio" id="v2_active_radio_selected" name="active_radio" value="selected" class="active" checked></input>
    <label for="v2_active_radio_selected">Selected</label>
  </li>
  <li>
    <input type="radio" id="v2_active_radio_unselected" name="active_radio" value="unselected" class="active"></input>
    <label for="v2_active_radio_unselected">Unselected</label>
  </li>
</ol></form>
<form class="qg-forms-v2"><ol class="qg-forms-v2__radio">
  <li>
    <input type="radio" id="v2_disabled_radio_selected" name="disabled_radio" value="selected" checked disabled></input>
    <label for="v2_disabled_radio_selected" disabled>Selected</label>
  </li>
  <li>
    <input type="radio" id="v2_disabled_radio_unselected" name="disabled_radio" value="unselected" disabled></input>
    <label for="v2_disabled_radio_unselected" disabled>Unselected</label>
  </li>
</ol></form>
