<form class="qg-forms-v2" novalidate="true">
  <ol class="questions">
    <li>
      <fieldset>
        <legend>
          <span class="label">Device</span>
        </legend>
        <ul class="choices qg-forms-v2__radio">
          <li>
            <input type="radio" name="device" value="Laptop" id="device-laptop" />
            <label for="device-laptop">Laptop</label>
          </li>
          <li>
            <input type="radio" name="device" value="Phone" id="device-phone" />
            <label for="device-phone">Phone</label>
          </li>
          <li>
            <input type="radio" name="device" value="Tablet" id="device-tablet" />
            <label for="device-tablet">Tablet</label>
          </li>
          <li>
            <input type="radio" name="device" value="Desktop" id="device-desktop" />
            <label for="device-desktop">Desktop</label>
          </li>
        </ul>
      </fieldset>
    </li>
  </ol>
</form>
