<form class="qg-forms-v2" novalidate="true">
  <label for="exampleFormControlSelect1">State/Territory</label>
  <select class="form-control" id="exampleFormControlSelect1">
    <option class="placeholder">Select a state or territory</option>
    <option>New South Wales</option>
    <option>Queensland</option>
    <option>South Australia</option>
    <option>Tasmania</option>
    <option>Western Australia</option>
    <option>Australian Capital Territory</option>
    <option>Northern Territory</option>
  </select>
</form>
