<form class="qg-forms-v2" novalidate="true">
  <ol class="questions">
    <li>
      <label for="First name"><span class="label">First name</span></label>
      <input class="form-control" label="First name" type="text" />
    </li>
    <li>
      <label for="Last name"><span class="label">Last name</span></label>
      <input class="form-control" label="Last name" type="text" />
    </li>
    <li>
      <label for="Email address"><span class="label">Email address</span></label>
      <input class="form-control" label="Email address" type="email" />
    </li>
  </ol>
</form>
