<div class="alert alert-danger" id="error-list-ezf0c7p">
  <p></p><h2><span class="fa fa-exclamation-triangle"></span> Please check your answers</h2>
  <p></p>
  <ul>
    <li>
      <span data-component-key="general.comments" ref="errorRef" tabindex="0" role="link">
        Comments is required
      </span>
    </li>
    <li>
      <span data-component-key="contact.howWouldYouLikeToBeContacted" ref="errorRef" tabindex="0" role="link">
        How would you like to be contacted? is required
      </span>
    </li>
    <li>
      <span data-component-key="contact.privacyAcknowledgement.iHaveReadAndUnderstoodTheAHrefPrivacyStatementA" ref="errorRef" tabindex="0" role="link">
        I have read and understood the <a href="https://www.qld.gov.au/contact-us/contact-us-online-form-privacy-statement" target="_blank" rel="nofollow noopener" title="Opens in new window">privacy statement<span class="qg-blank-notice sr-only"> (Opens in new window)</span></a> is required
      </span>
    </li>
  </ul>
</div>

<form class="qg-forms-v2" novalidate="true">
  <ol class="questions">
    <li class="invalid">
      <label for="Email address"
        ><span class="label">Email address</span><abbr title="(required)" class="required">*</abbr
        ><em class="alert">Must be a qld.gov.au email address</em></label
      >
      <input
        type="email"
        class="form-control"
        id="customer-email"
        name="emailField"
        required="required"
      />
    </li>
  </ol>
</form>
<script>
  $("#email").bind("change", function () {
    var emailPattern = /\.qld\.gov\.au$/,
      emailField = $("#email"),
      value = emailField.val();
    // if there is no value
    if (value === "") {
      // clear the custom error
      emailField[0].setCustomValidity("");
      // required field validation will kick in

      // test if value matches pattern
    } else if (emailPattern.test(value)) {
      // valid
      emailField[0].setCustomValidity("");
    } else {
      // invalid
      emailField[0].setCustomValidity("Must be a .qld.gov.au email address");
    }
  });
</script>
