.btn-global-primary{
  color: #fff;
  background-color: $qg-global-primary-dark;
  font-weight: bold;
  padding: 9px 24px;

  @include media-breakpoint-down(sm) {
    padding: 9px 11px;
  }
  @include qg-underline-on-highlight-decoration;
}

.btn-global-primary-white{
  color: $qg-global-primary-dark-grey;
  background-color: #fff;
  font-weight: bold;
  overflow: hidden;
  padding: 9px 24px;
  display: table;

  @include media-breakpoint-down(sm) {
    padding: 9px 11px;
  }

  @include qg-underline-on-highlight-decoration;
}

.btn-global-secondary{
  color: #fff;
  background-color: transparent;
  border: solid 3px #fff;
  display: table;
  font-weight: bold;
  padding: 7px 24px;

  @include qg-underline-on-highlight-decoration;
}

.btn-primary{
  @include button-variant($qg-light-green, $qg-light-green, lighten($qg-light-green, 7.5%), $hover-border: $qg-light-green, $active-background:$qg-light-green, $active-border: $qg-light-green);
  color: #000;
  a, &:focus:not(:disabled), &:hover:not(:disabled), &:link:not(:disabled), &:visited:not(:disabled), &:active:not(:disabled), &.focus:not(:disabled), &.hover:not(:disabled), &.link:not(:disabled), &.visited:not(:disabled), &.active:not(:disabled) {
    color: #000 !important;
  }
}

.btn-secondary {
  @include button-variant($qg-blue, $qg-blue);
  color: #fff;
  a, &:focus, &:hover, &:link, &:visited, &:active, &.focus, &.hover, &.link, &.visited, &.active {
    color: #fff !important;
  }
}

.btn-default {
  @include button-variant($qg-dark-grey, $qg-dark-grey);
  color: #fff;
  a, &:focus, &:hover, &:link, &:visited, &:active, &.focus, &.hover, &.link, &.visited, &.active {
    color: #fff !important;
  }
}

.btn-link {
  @include on-hover() {
    @include link-hover;
  }
}

.qg-btn {
  @extend .btn;
  @include qg-button-outline-decoration;
  border-radius: $btn-border-radius-base;

  &.btn-outline-dark{
    color: $qg-outline-dark;
    background-color: transparent !important;
    border:3px solid $qg-outline-dark;
    @include qg-underline-on-highlight-decoration {
      border:3px solid $qg-outline-dark-hover;
      color: $qg-outline-dark-hover;
    }
  }
  &.btn-outline-light{
    color: #ffffff !important;
    background-color: transparent;
    border:3px solid #ffffff;
    @include qg-underline-on-highlight-decoration;
  }
  &.btn-link.light{
    color:#ffffff;
  }
}

#body .qg-btn, #body .btn, body .qg-btn, body .btn, {
  // override default .btn styling
  @include qg-underline-on-highlight-decoration;
}
