.btn-global-primary{
  @include all-states {
    color: white;
  }
  background-color: $qg-global-primary-dark;
  font-weight: bold;
  padding: 9px 24px;

  @include media-breakpoint-down(sm) {
    padding: 9px 11px;
  }
}

.btn-global-primary-white{
  color: $qg-global-primary-dark-grey;
  background-color: white;
  font-weight: bold;
  overflow: hidden;
  padding: 9px 24px;
  display: table;

  @include media-breakpoint-down(sm) {
    padding: 9px 11px;
  }

  @include qg-underline-on-highlight-decoration;
}

.btn-global-secondary{
  @include all-states {
    color: white;
  }
  background-color: transparent;
  border: solid 3px white;
  display: table;
  font-weight: bold;
  padding: 7px 24px;

  @include qg-underline-on-highlight-decoration {
    // repeat colour rule with greater priority
    color: white;
  }
}

.btn-primary{
  @include button-variant($qg-light-green, transparent, lighten($qg-light-green, 7.5%), $hover-border: transparent, $active-background:$qg-light-green, $active-border: transparent);
  color: #000;
  a, &:focus:not(:disabled), &:hover:not(:disabled), &:link:not(:disabled), &:visited:not(:disabled), &:active:not(:disabled), &.focus:not(:disabled), &.hover:not(:disabled), &.link:not(:disabled), &.visited:not(:disabled), &.active:not(:disabled) {
    color: #000 !important;
  }
}

.btn-secondary {
  @include button-variant($qg-blue, transparent);
  @include on-hover {
    background-color: $qg-blue-hover;
  }
}

.btn-default {
  @include button-variant($qg-dark-grey, $qg-dark-grey);
  color: white;
  a, &:focus, &:hover, &:link, &:visited, &:active, &.focus, &.hover, &.link, &.visited, &.active {
    color: white !important;
  }
}

.btn-link {
  @include qg-button-outline-decoration($border-radius: $btn-border-radius-base);
  @include all-states {
    &:not(.light) {
      color: $qg-blue-dark;
    }
  }
}

.qg-btn {
  &.btn-primary, &.btn-outline-dark, &.btn-outline-light, &.btn-default {
    @include on-active {
      box-shadow: none;
    }
  }
}

.qg-btn {
  @extend .btn;
  @include qg-button-outline-decoration($border-radius: $btn-border-radius-base);
  &.btn-outline-dark{
    color: $qg-outline-dark;
    background-color: transparent !important;
    border: 3px solid $qg-outline-dark;
    @include on-hover-or-active {
      border-color: $qg-outline-dark-hover;
      color: $qg-global-primary-dark-grey;
    }
    @include qg-underline-on-highlight-decoration;
  }
  &.btn-outline-light{
    color: white !important;
    background-color: transparent !important;
    border: 3px solid white;
    @include qg-underline-on-highlight-decoration;
  }
  &.btn-link.light{
    color: white;
  }
}

#body .qg-btn, #body .btn, body .qg-btn, body .btn {
  // override default .btn styling
  @include all-states {
    @include qg-button-outline-decoration($margin: 0, $border-radius: $btn-border-radius-base);
    @include qg-underline-on-highlight-decoration;
  }
}
