.qg-footer-feedback {
    &-content {
        background-color: #fff;
        border-radius: 4px;
        color: $qg-global-primary-darker-grey;
        padding: 0 15px 25px 15px;
    }

    &-wrap {
        margin-top: 30px;
    }

    .status {
        margin: 0 0 24px !important;
        padding: 15px 13px;

        .fa {
            @include rem(font-size, 18px);
            margin-right: 10px;
        }

        h4 {
            font-weight: 600;
        }

        p {
            @include rem(font-size, 14px);
            margin-bottom: 0;

            a {
                text-decoration: underline;

                &:hover, &:focus {
                    opacity: 0.7;
                }
            }
        }
    }

    .questions {

        li {
            padding: 3px 0 7px;
        }
        
        legend {
            @include rem(line-height, 20px);
        }

        .label {
            display: inline;
        }            

        abbr.required,abbr[title*='required'] {
            @include rem(font-size, 16px);
            color: $qg-global-error;
            display: inline;
            margin: 0;
            position: static;
        }

        textarea.form-control {
            @include rem(line-height, 19px);
            border: 3px solid $qg-pagination-border;
            padding: 13px;
            width: 100%;
        }

        .actions li {
            margin-right: 0;
            margin-bottom: 20px;
            width: 100%;

            .btn {
                margin-top: 0;
            }
        }

        .form-group {
            margin-bottom: 0;
        }

        .captchaPrivacyTerms {
            @include rem(font-size, 14px);
            @include rem(line-height, 16px);
            margin-bottom: 0;

            a {
                text-decoration: underline;

                &:hover, &:focus {
                    opacity: 0.7;
                }
            }
        }

        .radio {
            margin: 16px 0;
    
            input[type=radio] {
                @extend .sr-only;
            }
    
            label {
                @include rem(line-height, 20px);
                padding-left: 29px;
                position: relative;
    
                &:after,&:before {
                    border-radius: 50%;
                    content: '';
                    position: absolute;
                }
    
                &:after {
                    background-color: $qg-global-primary-darker-grey;
                    height: 12px;
                    left: 4px;
                    opacity: 0;
                    top: 7px;
                    transform: scale(0);
                    transition: all .3s ease;
                    width: 12px;
                }
    
                &:before {
                    border: 1px solid $qg-global-primary-darker-grey;
                    height: 18px;
                    left: 1px;
                    top: 4px;
                    width: 18px;
                }
            }
              
            input[type=radio]:checked + label {
                font-weight: bold;
                color: $qg-global-primary-darker-grey;
    
                &:after {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }

    .initial-question {
        li {
            padding: 13px 0 0 0;
        }
    }

    .thankyou {
        padding-top: 15px;

        h1,h2,h3,h4,h5,h6 {
            @include rem(font-size, 16px);
            color: $qg-global-primary-dark-grey;
            font-weight: 600;
            margin: 20px 0;
        }

        .thankyou__title {
            margin-top: 0;
        }

        p {
            @include rem(line-height, 19px);
            margin: 15px 0;

            a {
                text-decoration: underline;

                &:hover, &:focus {
                    opacity: 0.7;
                }
            }
        }
    }

    &__close {
        @include rem(font-size, 14px);
        background-color: transparent;
        border: 0;
        color: $qg-global-primary-accesible-grey;
        font-weight: normal;
        padding: 0;
        margin-top: 10px;
        text-decoration: underline;
    }
}

.no-js {
    .qg-footer-feedback {
        display: block;

        .initial-question {
            display: none;
        }

        .panel-collapse {
            display: block;
        }
    }

    .qg-feedback-toggle {
        background-color: #fff;
        border-radius: 4px 4px 0 0;
        padding: 8px 12px 0 12px;

        .qg-feedback-toggle__text {
            color: $qg-global-primary-dark-grey;
            left: 13px;
            transform: none;
        }
    }

    .qg-footer-feedback-content {
        border-radius: 0 0 4px 4px;
    }
}

.qg-site-footer {
    .qg-feedback-toggle {
        height: 44px;
        position: relative;
        transition: all .3s ease;
        z-index: 1;

        &__text {
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            white-space: nowrap;
            transition: all .3s ease;
            top: 7px;
        }

        &:hover,&:focus{
            .qg-feedback-toggle__text {
                text-decoration: underline;
            }
        }

        &[aria-expanded=true] {
            background-color: #fff;
            border-radius: 4px 4px 0 0;
            padding: 8px 12px 0 12px;

            .qg-feedback-toggle__text {
                color: $qg-global-primary-dark-grey;
                left: 13px;
                transform: none;
            }

            + .qg-footer-feedback .qg-footer-feedback-content{
                border-radius: 0 0 4px 4px;
            }
        }

        &.d-none {
            + .qg-footer-feedback .qg-footer-feedback-content{
                border-radius: 4px;
            }
        }
    }

    .qg-footer-feedback {
        transform: translateY(-6px)
    }
}