/* these styles mimic the old SWE legals style for continuity */
.qg-legal {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 45px;

  @include fontSize(12px); 
  font-family: Verdana, Arial, Helvetica, san-serif;
  font-weight: 900;
  line-height: 7px;  

  .row {
    background-color: #FFF;     
  }  

  ul, p { 
    margin-top: 2em; 
  }   

  ul {
    @include make-xs-column(12);
    @media (min-width: $screen-lg-min) {
      padding-left: ($grid-gutter-width / 2);
      padding-right: ($grid-gutter-width / 2);
    }

    li {
      padding: 0.5em 0;
      margin: 0;
      a {
        padding: 0.2em 1em;
        display: block;
      }
    }

    li + li a {
      border-left: 1px solid #999;
    }   
  }

  a {
    text-decoration: none;  
    color: #000; 
  }

  a:focus, a:hover {
    text-decoration: underline;  
    color: #000; 
  }
}
