<div class="col col-md-4">
    <div class="qg-footer-col-content">
        <h3>Your nearest service centre</h3>
        <p>Help us provide you with the most useful information by setting your location.</p>
        <button class="btn btn-global-primary-white" data-analytics-link-group=“qg-nearest-service-set-location“>Set your location</button>
        <div class="qg-location-setter">
            <p>Help us provide you with the most useful information by setting your location.</p>
            <button class="btn btn-global-primary detect-location" type="button" data-analytics-link-group=“qg-location-device-location“>Use device location</button>
            <span class="header-location-divider">or</span>
            <form class="header-location-form">
                <label>Start typing your town or suburb</label>
                <input type="text" placeholder="e.g. Cooladdi"/>
                <div class="header-location-autocomplete" style="display:none">
                    <ul>
                        <li><button><b>Coola</b>bine, Sunshine Coast Regional</button></li>
                        <li><button><b>Coola</b>bunia, South Burnett Regional</button></li>
                        <li><button><b>Coola</b>ddi, Murweh Shire</button></li>
                        <li><button><b>Coola</b>na, Somerset Regional</button></li>
                        <li><button><b>Coola</b>ngatta, Gold Coast City</button></li>
                    </ul>
                </div>
                <button class="btn btn-global-primary set-location" type="button" data-analytics-link-group=“qg-location-manual-location“>Set location</button>
            </form>
            <button class="header-location-close">Close</button>
        </div>
        <hr>
        <a href="#" class="btn btn-global-secondary" data-analytics-link-group=“qg-nearest-service-centre-all“>All service centre locations</a>
        <hr class="hidden-lg hidden-md">
    </div>
</div>