<div class="qg-legal row">
	<ul class="list-inline">
		<li><a href="https://www.qld.gov.au/contact-us/" class="">Contact us</a></li>
		<li><a href="https://www.qld.gov.au/help/">Help</a></li>
		<li><a href="https://www.qld.gov.au/legal/copyright/" class="">Copyright</a></li>
		<li><a href="https://www.qld.gov.au/legal/disclaimer/">Disclaimer</a></li>
		<li><a href="https://www.qld.gov.au/legal/privacy/">Privacy</a></li>
		<li><a href="https://www.qld.gov.au/right-to-information/">Right to information</a></li>
		<li><a href="https://www.qld.gov.au/help/accessibility/">Accessibility</a></li>
		<li><a href="http://www.smartjobs.qld.gov.au/">Jobs in Queensland Government</a></li>
		<li id="link-languages"><a href="https://www.qld.gov.au/languages/">Other languages</a></li>
	</ul>
	<p>&copy; The State of Queensland 1995–2017</p>
	<p><a href="https://www.qld.gov.au/" accesskey="1">Queensland Government</a></p>
</div>
