<div class="qg-legal d-flex flex-wrap align-items-end justify-content-between">

	<!-- Left column, wraps below col-md -->
	<div class="col-12 col-md-6 pl-0">
		<ul class="list-inline">
			<li><a href="https://www.qld.gov.au/help/" class="d-print-none">Help</a></li>
			<li><a href="https://www.qld.gov.au/legal/copyright/">Copyright</a></li>
			<li><a href="https://www.qld.gov.au/legal/disclaimer/">Disclaimer</a></li>
			<li><a href="https://www.qld.gov.au/legal/privacy/">Privacy</a></li>
			<li><a href="https://www.qld.gov.au/right-to-information/">Right to information</a></li>
			<li><a href="https://www.qld.gov.au/help/accessibility/" class="d-print-none">Accessibility</a></li>
			<li><a href="http://www.smartjobs.qld.gov.au/" class="d-print-none">Jobs in Queensland Government</a></li>
			<li id="link-languages"><a href="https://www.qld.gov.au/languages/" class="d-print-none">Other languages</a></li>
		</ul>
	</div>

	<!-- Right column, wraps below col-md -->
	<div class="qg-copyright col-12 col-md-4 offset-md-2 pl-0 ml-0">
		&copy; The State of Queensland <span id="qg-copyright-daterange"></span>
	</div>
	
</div>