<div class="qg-site-map row">

    <div>
        <h3>
            <a href="https://www.qld.gov.au/">Queensland Government</a>
            <button class="btn btn-link qg-toggle-icon-right collapsed visible-xs-inline-block" data-toggle="collapse" data-target="#footer-info-qg" aria-expanded="false" aria-controls="footer-info-qg"><span class="sr-only">More Queensland Government pages</span>&nbsp;</button>
        </h3>
        <ul class="collapse" id="footer-info-qg">
            <li><a href="https://www.qld.gov.au/about/contact-government/contacts/">Government contacts</a></li>
            <li><a href="https://www.qld.gov.au/about/contact-government/have-your-say/">Have your say</a></li>
            <li><a href="https://www.qld.gov.au/about/staying-informed/">Staying informed</a></li>
            <li><a href="https://www.qld.gov.au/about/government-jobs/">Government jobs</a></li>
            <li><a href="https://www.qld.gov.au/about/how-government-works/">How government works</a></li>
            <li><a href="https://data.qld.gov.au/">Queensland Government data</a></li>
            <li><a href="https://publications.qld.gov.au/">Queensland Government publications</a></li>
            <li><a href="https://www.qld.gov.au/gov/">For government employees</a></li>
        </ul>
    </div>

    <div>
        <h3>
            <a href="https://www.qld.gov.au/queenslanders/">For Queenslanders</a>
            <button class="btn btn-link qg-toggle-icon-right collapsed visible-xs-inline-block" data-toggle="collapse" data-target="#footer-info-for-qld" aria-expanded="false" aria-controls="footer-info-qg"><span class="sr-only">More Queensland Government pages</span>&nbsp;</button>
        </h3>
        <ul class="col-2 collapse"  id="footer-info-for-qld">
            <li><a href="https://www.qld.gov.au/transport/">Transport and motoring</a></li>
            <li><a href="https://www.qld.gov.au/jobs/">Employment and jobs</a></li>
            <li><a href="https://www.qld.gov.au/housing/">Homes and housing</a></li>
            <li><a href="https://www.qld.gov.au/education/">Education and training</a></li>
            <li><a href="https://www.qld.gov.au/community/">Community support</a></li>
            <li><a href="https://www.qld.gov.au/health/">Health and wellbeing</a></li>
            <li><a href="https://www.qld.gov.au/emergency/">Emergency services and safety</a></li>
            <li><a href="https://www.qld.gov.au/about/">About Queensland and its government</a></li>
            <li><a href="https://www.qld.gov.au/families/">Parents and families</a></li>
            <li><a href="https://www.qld.gov.au/disability/">People with disability</a></li>
            <li><a href="https://www.qld.gov.au/seniors/">Seniors</a></li>
            <li><a href="https://www.qld.gov.au/atsi/">Aboriginal and Torres Strait Islander peoples</a></li>
            <li><a href="https://www.qld.gov.au/youth/">Youth</a></li>
            <li><a href="https://www.qld.gov.au/environment/">Environment, land and water</a></li>
            <li><a href="https://www.qld.gov.au/law/">Your rights, crime and the law</a></li>
            <li><a href="https://www.qld.gov.au/recreation/">Recreation, sport and arts</a></li>
        </ul>
    </div>

    <div>
        <h3>
            <a href="http://www.business.qld.gov.au/">Business and industry</a>
            <button class="btn btn-link qg-toggle-icon-right collapsed visible-xs-inline-block" data-toggle="collapse" data-target="#footer-info-bi" aria-expanded="false" aria-controls="footer-info-qg"><span class="sr-only">More Queensland Government pages</span>&nbsp;</button>
        </h3>
        <ul class="collapse" id="footer-info-bi">
            <li><a href="http://www.business.qld.gov.au/business/starting">Starting a business</a></li>
            <li><a href="http://www.business.qld.gov.au/business/running">Running a business</a></li>
            <li><a href="http://www.business.qld.gov.au/business/employing">Employing people</a></li>
            <li><a href="http://www.business.qld.gov.au/invest">Investing in Queensland</a></li>
            <li><a href="http://www.business.qld.gov.au/industry">For industry</a></li>
            <li><a href="http://www.business.qld.gov.au/invest/queenslands-regional-locations">Regional investment opportunities</a></li>
            <li><a href="https://www.business.qld.gov.au/chinese-s/investing-queensland?utm_source=bif-link&amp;utm_medium=footer&amp;utm_campaign=International-content" lang="zh">昆士兰州的投资机会</a></li>
            <li><a href="https://www.business.qld.gov.au/investing-queensland-chinese-t?utm_source=bif-link&amp;utm_medium=footer&amp;utm_campaign=International-content" lang="zh">昆士蘭州的投資機會</a></li>
            <li><a href="https://www.business.qld.gov.au/japanese-invest/investing-queensland?utm_source=bif-link&amp;utm_medium=footer&amp;utm_campaign=International-content" lang="ja">クイーンズランド州への投資機会</a></li>
            <li><a href="https://www.business.qld.gov.au/korean-invest/investing-queensland?utm_source=bif-link&amp;utm_medium=footer&amp;utm_campaign=International-content" lang="ko">퀸즈랜드 투자 기회</a></li>
        </ul>
    </div>

</div>
