<div class="qg-footer-col-content sm-border-bottom">

  <h3>Contact us</h3>

  <ul>
    <li>For general enquiries, feedback, complaints and compliments: <p class="phone"><span>13 QGOV (<a href="tel:137468" class="d-inline" data-analytics-link-group="qg-contact-phone">13 74 68</a>)</span></p></li>
    <li class="facebook"><a href="https://www.facebook.com/QueenslandGovernment/" aria-label="Facebook /QueenslandGovernment" data-analytics-link-group="qg-contact-facebook">/QueenslandGovernment</a></li>
    <li class="twitter">
      <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="17" height="17" rx="4" fill="white"/>
        <path d="M11.3021 4H12.9194L9.38693 8.0365L13.5426 13.53H10.2895L7.7398 10.1991L4.82582 13.53H3.20618L6.98382 9.21172L3 4H6.3355L8.63782 7.04456L11.3021 4ZM10.734 12.5633H11.6297L5.84755 4.91635H4.88538L10.734 12.5633Z" fill="#005E85"/>
      </svg>
      <a href="https://twitter.com/qldgov" aria-label="Twitter @QldGov" data-analytics-link-group="qg-contact-twitter">@QldGov</a></li>
  </ul>

  <a class="btn btn-global-secondary" href="https://www.qld.gov.au/contact-us">Other contact options</a>

</div>
