<div class="d-flex flex-wrap">
    <div class="col col-md-4">
        <div class="qg-footer-col-content">
            <h3>Contact us</h3>
            <p>Get in touch for enquiries, feedback, complaints and compliments.</p>
            <ul>
                <li class="phone"><span>13 QGOV (<a href="tel:137468" class="d-inline d-sm-none">13 74 68</a><span class="d-none d-sm-inline">13 74 68</span>)</span></li>
                <li class="facebook"><a href="https://www.facebook.com/QueenslandGovernment/">/QueenslandGovernment</a></li>
                <li class="twitter"><a href="https://twitter.com/qldgov">@QldGov</a></li>
            </ul>

            <a class="btn btn-global-secondary" href="#">Other contact options</a>
            <hr class="hidden-lg hidden-md">
        </div>
    </div>
    <div class="col col-md-4">
        <div class="qg-footer-col-content">
            <h3>Your nearest service centre</h3>
            <p>Help us provide you with the most useful information by setting your location.</p>
            <button class="btn btn-global-primary-white">Set your location</button>
            <hr>
            <a href="#" class="btn btn-global-secondary">All service centre locations</a>
        </div>
    </div>
    <div class="col col-md-4">
        <div class="qg-footer-col-content">
            <h3>Website feedback</h3>
            <p>Help us improve the content on our website or tell us what is working really well.</p>
            <button class="btn btn-global-secondary">Leave your feedback</button>
        </div>
    </div>
</div>
