<div id="analytics">
	<script id="analytics-inline-config" type="text/javascript"><!--
		qg.swe.pageTitle = "<!--#echo encoding="entity" var="title" -->";
		qg.swe.franchiseTitle = '<!--#echo encoding="entity" var="franchise" -->';

		qg.swe.vhost = '<!--#echo encoding="entity" var="VHOST" -->';
		qg.swe.servedBy = '<!--#echo encoding="entity" var="SERVED_BY" -->';

	//--></script><!-- end #analytics-inline-config -->

<!-- Load configuration for analytics -->
	<script type="text/javascript" src="/assets/_project/js/analytics.js"></script>
</div><!-- end #analytics -->
