<div class="qg-footer-col-content qg-contact-us">
  <h3>Contact us</h3>
  <ul>
    <li>Get in touch for enquiries, feedback, complaints and compliments.<p class="phone"><span>13 QGOV (<a href="tel:137468" class="d-inline d-sm-none" data-analytics-link-group="qg-contact-phone">13 74 68</a><span class="d-none d-sm-inline">13 74 68</span>)</span></p></li>
    <li>For COVID-19 related enquiries: <p class="phone"><span>134 COVID (<a href="tel:134268" class="d-inline d-sm-none" data-analytics-link-group="qg-contact-phone">13 42 68</a><span class="d-none d-sm-inline">13 42 68</span>)</span></p></li>
    <li class="facebook"><a href="https://www.facebook.com/QueenslandGovernment/" aria-label="Facebook /QueenslandGovernment">/QueenslandGovernment</a></li>
    <li class="twitter"><a href="https://twitter.com/qldgov" aria-label="Twitter @QldGov">@QldGov</a></li>
  </ul>
  <a class="btn btn-global-secondary" href="https://www.qld.gov.au/contact-us">Other contact options</a>
  <hr class="hidden-lg hidden-md">
</div>
