<div class="row">
    <div class="col-12 col-md-8">
        <div class="qg-cultural-notice qg-footer-col-content sm-border-bottom">
            
            <h3>Cultural acknowledgement</h3>
            
            <p>We pay our respects to the Aboriginal and Torres Strait Islander ancestors of this land, their spirits and their legacy. The foundations laid by these ancestors—our First Nations peoples—give strength, inspiration and courage to current and future generations towards creating a better Queensland.
            </p>
            
        </div>        
    </div>
</div>