<div id="qg-site-footer">
	<!-- noindex -->
	<div id="fat-footer">
		<div class="max-width"><div class="box-sizing">
			<h2>Explore this site</h2>
			<div class="section">
				<h3><a href="/">Queensland Government</a></h3>
				<ul>
					<li><a href="/about/contact-government/contacts/">Government contacts</a></li>
					<li><a href="/about/contact-government/have-your-say/">Have your say</a></li>
					<li><a href="/about/staying-informed/">Staying informed</a></li>
					<li><a href="/about/government-jobs/">Government jobs</a></li>
					<li><a href="/about/how-government-works/">How government works</a></li>
					<li><a href="https://data.qld.gov.au/">Queensland Government data</a></li>
					<li><a href="https://publications.qld.gov.au/">Queensland Government publications</a></li>
					<li><a href="//www.forgov.qld.gov.au/?utm_medium=website&utm_source=qgov-site&utm_campaign=dsiti-for-gov&utm_content=swe-footer">For government</a></li>
				</ul>
			</div>
			<div class="section" id="for-qldrs">
				<h3><a href="/queenslanders/">For Queenslanders</a></h3>
				<ul>
					<li><a href="/transport/">Transport and motoring</a></li>
					<li><a href="/jobs/">Employment and jobs</a></li>
					<li><a href="/housing/">Homes and housing</a></li>
					<li><a href="/education/">Education and training</a></li>
					<li><a href="/community/">Community support</a></li>
					<li><a href="/health/">Health and wellbeing</a></li>
					<li><a href="/emergency/">Emergency services and safety</a></li>
					<li><a href="/about/">About Queensland and its government</a></li>
				</ul>
				<ul>
					<li><a href="/families/">Parents and families</a></li>
					<li><a href="/disability/">People with disability</a></li>
					<li><a href="/seniors/">Seniors</a></li>
					<li><a href="/atsi/">Aboriginal and Torres Strait Islander peoples</a></li>
					<li><a href="/youth/">Youth</a></li>
					<li><a href="/environment/">Environment, land and water</a></li>
					<li><a href="/law/">Your rights, crime and the law</a></li>
					<li><a href="/recreation/">Recreation, sport and arts</a></li>
				</ul>
			</div>
			<div class="section">
				<h3><a href="http://www.business.qld.gov.au/">Business and industry</a></h3>
				<ul>
					<li><a href="http://www.business.qld.gov.au/business/starting">Starting a business</a></li>
					<li><a href="http://www.business.qld.gov.au/business/running">Running a business</a></li>
					<li><a href="http://www.business.qld.gov.au/business/employing">Employing people</a></li>
					<li><a href="http://www.business.qld.gov.au/invest">Investing in Queensland</a></li>
					<li><a href="http://www.business.qld.gov.au/industry">For industry</a></li>
					<li><a href="http://www.business.qld.gov.au/invest/queenslands-regional-locations">Regional investment opportunities</a></li>
					<li><a href="https://www.business.qld.gov.au/chinese-s/investing-queensland?utm_source=bif-link&amp;utm_medium=footer&amp;utm_campaign=International-content" lang="zh">昆士兰州的投资机会</a></li>
					<li><a href="https://www.business.qld.gov.au/investing-queensland-chinese-t?utm_source=bif-link&amp;utm_medium=footer&amp;utm_campaign=International-content" lang="zh">昆士蘭州的投資機會</a></li>
					<li><a href="https://www.business.qld.gov.au/japanese-invest/investing-queensland?utm_source=bif-link&amp;utm_medium=footer&amp;utm_campaign=International-content" lang="ja">クイーンズランド州への投資機会</a></li>
					<li><a href="https://www.business.qld.gov.au/korean-invest/investing-queensland?utm_source=bif-link&amp;utm_medium=footer&amp;utm_campaign=International-content" lang="ko">퀸즈랜드 투자 기회</a></li>
				</ul>
			</div>
		</div></div>
	</div>
	<div class="max-width"><div class="box-sizing">
		<h2>Site footer</h2>
		<ul>
			<li id="link-help"><a href="/help/">Help</a></li>
			<!--<li id="link-legal"><a href="/legal/">Terms and conditions</a></li>-->
			<li class="legal"><a href="/legal/copyright/">Copyright</a></li>
			<li class="legal"><a href="/legal/disclaimer/">Disclaimer</a></li>
			<li class="legal"><a href="/legal/privacy/">Privacy</a></li>
			<li class="legal"><a href="/right-to-information/">Right to information</a></li>
			<li id="link-accessibility"><a href="/help/accessibility/">Accessibility</a></li>
			<li id="link-jobs"><a href="https://smartjobs.qld.gov.au/">Jobs in Queensland Government</a></li>
			<li id="link-languages"><a href="/languages/">Other languages</a></li>
		</ul>
		<!-- endnoindex -->
		<p class="legal">© The State of Queensland 1995–2015</p>
		<p><a href="/" accesskey="1">Queensland Government</a></p>
	</div></div>
</div>

<div id="scripts">
	<script type="text/javascript" src="/assets/v3/latest/script/loader.js"></script>
	<script type="text/javascript" src="/assets/v3/latest/script/init.js"></script>
</div>
