// print button styles
.print-content-link{
  position: absolute;
  right: 35px;
  z-index:1;
  top: -28px;
}
// print styles
@media print {
  *,
  *:before,
  *:after {
    color: #000 !important; // Black prints faster: h5bp.com/s
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  // Don't show links that are fragment identifiers,
  // or use the `javascript:` pseudo protocol
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; // h5bp.com/t
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  // Bootstrap specific changes start

  // Bootstrap components
  .navbar {
    display: none;
  }
  .btn,
  .dropup > .btn {
    > .caret {
      border-top-color: #000 !important;
    }
  }
  .label {
    border: 1px solid #000;
  }

  .table {
    border-collapse: collapse !important;

    td,
    th {
      background-color: #fff !important;
    }
  }
  .table-bordered {
    th,
    td {
      border: 1px solid #ddd !important;
    }
  }
  body {
    background: #ffffff;
    color: #000000;
  }
  #qg-primary-content{
    margin-top: 0;
    h1 {
      margin-top: 12px;
      font-size: 25px;
    }
    h2 {
      font-size: 20px;
    }
  }
  #qg-primary-content a[href]:after , #qg-secondary-content a[href]:after {
    content: " (" attr(href) ")";
    color: #06c !important;
    font-size: 16px !important;
  }

  /* Some landmark headings should be visible */
  #qg-breadcrumb h2 {
    position: static;
  }

  /* Hide sections that are not to print */
  #qg-access,
  #browser,
  #qg-banner,
  #tools,
  #qg-site-nav,
  #qg-section-nav,
  #qg-site-map,
  .qg-options,
  #qg-page-feedback,
  #header-bg,
  .print-content-link,
  #qg-site-header form,
  .qg-utilities,
  .qg-legal li {
    display: none;
  }

  .qg-legal{
    text-align: left !important;
  }
  .qg-legal a:after {
    color: #06c !important;
    font-size: 12px !important;
  }


  /* Show legal information */
  #footer li.legal {
    display: block;
    margin: 0;
    padding: 0;
    min-height: 1.2em;
    border: none;
  }
  #footer a {
    display: inline;
    margin: 0;
    padding: 0;
  }

  /* Print link URLs */
  .print-link-url {
    display: inline;
    text-decoration: none;
    font-size: 100%;
    color: #0066cc;
  }
  /* ignore in warning status blocks and actions */
  .actions .print-link-url,
  .warn .print-link-url {
    display: none;
  }

  /* Style breadcrumbs */
  #qg-breadcrumb{
    display: block;
  }
  #qg-breadcrumb h2 {
    font-size: 100%;
    display: block;
    margin: .5em 0;
    font-weight: normal;
  }
  #qg-breadcrumb ol,
  #qg-breadcrumb li,
  #qg-breadcrumb li.last-child,
  #qg-breadcrumb a {
    text-decoration: none !important;
    color: black !important;
    display: inline !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  #qg-breadcrumb a {
    padding-right: .5em;
  }
  #qg-breadcrumb a:after {
    content: " >";
  }
  #qg-breadcrumb li:before, #qg-breadcrumb a:before {
    display: none !important;
  }

  /* A few simple lines */
  #qg-site-header {
    border-bottom: 1px solid #000000 !important;
    margin-bottom: 1em;
    display: block;
    min-height: 32mm;
  }
  #qg-site-map {
    border-top: 1px solid #000000;
    padding-top: 1em;
  }

  /* hide the tagline when printing */
  #qg-branding {
    display: none;
  }

  #page-container,
  #content-container,
  .article,
  #document-properties,
  #post-page-options,
  #page-feedback,
  #content .section,
  #content,
  .section,
  .max-width {
    width: 100% !important;
    max-width: 100% !important;
  }

  .print-link-url,
  #site-name img.qg-print-version,
  #qg-logo img.qg-print-version,
  #qg-coa img.qg-print-version {
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: inline;
  }

  #ia .d1 img {
    float: left;
  }

  .compact .section {
    display: block !important;
  }
  #quick-exit {
    display: none;
  }
  .controls-grp{
    display: none;
  }
  .qg-featured.qg-aside .carousel {
    width: 50%;
  }

  //SSQGHF styles START 
  .qg-site-footer .qg-footer-col-content, #qg-portal-links, .qg-coat-of-arms img, #qg-show-menu, #qg-show-search {
    display: none !important;
  }
  .qg-breadcrumb-list-item.shortened {
    max-width: 400px;
  }
  #qg-breadcrumb .qg-breadcrumb-list-item.shorten {
    display: none !important;
  }
  #qg-content {
    clear: both
  }
  .qg-coat-of-arms .qg-print-coat-of-arms {
    display: block !important;
  }
  //SSQGHF styles END
}

/*print styles for forms*/
@media only print {
  form abbr[title*=required]:after {
      content: ''
  }
  form .label {
      border: none;
  }
}