// ############################################
// Site navigation      
#qg-site-nav {   
@extend .col-lg-12;    
background-color: #444;
padding: 0;

ul {
color: #FFF;
@extend .col-sm-12;
@include fontSize(16px);
margin-bottom: 0px;

li {
display: block;
float: left;
padding: 0;

a {
display: block;
padding: .3em .5em .7em .5em;
margin: 0;
color: #fff;
@include fontSize(16px);
&:hover {
background-color: #555;
text-decoration: none;
}
}    
}

li + li {
border-left: 1px solid #666;
}

}
}

// ############################################
// responsive styles
@include breakpoint($bs-md) {

#qg-site-nav {
//  background: #494949;
display: none;

ul {
margin: 0;
padding: 0;

li {
float: none;

&:first-child {} 

&:last-child {
border-bottom: none
}

&:nth-child(2n) {
background-color: #505050;
}
}

li + li {
border: none;      
}
}
}
}

// ############################################
// responsive styles
@include breakpoint($bs-xs){

}
