#qg-search-form {
  @extend .col-xs-12;
  @extend .col-sm-12;
  @extend .col-md-3;
  @extend .col-lg-3; 

  input {
    border-radius: 0;
  }

  button.btn-default {
    background: $green;
    border-radius: 0;
  }
    
    .listbox {
    list-style: none;
    position: absolute;
    top: 2em;
    z-index: 999999;
    width: 100%;
    padding: 0;
        
    li {
      background: #E7F5FE;
      width: 100%;
      padding-left: 0.8em;
      a {
        mark {
         font-weight: bold;
        }
      }
    }
  }  
    
}