#qg-primary-content .qg-index-links {
  @extend .d-flex;
  @extend .flex-wrap;
  .qg-index-item.content-only{
    h2, p, ul, &> div &> span {
      padding-left: 10px;
    }
  }

  &> .qg-index-item {
    @include make-col-ready();
    @include make-col(12);
    margin-bottom: $qg-spacing;
    word-wrap: break-word;
    img {
      width: 75px;
      height: 75px;
      float: left;
    }
    a {
      // workaround for Firefox border issue on multiline links,
      // https://www.drupal.org/project/drupal/issues/3016658
      display: inline-block;
      img {
        position: absolute;
        left: 25px;
        background: #f9f9f9;
        border: 1px solid #fffefc;
        box-shadow: 0 0 2px 1px rgba(0,0,0,.1);
        &:hover {
          border: 1px solid #06c;
        }
      }

    }
    ul {
      li {
        position: relative;
        padding-left: 16px;
        padding-bottom: 5px;
        list-style: none;
        @include rem(line-height, 24px);
        a {
          font-size: 1rem;
          &:before {
            position: absolute;
            left: 0;
            top: 0.5rem;
            font-family: FontAwesome;
            font-size: 0.7rem;
            line-height: 1;
            padding-right: 0.8rem;
            content: "\f054";
          }
          @include qg-link-styles__no-underline-default;
        }
      }
    }
    h2, p, ul, &> div &> span {
      padding-left: ($qg-spacing * 0.5) + 75px;
    }
    h2 {
      margin-top: 0;
      @include rem(font-size, 19px);
      a{
        @include qg-link-styles__no-underline-default;
      }
    }
    & > ul:not(.qg-unstyled) {
      list-style: none;
    }
  }
  @include breakpoint(xs) {
    margin-right: 0;
    margin-left: 0;
    &> .qg-index-item{
      //width: 100%;
      margin-bottom: 10px;
      background: $qg-blue-green;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    h2 {
      padding: 0 !important;
      margin-bottom: 0;
      a {
        padding: 1em 1.5em 1em 1.5em !important;
        display: block;
        color: white !important;
      }
      a:visited, a:active{
        color: white !important;
      }
      a:hover {
        background: #007eb1;
        color: white !important;
      }
      img {
        display: none;
      }
    }
    p,ul{
      display: none;
    }
  }
}

// Override default link styling, but don't increase priority
// of other index-links rules
#qg-content #qg-primary-content .qg-index-links {
  @include breakpoint(xs) {
    h2 a {
      @include qg-link-styles__theme-white;
    }
  }
}

// Stops problems with bootstrap flowing of elements
@mixin qg-index-item {
  content: '';
  display: block;
  clear: both;
}

// Legacy stuff
#qg-one-col, #qg-three-col, #qg-two-col-aside:not(.wide), #qg-two-col-nav:not(.wide) {
  .qg-index-links > .qg-index-item {
    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }
    &:nth-child(3) {
      @include qg-index-item;
    }
  }
}

#qg-one-col.wide {
  .qg-index-links > .qg-index-item {
    @include media-breakpoint-up(sm) {
      @include make-col(3);
    }
    &:nth-child(5) {
      @include qg-index-item;
    }
  }
}

#qg-two-col-aside.wide, #qg-two-col-nav.wide {
  .qg-index-links > .qg-index-item {
    @include media-breakpoint-up(sm) {
      @include make-col(4);
    }
    &:nth-child(4) {
      @include qg-index-item;
    }
  }
}
