.qg-index-links {
	&> .qg-index-item {
		margin-bottom: $qg-spacing;

		img {
			width: 75px;
			height: 75px;
			float: left;
		}
		a {
			&:hover {
				img {
					border: 1px solid #06c;
				}
			}
			img {
				position: absolute;
				left: 25px;
				background: #f9f9f9;
				border: 1px solid #fffefc;
				box-shadow: 0 0 2px 1px rgba(0,0,0,.1);
			}
		}
		h2, p, ul, &> div &> span {
			padding-left: ($qg-spacing / 2) + 75px;
		}
		h2 {
			margin-top: 0;
			@include fontSize(19px);
		}
		& > ul:not(.qg-unstyled) {
			list-style: none;
		}
	}
}

// Stops problems with bootstrap flowing of elements
@mixin qg-index-item {
    content: '';
    display: block;
    clear: both;
}

// Legacy stuff
#qg-one-col, #qg-three-col, #qg-two-col-aside:not(.wide), #qg-two-col-nav:not(.wide) {
	.qg-index-links > .qg-index-item {
		@include make-sm-column(6);
		&:nth-child(3) {
			@include qg-index-item;
		}
	}
}

#qg-one-col.wide {
	.qg-index-links > .qg-index-item {
		@include make-sm-column(3);
		&:nth-child(5) {
			@include qg-index-item;
		}
	}
}

#qg-two-col-aside.wide, #qg-two-col-nav.wide {
	.qg-index-links > .qg-index-item {
		@include make-sm-column(4);
		&:nth-child(4) {
			@include qg-index-item;
		}
	}
}
