.qg-index-links {
	&> .qg-index-item {
		margin-bottom: $qg-spacing;

		img {
			width: 75px;
			height: 75px;
			float: left;
		}
		h2, p, ul, &> div &> span {
			padding-left: ($qg-spacing / 2) + 75px;
		}
		h2 {
			margin-top: 0;
			@include fontSize(19px);
		}
		& > ul:not(.qg-unstyled) {
			list-style: none;
		}
	}
  @include breakpoint(xs) {
    margin-right: 0;
    margin-left: 0;
    &> .qg-index-item{
      width: 100%;
      margin-bottom: 10px;
      background: $qg-blue-green;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    h2 {
      padding: 0 !important;
      margin-bottom: 0;
      a {
        padding: 1em 1.5em 1em 1.5em !important;
        display: block;
        color: #ffffff !important;
      }
      a:visited, a:active{
        color: #ffffff !important;
      }
      a:hover {
        background: #007eb1;
        color: #ffffff !important;
        text-decoration: none !important;
      }
      img {
        display: none;
      }
    }
    ul{
      display: none;
    }
  }
}

// Stops problems with bootstrap flowing of elements
@mixin qg-index-item {
    content: '';
    display: block;
    clear: both;
}

// Legacy stuff
#qg-one-col, #qg-three-col, #qg-two-col-aside:not(.wide), #qg-two-col-nav:not(.wide) {
	.qg-index-links > .qg-index-item {
		@include make-sm-column(6);
		&:nth-child(3) {
			@include qg-index-item;
		}
	}
}

#qg-one-col.wide {
	.qg-index-links > .qg-index-item {
		@include make-sm-column(3);
		&:nth-child(5) {
			@include qg-index-item;
		}
	}
}

#qg-two-col-aside.wide, #qg-two-col-nav.wide {
	.qg-index-links > .qg-index-item {
		@include make-sm-column(4);
		&:nth-child(4) {
			@include qg-index-item;
		}
	}
}
