.qg-service-finder__container{
  padding: 0;
  margin-bottom: 0;
  .qg-search-form .input-group {
    float: inherit;
    position: relative;
    width: 100%;
  }
  .qg-search-form .qg-search-concierge.show {
    z-index: 9;
  }
}
.qg-service-finder__popular-apps-title{
  margin-left: 0;
}
#qg-banner-blurb {
  margin-bottom: 3em;
}
#qg-banner-blurb a {
  color: inherit;
}
.qg-search-form .form-control {
  color: #000 !important;
}
#qg-banner-blurb .blurb p {
  margin-left: 0;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.qg-search-form .form-control {
  color: #000;
}
#qg-banner-blurb .blurb a:hover, #qg-banner-blurb a:visited, #qg-banner-blurb a:active {
  color: inherit !important;
  text-decoration: inherit !important;
}

.qg-banner-blurb_wrapper .blurb {
  width: 100% !important;
  background: initial !important;
  padding: inherit !important;
}
//.highlight .btn-global-primary-white {
//  color: #063652 !important;
//  a:hover, a:visited, a:active {
//    color: #063652 !important;
//  }
//}
.qg-search-form .qg-search-concierge-group.highlight .btn-global-primary-white {
  color: #063652 !important;
}
