// Basic //
.carousel{
	margin-top: 1em;
	margin-bottom: 1em;

	.carousel-caption{
		margin-bottom: 30px;
		padding: 1em;

		background: #000; // #E7F5FE;
		background: rgba(0, 0, 0, 0.7);

		color: #fff;
		text-shadow: none;

		*:first-child{
			margin-top: 0;
		}

		*:last-child{
			margin-bottom: 0;
		}
	}

	.carousel-indicators{
		bottom: 10px;
    li {
      border-radius: 50%;
    }
	}
}


// EXTENDED //

.carousel.qg{
	.carousel-inner img{
		width: 100%;
	}
	.carousel-caption{
		// Bootstrap over-rides
			// position: static;
			// bottom: auto;
			left: auto;
			right: auto;
			width: auto;
			margin: 0;
			text-align: left;
		// END Bootstrap over-rides
		bottom: 0;
		width: 100%;

		padding: 1em;
		background: #000; // #E7F5FE;
		background: rgba(0, 0, 0, 0.7);

		color: #fff;
		text-shadow: none;

		h2,h3{
			font-size: 1rem;
		}
		*{
			text-shadow: none;
		}
	}

	.qg-carousel-controls{
		position: relative;

		width: 100%;
		padding: 1.2em;

		background: #007EB1;

		.carousel-indicators{
			// Bootstrap over-rides
				position: static;
				bottom: auto;
				left: auto;
				width: auto;
				margin: 0;
				text-align: center;
			// END Bootstrap over-rides
		}

		.carousel-control{
			color: white;
      //TODO check icon on md screen carousel
			//@media (min-width: $screen-md-min) {
			//	.glyphicon{ line-height: 0.7em; }
			//}
		}
	}
}
