//#qg-secondary-content {
//  .questions {
//    input[type=text], input[type=password], input[type=search], input[type=email], input[type=tel], input[type=url], input[type=date], input[type=time], input[type=datetime], input[type=number], select {
//      -webkit-box-sizing: border-box;
//      box-sizing: border-box;
//      width: 99%;
//      max-width: 99%;
//    }
//    .location {
//      padding-top: 0.2em;
//      padding-right: 3em;
//      -webkit-box-sizing: border-box;
//      box-sizing: border-box;
//      position: relative;
//      &:before, &:after {
//        content: " ";
//        display: table;
//      }
//      &:after {
//        clear: both;
//      }
//      input#location {
//        padding-top: 0.5em;
//        padding-bottom: 0.5em;
//        -webkit-box-sizing: border-box;
//        box-sizing: border-box;
//        & + #app-geocoding {
//          background: #78BA00;
//          position: absolute;
//          height: 2em;
//          right: 0;
//          margin: 0.05em 0 0;
//          padding: 0.15em 0.2em;
//          vertical-align: middle;
//          &:hover, &:focus {
//            background-color: #b1e455;
//            outline: 1px solid #78BA00;
//            outline-offset: -1px;
//          }
//        }
//      }
//    }
//  }
//}
///* form actions */
//.actions, #qg-secondary-content .actions {
//  display: block;
//  list-style: none;
//  margin: 0;
//  padding: .5em 0 0;
//  overflow: hidden;
//  &:before, &:after {
//    content: " ";
//    display: table;
//  }
//  &:after {
//    clear: both;
//  }
//}
///* radio buttons and checkboxes are choices */
//.choices, #qg-secondary-content .choices {
//  display: block;
//  list-style: none;
//  margin: 0;
//  padding: 0;
//}
///* buttons */
//button,
//.button,
//input[type=button],
//input[type=submit],
//input[type=image],
//input[type=reset] {
//  cursor: pointer;
//  pointer-events: auto;
//  border-radius: 0; }
//
//.button,
//.button:link,
//.button:visited,
//.button:active,
//.button:focus,
//.button:hover,
//#asides .button:visited {
//  display: inline-block;
//  color: #ffffff;
//  text-decoration: none;
//  white-space: nowrap; }

/* a form is a list of questions */
.questions {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    clear: left;
    position: relative;
    padding: .5em 0 .7em;
    list-style: none;
    transition: opacity 0.2s ease,margin 0.2s ease,padding 0.2s ease;
  }
}
