//links styles
a {
  color: $qg-blue-dark;
  &:active, &:hover, &:focus {
    color: $qg-blue-dark;
  }
}

.qg-global-link-styles{
  &:focus, &:hover, &:link, &:visited {
    text-underline-offset: 5px;
  }
  &:active, &:focus{
    outline: 3px solid #0096D6;
    outline-offset: 2px;
  }
  &:visited {
    color: #80b;
  }
  &:visited:hover {
    color: #80b;
    text-decoration: underline 2px solid;
    text-decoration-color: #80b;
  }
}

.qg-link-styles__default{
  @extend .qg-global-link-styles;
  &:link {
    text-decoration: underline 0.5px solid;
  }
  &:hover {
    text-decoration: underline 2px solid;
  }
}

.qg-link-styles__no-underline{
  @extend .qg-global-link-styles;
  &:link {
    text-decoration: none 0.5px solid;
  }
  &:hover {
    text-decoration: underline 2px solid;
  }
}
