// This file contains all possible SWE link styling themes. Components extends these theme classes. As an example,
//a {
//  @include .qg-link-styles__no-underline-default
//}
//-------------------------------------------------

// global link styles
@mixin qg-global-link-styles($margin: 2px) {
  // make exception for certain classes, which need to re-visit for better optimization
  &:not(.qg-feature-box .qg-link):not(.qg-index a.qg-index-item):not(.page-item
      .page-link):not(.dfv-cards--type-top-prompt
      a.card):not(.search-categories__index-toggle):not(.search-categories__index):not(.qg-aside-button):not(.dfv-back
      a):not(.QSAR-records-search a):not(.dfv-content a.qg-links-list__link) {
    &:not(span[role=link] *) {
      text-underline-offset: $text-underline-offset;
    }
    // not sure why Asif need to add this, which will have side-effect on customised style added by franchise.
    // &:hover,
    // &.hover {
    //   background: none;
    // }
    @include qg-button-outline-decoration($margin);
    @content;
  }
}

@mixin qg-link-unvisited-color($color: $link-color) {
  &:not(:visited):not(.btn):not(.qg-btn):not(.button) {
    color: $color;
    @content;
  }
}

@mixin qg-link-white {
  // style rules for links with white text (intended for dark backgrounds)
  color: white !important;
  text-decoration-color: rgba(255, 255, 255, 0.73) !important;
  @include qg-underline-on-highlight-decoration {
    text-decoration-color: white !important;
  }
}

@mixin _qg-link-none-decoration {
  text-decoration-line: none;
  @include qg-link-visited-decoration;
}

//-------------------------------------------------

//START theme BLUE
// 1. color theme blue with underline
@mixin qg-link-styles__default {
  @include qg-global-link-styles {
    @include qg-link-decoration;
    @include qg-link-visited-decoration;
    @include qg-underline-on-highlight-decoration;
    &:not(.qg-private-content-link) {
      @include qg-link-unvisited-color {
        text-decoration-color: #457aa3;
      }
    }
  }
}

// 2. color theme blue no underline
@mixin qg-link-styles__no-underline-default {
  @include qg-global-link-styles {
    @include qg-link-unvisited-color;
    &:link {
      @include _qg-link-none-decoration;
    }
    @include qg-underline-on-highlight-decoration;
  }
}

//END theme BLUE

//-------------------------------------------------

// START theme BLACK
// 1. color theme black no underline
@mixin qg-link-styles__no-underline-black {
  @include qg-global-link-styles {
    // in case underline is restored by eg hover
    text-decoration-color: currentColor;
    @include qg-link-unvisited-color($qg-global-primary-darker-grey);
    &:link {
      @include _qg-link-none-decoration;
    }
    @include qg-underline-on-highlight-decoration;
    @include qg-button-outline-decoration($light-background: true);
  }
}

// 2. color theme black with underline
@mixin qg-link-styles__theme-black($margin: 2px) {
  @include qg-global-link-styles($margin) {
    @include qg-link-unvisited-color($qg-global-primary-darker-grey) {
      text-decoration-color: #737678;
    }
    @include qg-link-decoration;
    @include qg-link-visited-decoration;
    @include qg-underline-on-highlight-decoration;
    @include qg-button-outline-decoration($light-background: true);
  }
}

// Black theme that doesn't change when visited
@mixin qg-link-styles__theme-black-always {
  @include qg-global-link-styles {
    color: $qg-global-primary-darker-grey;
    @include qg-link-decoration;
    @include qg-link-visited-decoration($qg-global-primary-darker-grey);
    text-decoration-color: #737678;
    @include qg-underline-on-highlight-decoration;
    @include qg-button-outline-decoration($light-background: true);
  }
}

// END theme BLACK

//-------------------------------------------------

// START theme WHITE
// 2. With underline
@mixin qg-link-styles__theme-white($margin: 2px) {
  @include qg-global-link-styles($margin) {
    @include qg-link-white;
    @include qg-link-decoration;
    @include qg-button-outline-decoration($light-background: false);
  }
}

// 2. without underline
@mixin qg-link-styles__no-underline-white {
  @include qg-global-link-styles {
    @include qg-link-white;
    &:link {
      @include _qg-link-none-decoration;
    }
    @include qg-underline-on-highlight-decoration;
    @include qg-button-outline-decoration($light-background: false);
  }
}

// END theme WHITE

//-------------------------------------------------

//visited theme
.qg-link-styles__visited-change {
  &:visited {
    color: #80b;
    text-decoration-color: currentColor;
    @include qg-underline-on-highlight-decoration {
      color: #80b;
      text-decoration-color: currentColor;
    }
  }
}

//-------------------------------------------------

// Apply default styling to all links that don't have a button class
@mixin qg-non-button-link-styles__default {
  a:not(.qg-btn):not(.btn):not(.button){
    @include qg-link-styles__default;
  }
}

@supports selector(:has(a)) {
  // Move underline decorations from 'u' tags to their enclosed anchors.
  // This allows us to apply customisations directly to the anchor,
  // without the 'u' tag getting in the way.
  u:has(a) {
    text-decoration-line: none;
  }
  u a {
    text-decoration-line: underline;
  }
}
@supports not selector(:has(a)) {
  // On browsers that cannot use the :has pseudo-selector (Firefox),
  // just exclude our standard underline styling inside a 'u' tag,
  // so we don't get a double underline.
  u a {
    text-decoration-line: none !important;
  }
}
