<div class="card col-sm">
  <div class="card-body px-0">
    <div class="qg-spinner" role="status">
      <div class="spinner-border"></div>
      <div class="qg-spinner-label">Loading...</div>
    </div>
  </div>
</div>
<div class="card col-sm" style="background-color: var(--qg-color-primary); color: white">
  <div class="card-body px-0">
    <div class="qg-spinner" role="status">
      <div class="spinner-border"></div>
      <div class="qg-spinner-label">Loading...</div>
    </div>
  </div>
</div>
