<section class="qg-promotional-content">
  <div class="row">
    <div class="col-lg-4 col-sm-6">
      <article class="promotions">
        <h2>Promotion heading</h2>
        <div class="figure">
          <img src="https://static.qgov.net.au/assets/v4/latest/images/placeholders/702x395.png" class="promotion-image" />
          <p class="caption">© Image credits</p>
        </div>
        <p class="description">Description about promotion.</p>
        <p class="more">
          <a href="" title="Link to promotion details">More…</a>
        </p>
      </article>
    </div>
    <div class="col-lg-4 col-sm-6">
      <article class="promotions">
        <h2>Promotion heading</h2>
        <div class="figure">
          <img src="https://static.qgov.net.au/assets/v4/latest/images/placeholders/702x395.png" class="promotion-image" />
          <p class="caption">© Image credits</p>
        </div>
        <p class="description">Description about promotion.</p>
        <p class="more">
          <a href="" title="Link to promotion details">More…</a>
        </p>
      </article>
    </div>
    <div class="col-lg-4 col-sm-6">
      <article class="promotions">
        <h2>Promotion heading</h2>
        <div class="figure">
          <img src="/assets/images/placeholders/702x395.png" class="promotion-image" />
          <p class="caption">© Image credits</p>
        </div>
        <p class="description">Description about promotion.</p>
        <p class="more">
          <a href="" title="Link to promotion details">More…</a>
        </p>
      </article>
    </div>
  </div>
</section>
