<footer id="qg-site-footer" class="container-fluid qg-site-width">
  
</footer>

<!--scripts are repeating on footer-scripts.html-->

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="https://rawgit.com/qld-gov-au/glue-module-loader/master/htdocs/assets/js/loader.js"></script>-->
<!--<script src="/node_modules/generate-id/dist/generate-id.min.js"></script>-->
<!--<script src="/assets/v3/js/main.js"></script>-->
