version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10.16.0

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: Workaround for GoogleChrome/puppeteer#290
          command: 'sh .circleci/setup_puppeteer.sh'

      - run: npm install

      - run:
          name: Build
          command: npm run build

      - run:
          name: Local Server
          command: npx gulp serve
          background: true

      - run: npx jest --ci --reporters=default --reporters=jest-junit

      - store_artifacts:
          path: ./test-results/junit

      - store_test_results:
          path: ./test-results


