<blockquote cite="#">
  <p>
    The terms&nbsp;<em>inspection</em>,&nbsp;<em>custody</em>,&nbsp;<em>storage</em>,&nbsp;<em
      >repair</em
    >
    or&nbsp;<em>other treatment</em> shall include, where applicable, the transport or towing of any
    goods to the premises used or appropriated by the bailee for acceptance for any such inspection,
    custody, storage, repair or other treatment as the case may be.
  </p>
  <footer>
    <cite
      ><p>
        <a href="https://qld-gov-au.github.io/web-template-release/components/blockquote.html#"
          >Disposal of Uncollected Act 1967</a
        >
      </p></cite
    >
  </footer>
</blockquote>
