.alert {
  position: relative;
  // margin-left: 60px;
  border: 0;
  border-left: 5px solid;
  color: #000;

  h2 {
    margin-top: 5px;
    font-size: 1.2em;
  }

  &.alert-danger {
    color: #fff;
    a {
      color: #FF0;
    }
  }
  &.alert-success {
    border-color: $brand-success;
  }
  &.alert-info {
    border-color: $brand-info;
  }
  &.alert-warning {
    border-color: $brand-warning;
  }
  &.alert-success, &.alert-info, &.alert-warning{
    h2 {
      i {
        margin-right: 10px;
      }
    }
  }

}

.status{
  margin: 0 0 24px 0 !important;
  & > *:first-child {
      margin-left: 30px;
  }
  &.success , &.info, &.tip{
    position: relative;
    border: 0;
    border-left: 5px solid;
    padding: 1em;
    &:before, &:hover:before {
      margin-left: -14px;
      top: 6px;
    }
  }
  &.success {
    border-color: #9ebf6d;
  }
  &.info, &.tip{
    border-color: $brand-info;
  }
}
