// Secondary button appears in QLD blue
.btn-secondary {
  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}

.qg-btn {
  @extend .btn;
}

#feature-search-submit{
  padding: 8px 10px;
  border-radius: 0;
}

