.qg-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &:before, &:after {
    content: normal;
  }
  .qg-card {
    @include breakpoint(md) {
      padding-left:1em !important;
      padding-right:1em !important;
    }
  }
}
.qg-card {
  color: #FFFFFF;
  margin-bottom: 2rem;
  display: flex;
  .btn-primary{
    @extend .btn-secondary;
    width: 100%;
  }
  .qg-card__footer{
    padding: 1em;
    border-top: 1px solid hsla(0,0%,50%,.7);
    //this condition is to support legacy Aggregation page HTML
    .btn {
      width: 100%;
    }
    .btn-link{
      padding-left: 0;
      text-align: left;
      color: #fff !important;
      text-decoration: underline !important;
      &:hover, &:active, &:focus, &:visited{
        color: #fff !important;
        text-decoration: none !important;
      }
    }
  }
  // card with light theme styles
  &.card__light-theme{
    .content{
      background: none;
      .details {
        color: #000;
        a:not(.btn), a:not(.qg-btn) {
          color:#000000;
          &:hover, &:active, &:focus, &:visited{
            color: #000000 !important;
          }
        }
      }
      .qg-card__footer{
        border-top: 1px solid rgba(211, 211, 211, 1);
        .btn-link{
          padding-left: 0;
          text-align: left;
          text-decoration: underline !important;
          color: #13578b !important;
          &:hover, &:active, &:focus, &:visited{
            color: #13578b !important;
            text-decoration: none !important;
          }
        }
      }
    }
  }
  .content{
    width: 100%;
    border: solid 1px #d3d3d3;
    background: #444444;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    img {
      width: 100%;
      height: auto;
      & + .details a.qg-btn{
        margin-bottom: 0.5em;
        margin-top: 0.5em !important;
      }
    }
    .details{
      padding: 1em;
      > :first-child {
        padding-top: 0;
        margin-top: 0;
      }
      a {
        color: #FFFFFF;
        &:hover, &:active, &:focus, &:visited{
          color: #FFFFFF !important;
          text-decoration: none !important;
        }
        &.btn {
          margin-top: 1em;
          padding-top: 0.5em;
          padding-bottom: 0.5em;
        }
        text-decoration: underline;
        &:hover, &:active, &:focus, &:visited{
        }
      }
      ul {
        padding: 0;
        li {
          position: relative;
          padding-left: 1.6rem;
          list-style: none;
          margin: 0;
          &:before {
            font-family: FontAwesome;
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            content: "\f054";
            margin-right: .6rem;
            font-size: 0.8rem;
            position: absolute;
            padding-right: .8rem;
            left: 0;
            top: .5rem;
          }
        }
      }
    }
    @include breakpoint(sm) {
      .qg-pin-bottom {
        position: absolute;
        bottom: 1em;
        width: calc(95% - 1em);
        box-sizing: border-box;
      }
    }
    @include breakpoint(md) {
      .qg-pin-bottom-md {
        position: absolute;
        bottom: 1em;
        width: calc(94% - 1em);
        box-sizing: border-box;
      }
    }
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}


// card with full width
.qg-card.card__full-width{
  padding: 0 !important;
  @include breakpoint(md) {
    padding: inherit;
  }
  .qg-card__footer{
    .qg-btn {
      width: 100%;
      @include breakpoint(sm) {
        width: 200px;
      }
    }
  }
  .details > h2 {
    margin-top:0;
  }
}
