.qg-correct, .qg-incorrect {
  position: relative;

  margin: 0.4em 0;
  padding: 15px 15px 15px 40px;

  border-style: solid;
  border-width: 1px;
  border-left-width: 7px;

  vertical-align: top;

  &:before {
    aria-hidden: true;
    position: absolute;
    top: 8px;
    left: 5px;
    width: 30px;

    font-family: FontAwesome;
    font-size: 24px;
    text-align: center;
  }
}

.qg-correct {
  border-color: $qg-correct-border-color;
  background-color: $qg-correct-bg-color;

  &:before {
    content: "\f00c";
    color: $qg-correct-color;
  }
}

.qg-incorrect {
  border-color: $qg-incorrect-border-color;
  background-color: $qg-incorrect-bg-color;

  &:before {
    content: "\f00d";
    color: $qg-incorrect-color;
  }
}

span.qg-correct, span.qg-incorrect {
  display: inline-block;
  max-width: 48%;
}

/*.table-responsive table.table tr, .table-responsive table tr,
  .table-responsive table.table tbody tr, .table-responsive table tbody tr,
  table.table tbody tr, table tbody tr
  table.table tr, table tr {
    */
.table > tbody > tr,
  table {
  td.qg-correct, td.qg-incorrect {
    display: table-cell;
    border-left-width: 3px;
  }
  td.qg-correct {
    @extend .qg-correct;
  }
  td.qg-incorrect {
    @extend .qg-incorrect;
  }
}

table.qg-correct-incorrect {
  td:nth-child(odd) {
    @extend .qg-correct;
    border-left-width: 3px;
  }
  td:nth-child(even) {
    @extend .qg-incorrect;
    border-left-width: 3px;
  }
}


/*
@mixin qg-correct-incorrect-core() {
  position: relative;

  margin: 0.4em 0;
  padding: 15px 15px 15px 40px;

  border-style: solid;
  border-width: 1px;
  border-left-width: 7px;

  vertical-align: top;

  &:before {
    aria-hidden: true;
    position: absolute;
    top: 8px;
    left: 5px;
    width: 30px;

    font-family: FontAwesome;
    font-size: 24px;
    text-align: center;
  }
}

@mixin qg-correct() {
  @include qg-correct-incorrect-core();
  margin-width-right: 1%;
  max-width: 48%;

  border-color: $qg-correct-border-color;
  background-color: $qg-correct-bg-color;

  &:before {
    content: "\f00c";
    color: $qg-correct-color;
  }
}
@mixin qg-incorrect() {
  @include qg-correct-incorrect-core();
  margin-width-right: 1%;
  max-width: 48%;

  border-color: $qg-incorrect-border-color;
  background-color: $qg-incorrect-bg-color;

  &:before {
    content: "\f00d";
    color: $qg-incorrect-color;
  }
}

// Generic

.qg-correct, .qg-incorrect {
  display: inline-block;
}

.qg-correct {
  @include qg-correct();
}

.qg-incorrect {
  @include qg-incorrect();
}

div.qg-correct, div.qg-incorrect {
  display: block;
  max-width: 100%;
}

// Table styles

table tr td.qg-correct, table tr td.qg-incorrect {
  display: table-cell;
  // padding: 17px 20px 17px 45px;
  border-left-width: 3px;
  max-width: 50%;

  // &:before {
  //   top: 10px;
  //   left: 10px;
  // }
}

table.qg-correct-incorrect {
  td:nth-child(odd) {
    @include qg-correct();
  }
  td:nth-child(even) {
    @include qg-incorrect();
  }

  td:nth-child(even), td:nth-child(odd) {
    display: table-cell;
    // padding: 17px 20px 17px 45px;
    border-left-width: 3px;
    
    max-width: 50%;

    // &:before {
    //   top: 10px;
    //   left: 10px;
    // }
  }
}
table.table.qg-correct-incorrect {
  td:nth-child(even) {
    border-right-width: 2px;
  }
}
*/

/*
.qg-correct {
  position: relative;
  display: inline-block;

  box-shadow: inset 0.5rem 0 0 0 #78ba00;
  border-top: 0.1rem solid #78ba00;
  border-right: 0.1rem solid #78ba00;
  border-bottom: 0.1rem solid #78ba00;
  max-width: 60%;
  margin: 0.8em 0.8em 0.8em 0;
  padding: 1.2rem 0.5rem 1.2rem 3.6rem;
  border-radius: 0 0.25rem 0.25rem 0;

  &:before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 2em;
    color: #78ba00;
    position: absolute;
    left: 0.5em;
    top: 0.35em;
    aria-hidden: true;
  }
}


td.qg-correct {
  display: table-cell;
}

.qg-incorrect {
  position: relative;
  display: inline-block;
  box-shadow: inset 0.5rem 0 0 0 #cc352d;
  border-top: 0.1rem solid #cc352d;
  border-right: 0.1rem solid #cc352d;
  border-bottom: 0.1rem solid #cc352d;
  max-width: 60%;
  margin: 0.8em 0.8em 0.8em 0;
  padding: 1.2rem 0.5rem 1.2rem 3.6rem;
  border-radius: 0 0.25rem 0.25rem 0;
}

td.qg-incorrect {
  display: table-cell;
}

.qg-incorrect:before {
  content: "\f00d";
  font-family: FontAwesome;
  font-size: 2em;
  color: #cc352d;
  position: absolute;
  left: 0.5em;
  top: 0.35em;
  aria-hidden: true;
}
*/
