// Extends bootstrap dropdowns

.btn-group:not(.dropup), .dropdown, .dropup{
    .dropdown-toggle:not(.noicon):after {
        display: inline-block;
        width: 1.2em;
    	padding-left: 0.2em;

        font-family: FontAwesome;
        line-height: inherit;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
    }

}

.btn-group:not(.dropup), .dropdown {
    .dropdown-toggle:not(.noicon):after {
	   content: " \f078"; // Dropdown closed
    }
}
.btn-group.open:not(.dropup), .dropdown.open {
    .dropdown-toggle:not(.noicon):after {
	   content: " \f00d"; // Dropdown open
    }
}

.dropup .dropdown-toggle:not(.noicon):after {
	content: " \f077"; // Dropup closed
}
.dropup.open .dropdown-toggle:not(.noicon):after {
	content: " \f00d"; // Dropup open
}

.btn-group {
    .dropdown-toggle:not(.noicon):after {
        width: 1.4em;
        
        padding-left: 0.1em;
        padding-right: 0.1em;
    }
}

.qg-toggle-icon:after {
    content: "\f078";
    display: inline-block;
    float: right;
    width: 1.2em;
    padding-left: 0.2em;

    color: #fff;
    font-family: FontAwesome;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}
.qg-toggle-icon.collapsed:after {
    content: "\f077";
}
