.print-link-url{
  display: none;
}
/*qg-grab class*/
.qg-grab {
  background-color: $qg-light-blue-gray3;
  clear: both;
  padding: 1.6rem 3.2rem;
}

.download{
  .meta{
    display: inline-block;
    text-decoration: none;
  }
}
