.pagination {
  .page-link{
    padding: 0.7rem 1rem 0.7rem 1rem;
    text-decoration: none !important;
    border: 1px solid #808080;
    .fa-angle-left {
      padding-right: 9px;
    }
    .fa-angle-right {
      padding-left: 9px;
    }
  }
  .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #808080;
  }
  .page-item.active .page-link{
    background-color: #13578B;
    border-color: #13578B;
  }
}
