.pagination {
  .qg-previous:before, .qg-next:after {
    font-family: FontAwesome;
  }
  .qg-previous:before {
    content: '\f137';
    padding-right: .3em;
  }
  .qg-next:after {
    content: '\f138';
    padding-left: .3em;
  }
}
.pagination-container{
  .pagination > li > a {
    padding: 6px 12px;
  }
}
