<section class="qg-promotional-banner__container row">
  <div class="wrapper qg-site-width container-fluid">
    <div class="qg-promotional-banner__info col-12 col-sm-6">
      <h2>Mobile apps</h2>
      <p>Browse through Queensland Government mobile apps.</p>
      <a href="https://www.qld.gov.au/services/mobile" class="qg-btn btn-primary mt-2"
        >Mobile apps</a
      >
    </div>
    <div class="qg-promotional-banner__popular-apps col-12 col-sm-6">
      <p class="qg-promotional-banner__popular-apps-title">Featured apps</p>
      <section class="qg-promotional-banner__popular-apps-tags">
        <ul>
          <li><a href="https://www.covid19.qld.gov.au/check-in-qld">Check In Qld</a></li>
          <li><a href="https://translink.com.au/plan-your-journey/mytranslink">MyTransLink</a></li>
          <li><a href="https://qldtraffic.qld.gov.au/more/index.html">QLDTraffic</a></li>
          <li>
            <a href="https://www.qld.gov.au/transport/licensing/getting/learner-logbook"
              >Queensland Learner Logbook</a
            >
          </li>
          <li>
            <a
              href="https://www.qld.gov.au/environment/plants-animals/plants/herbarium/weeds/weed-spotters-app"
              >Weed Spotter</a
            >
          </li>
        </ul>
      </section>
    </div>
  </div>
</section>
