<section class="qg-promotional-banner__container row">
  <div class="wrapper qg-site-width container-fluid">
    <div class="qg-promotional-banner__info col-12 col-sm-6">
      <h2>Subscribe for CAVI updates</h2>
      <p>
        Be the first to know about Cooperative and Automated Vehicle Initiative (CAVI) public events
        and opportunities to participate in our public trials.
      </p>
      <a
        href="https://www.forgov.qld.gov.au/information-and-communication-technology/communication-and-publishing/website-and-digital-publishing/website-standards-guidelines-and-templates/swe/components/promotional-banner"
        class="qg-btn btn-primary mt-2"
        >Subscribe</a
      >
    </div>
    <div class="qg-promotional-banner__popular-apps col-12 col-sm-6">
      <p>
        <img
          src="https://static.qgov.net.au/assets/v4/latest/images/placeholders/SWE-promobanner-img.png"
          class="img-fluid"
          alt=""
          width="652"
          height="367"
        />
      </p>
    </div>
  </div>
</section>
