//
// GLUE Core scaffolding
// --------------------------------------------------

a{
  color: #13578b;

  &:hover{
    color: #0066CC;
  }

  //// Link icons ////
  // Common CSS
  &[target=_blank]:after,
  &[href^="http://"]:not([href*="qld.gov.au"]):after,
  &[href^="https://"]:not([href*="qld.gov.au"]):after,
  &[href^="//"]:not([href*="qld.gov.au"]):after{
      display: inline-block;
      margin-left: 0.1em;
      padding: 0 0.1em 0 0.2em;

      background: inherit;
      opacity: 0.8;

      font-size: 0.7em;
      line-height: inherit;
      font-family: FontAwesome;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-weight: normal;
      text-decoration: none;
  }
  // External links
  &[href^="http://"]:not([href*="qld.gov.au"]):after,
  &[href^="https://"]:not([href*="qld.gov.au"]):after,
  &[href^="//"]:not([href*="qld.gov.au"]):after{
    content: " \f08e ";
  }

  // New window links
  &[target=_blank]{

    &:after{
      content: " \f196 ";
    }

    // New window external links
    &[href^="http://"]:not([href*="qld.gov.au"]):after,
    &[href^="https://"]:not([href*="qld.gov.au"]):after,
    &[href^="//"]:not([href*="qld.gov.au"]):after{
      content: " \f196  \f08e ";
    }
  }
  //// END link icons ////
}


//// JUNK / OLD CODE ////

// // External link accessibility assistance
// a[href^="http://"]:not([href*="qld.gov.au"]):after,
// a[href^="https://"]:not([href*="qld.gov.au"]):after,
// a[href^="//"]:not([href*="qld.gov.au"]):after{
//   content: " \f08e ";
//   display: inline-block;
//   margin-left: 0.1em;
//   padding: 0 0.1em 0 0.3em;
  
//   background: inherit;
//   opacity: 0.8;

//   font-size: 0.6em;
//   line-height: inherit;
//   font-family: FontAwesome;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   font-style: normal;
//   font-weight: bold;
//   text-decoration: none;
// }



// a[target=_blank]{
//   position: relative;
// }
// a[target=_blank]:hover:before{
//   content: "\f196";
//   position: absolute;
//   right: 0;
//   display: inline-block;
//   margin-left: 0.1em;
//   padding: 0 0.2em 0 0.2em;
  
//   background: #fff;
//   opacity: 0.8;

//   color: #000;
//   line-height: inherit;
//   font-family: FontAwesome;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   font-style: normal;
//   font-weight: normal;
//   text-decoration: none;
// }

//   // Spare code
//   &[target=_blank]{
//     position: relative;

//     &:before{
//       content: "\f196";
//       z-index: 9999;
//       // position: absolute;
//       right: -1em;
//       display: inline-block;
//       margin: 0 .1em;
//       padding: 0;
      
//       background: #fff;
//       // opacity: 0.8;

//       color: #000;
//       line-height: inherit;
//       font-family: FontAwesome;
//       -webkit-font-smoothing: antialiased;
//       -moz-osx-font-smoothing: grayscale;
//       font-style: normal;
//       font-weight: normal;
//       text-decoration: none;
//       white-space: nowrap;
//     }

//     &:hover:before{
//       content: "\f196  Opens in new tab";
//       z-index: 9999;
//       position: absolute;
//       top: 1.1em;
//       display: inline-block;
//       margin: -0.1em .1em;
//       padding: .1em;
      
//       background: #fff;
//       // opacity: 0.8;

//       color: #000;
//       line-height: inherit;
//       font-family: FontAwesome;
//       -webkit-font-smoothing: antialiased;
//       -moz-osx-font-smoothing: grayscale;
//       font-style: normal;
//       font-weight: normal;
//       text-decoration: none;
//       white-space: nowrap;
//     }
//   }
