//
// GLUE Core scaffolding
// --------------------------------------------------

a{
  color: $qg-hyperlink;

  &:hover{
    color: $qg-hyperlink-highlight;
  }
}

/// Accessibility features / options ////
body:not([data-qg-accessibility=false]) {
  //// Link icons ////
  a:not(.btn):not(.qg-accessibility-off){
    // Common CSS
    &[target=_blank]:after,
    &[href^="http://"]:not([href*="qld.gov.au"]):after,
    &[href^="https://"]:not([href*="qld.gov.au"]):after,
    &[href^="//"]:not([href*="qld.gov.au"]):after{
        display: inline-block;
        margin-left: 0.1em;
        padding: 0 0.1em 0 0.2em;

        background: inherit;
        opacity: 0.8;

        font-size: 0.7em;
        line-height: inherit;
        font-family: FontAwesome;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
    }

    // External links
    &[href^="http://"]:not([href*="qld.gov.au"]):after,
    &[href^="https://"]:not([href*="qld.gov.au"]):after,
    &[href^="//"]:not([href*="qld.gov.au"]):after{
      content: " \f08e ";
    }

    // New window links
    &[target=_blank]{
      &:after{
        content: " \f196 ";
      }
      // New window external links
      &[href^="http://"]:not([href*="qld.gov.au"]):after,
      &[href^="https://"]:not([href*="qld.gov.au"]):after,
      &[href^="//"]:not([href*="qld.gov.au"]):after{
        content: " \f196  \f08e ";
      }
    }
  }
  //// END link icons ////
}

//// Buttons - Bootstrap over-rides ////
// TODO: Link with variables
.btn{
  padding: .5em 1em;
  background: $qg-btn-standard;
  border: 0;

  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  transition: background 150ms, color 250ms;

  &:hover, &:focus{
    outline: 0 !important; // SWE2 forms over-ride
    background: $qg-btn-standard-highlight; // #43494e;
    color: #000;
  }

  &:focus {
    border: 1px solid -webkit-focus-ring-color;
  }
  
  &.btn-default {
    background: $qg-btn-default;
    &:hover, &:focus{
      background: $qg-btn-default-highlight; // #006994;
    }
  }

  &.btn-primary {
    background: $qg-btn-primary;
    color: #000;
    &:hover, &:focus {
      background: $qg-btn-primary-highlight;
    }
  }
  &.btn-secondary {

  }
  &.btn-success {
    background: $qg-btn-success;
    &:hover, &:focus {
      background: $qg-btn-success-highlight;
    }
  }
  &.btn-info {
    @extend .btn-default;
    color: #fff;
  }
  &.btn-warning {
    color: #000;
    background: $qg-btn-warning; // #f0ad4e;
    &:hover, &:focus {
      background: $qg-btn-warning-highlight; //#ffe2a5;
    }
  }
  &.btn-danger {
    background: $qg-btn-danger; // #b11900;
    &:hover, &:focus {
      background: $qg-btn-danger-highlight; //#d96250;
    }
  }
  &.btn-link{
    background: none;
    color: #13578b; // #007eb1;
  }
}

a.btn{
  text-decoration: none;
}

.btn.btn-lg{
  padding: 1em 2em;
}

.input-group .btn {
  padding: 6px 12px; // re-set to bootstrap default (TODO: route through bootstrap custom file)
}

