
// ################################
// Settings

@import "_variables.scss";
@import "_mixins.scss";

// ################################
// Core components

@import "_dependancies.scss";
@import "_typography.scss";
@import "_helpers.scss";
@import "includes/_layout.scss";

// ################################
// Bootstrap extensions

@import "bootstrap-extensions/_carousel.scss";
@import "bootstrap-extensions/_show-hide.scss";

// ################################
// Libraries
@import "../lib/ext/butterfly/butterfly.css";

// ################################
// Includes (locational styles)

// site header (qg-site-header)
@import "includes/header/_header.scss";
@import "includes/header/_coat-of-arms.scss";
@import "includes/header/_site-utilities.scss";
@import "includes/header/_site-search.scss";
@import "includes/header/_site-name.scss";
@import "includes/header/_site-navigation.scss";
@import "includes/header/_alerts.scss";

// breadcrumbs
@import "includes/breadcrumbs/_breadcrumb.scss";

// section navigation
@import "includes/nav-section/_nav-section.scss";

// asides
@import "includes/asides/_asides.scss";

// footer
@import "includes/global/_feedback.scss";
@import "includes/footer/_footer.scss";

// ################################
// Components
@import "forms/_forms.scss";
