#qg-banner-blurb{
  @include make-col-ready();
  @include make-col(12);
  background: #f5f5f5;
  min-height: 361px;
  height: auto;
  box-sizing: border-box;
  padding: 1px;
  clear: both;
  position: relative;
  .qg-banner-blurb_wrapper{
    margin: 3em auto;
    max-width: $qg-max-container-width;
    width: 100%;
  }
  &.theme_nobg {
    .qg-banner-blurb_wrapper{
      margin: 4em auto;
    }
    .blurb {
        padding: 0;
        background: transparent;
        color:#000;
        h1{
          color: #000;
        }
    }
    @include breakpoint(xs) {
      background: none;
      min-height: auto;
      height: auto;
      padding: 0 25px 0 25px;
      .qg-banner-blurb_wrapper{
        margin: 1em auto;
      }
    }
  }
  .bottom-right {
    right: 0;
    bottom: 0;
  }
  img {
    max-width: 1312px;
    max-height: 361px;
    @include breakpoint(xs) {
      max-height: 190px;
    }
  }
  .blurb {
    position: inherit;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    margin: 0 15px;
    padding: 1em;
    width: 27.5em;
    & > a:not(.qg-btn):not(.btn) {
      @include media-breakpoint-up(sm) {
        @include qg-link-styles__theme-white;
      }
    }
    .qg-service-finder__container .qg-search-concierge-content {
      a {
        @include qg-link-styles__theme-black-always(black, $qg-global-primary-darker-grey);
      }
      > a {
        padding: 20px 35px 0 35px;
      }
    }
    &.light{
      background: none !important;
      * {
        color: #000 !important;
      }
    }
    .b-cta{
      margin-top: 1em;
    }
    .b-sub{
      margin-top: 1.5em;
    }
    h1{
      color: white;
      padding: 0;
      margin: 0;
      font-size: 1.8em;
    }
    p{
      margin: 0;
      margin-top: 0.3em;
    }
    @include breakpoint(xs) {
      width: 76%;
      width:auto;
      max-width:100%;
      margin:0;
      color: #000000;
      background-color: white;
      padding: 25px 25px 0 25px;
      h1 {
        color: #000000;
      }
    }
  }
  @include breakpoint(xs) {
    min-height: 192px;
    background-color: white !important;
    background-position:top !important;
    background-size:contain !important;
    padding:0;
    padding-top:28%;
    .qg-banner-blurb_wrapper{
      margin: 0;
    }
    &.hide-xs-hero-img{
      background-image:none !important;
      min-height:inherit !important;
      padding-top:0 !important;
    }
  }
}
