h3, h4 {
  line-height: 1.4;
}

h5, h6 {
  line-height: 1.5;
}

blockquote {
  border: none;
  font-size: 1.6rem;
}

#qg-primary-content > h1 {
  margin-top: 0;
}

[dir="rtl"] {
  text-align: right;
}

//no wrap any telephone numbers
a[href^="tel:"] {
  white-space: nowrap;
}

code {
  color:#DD1873;
}