<form action="https://www.qld.gov.au/search" id="qg-global-search-form" role="search" class="qg-site-search__form qg-search-form collapse qg-global-web-autocomplete" data-suggestions="https://find.search.qld.gov.au/s/suggest.json?collection=qld-gov&fmt=json%2B%2B&alpha=0.5&profile=qld" data-results-url="https://find.search.qld.gov.au/s/search.json?collection=qld-gov&profile=qld&meta_sfinder_sand=yes">
    <div class="input-group">
      <label for="qg-search-query" class="qg-visually-hidden">Search Queensland Government</label>
      <input type="text" name="query" id="qg-search-query" class="form-control qg-search-site__input" autocomplete="off" placeholder="Search website" tabindex="0" aria-expanded="false" role="combobox"/>
      <svg class="qg-search__icon" width="512px" height="512px" viewBox="0 0 512 512">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(67.298684, 71.201316)">
            <path d="M108.7791,227.405285 L11.3079182,324.876467 C5.45005384,330.734332 5.45005384,340.231806 11.3079182,346.089671 L27.4103294,362.192082 C33.2681938,368.049946 42.7656685,368.049946 48.6235328,362.192082 L146.094715,264.7209 C151.952579,258.863035 151.952579,249.365561 146.094715,243.507696 L129.992304,227.405285 C124.134439,221.547421 114.636965,221.547421 108.7791,227.405285 Z"></path>
            <path d="M221.701316,0.798683501 C305.096314,0.798683501 372.701316,68.6275439 372.701316,152.298684 C372.701316,235.969823 305.096314,303.798684 221.701316,303.798684 C138.306319,303.798684 70.7013165,235.969823 70.7013165,152.298684 C70.7013165,68.6275439 138.306319,0.798683501 221.701316,0.798683501 Z M221.310125,54.0389936 C167.081772,54.0389936 123.121006,98.2066236 123.121006,152.690156 C123.121006,207.173689 167.081772,251.341319 221.310125,251.341319 C275.538478,251.341319 319.499244,207.173689 319.499244,152.690156 C319.499244,98.2066236 275.538478,54.0389936 221.310125,54.0389936 Z" fill-rule="nonzero" transform="translate(221.701316, 152.298684) scale(-1, 1) translate(-221.701316, -152.298684) "></path>
          </g>
        </g>
      </svg>
      <button class="qg-search-close-concierge hide" type="button" aria-label="Close Search Concierge">
        <svg width="512px" height="512px" viewBox="0 0 512 512">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect transform="translate(256.500000, 256.000000) scale(1, -1) rotate(45.000000) translate(-256.500000, -256.000000) " x="32" y="220" width="449" height="72" rx="15"></rect>
            <rect transform="translate(256.500000, 256.000000) rotate(45.000000) translate(-256.500000, -256.000000) " x="32" y="220" width="449" height="72" rx="15"></rect>
          </g>
        </svg>
      </button>
      <button type="submit" id="feature-search-submit" class="btn btn-global-primary" title="Search site" data-analytics-link-group="qg-global-search-submit">Search</button>
      <div class="qg-search-concierge qg-search-concierge-initial">
        <div class="qg-search-concierge-group helper">
          <div class="qg-search-concierge-content">
            <h4>Popular services</h4>
            <ul class="list-group">
              <li class="list-group-item"><a href="https://www.service.transport.qld.gov.au/renewregistration/public/Welcome.xhtml?" tabindex="-1" data-analytics-link-group="qg-global-search-popular-services">Renew vehicle or boat rego</a></li>
              <li class="list-group-item"><a href="https://www.service.transport.qld.gov.au/checkmydemeritpoints/public/Welcome.xhtml?" tabindex="-1" data-analytics-link-group="qg-global-search-popular-services">Check my licence demerit points</a></li>
              <li class="list-group-item"><a href="https://www.qld.gov.au/transport/licensing/driver-licensing/renew-replace/renew/online" tabindex="-1" data-analytics-link-group="qg-global-search-popular-services">Renew my driving licence</a></li>
              <li class="list-group-item"><a href="https://www.change-of-address.services.qld.gov.au" tabindex="-1" data-analytics-link-group="qg-global-search-popular-services">Change my address</a></li>
            </ul>
          </div>
        </div>
        <div class="qg-search-concierge-group helper">
          <div class="qg-search-concierge-content">
            <h4>Browse by category</h4>
            <ul class="list-group">
              <li class="list-group-item"><a tabindex="-1" href="https://www.qld.gov.au/queenslanders/transport-and-motoring">Transport and motoring</a></li>
              <li class="list-group-item"><a tabindex="-1" href="https://www.qld.gov.au/queenslanders/employment-and-jobs">Employment and jobs</a></li>
              <li class="list-group-item"><a tabindex="-1" href="https://www.qld.gov.au/queenslanders/education-and-training">Education and training</a></li>
              <li class="list-group-item"><a tabindex="-1" href="https://www.qld.gov.au/queenslanders/queensland-and-its-government">Queensland and its government</a></li>
            </ul>
            <a href="https://www.qld.gov.au/queenslanders" tabindex="-1" class="all" data-analytics-link-group="qg-global-search-category">Browse all categories</a>
          </div>
        </div>
      </div>
      <div class="qg-search-concierge qg-search-concierge-help">
        <div class="qg-search-concierge-group suggestions">
          <div class="qg-search-concierge-content">
            <h4>Suggestions</h4>
            <ul class="list-group">
              <li class="list-group-item"><button tabindex="-1" data-analytics-link-group="qg-global-search-suggestion"><b>canc</b>el registration for osconnect</button></li>
              <li class="list-group-item"><button tabindex="-1" data-analytics-link-group="qg-global-search-suggestion"><b>canc</b>el a booking</button></li>
              <li class="list-group-item"><button tabindex="-1" data-analytics-link-group="qg-global-search-suggestion"><b>canc</b>el vehicle or boat registration</button></li>
            </ul>
          </div>
        </div>
        <div class="qg-search-concierge-group highlight">
          <div class="qg-search-concierge-content">
            <div class="d-flex justify-content-between align-content-center flex-wrap">
              <h4>Need to cancel your rego?</h4>
              <div>
                <span class="fa fa-car"></span>
                <span class="fa fa-motorcycle"></span>
                <span class="fa fa-anchor"></span>
              </div>
            </div>
            <p>Save time and cancel your vehicle or boat registration online.</p>
            <a href="#" tabindex="-1" class="btn btn-global-primary-white" data-analytics-link-group="qg-global-search-feature">Cancel my registration</a>
          </div>
        </div>
        <div class="qg-search-concierge-group helper">
          <div class="qg-search-concierge-content">
            <h4>Related services</h4>
            <ul class="list-group">
              <li class="list-group-item"><a tabindex="-1" href="#" data-analytics-link-group="qg-global-search-related-service">Cancel a booking</a></li>
              <li class="list-group-item"><a tabindex="-1" href="#" data-analytics-link-group="qg-global-search-related-service">Cancel first aid training</a></li>
              <li class="list-group-item"><a tabindex="-1" href="#" data-analytics-link-group="qg-global-search-related-service">Cancel a disability parking permit</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--parameters to display results on search page-->
    <input type="hidden" name="num_ranks" value="10">
    <input type="hidden" name="tiers" value="off">
    <input type="hidden" name="collection" value="qld-gov">
    <input type="hidden" name="profile" value="qld">
</form>
