<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../node_modules/slick-carousel/slick/slick.css">
</head>
<body>
<div class="slider one-time">
  <div><h3>1</h3></div>
  <div><h3>2</h3><p>Look ma!</p></div>
  <div><h3>3</h3><p>Check<br/>this out!</p></div>
  <div><h3>4</h3><p>Woo!</p></div>
</div>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/slick-carousel/slick/slick.min.js"></script>
<script>
  $('.one-time').slick({
    dots: true,
    infinite: true,
    speed: 300,
    slidesToShow: 1,
    adaptiveHeight: true
  });
</script>
</body>
</html>
