// TODO: This needs some serious cleanup

#qg-options {
  background-color: #fff;
}

.qg-share {
  margin: 10px 0 30px;

  &__title {
    @include rem(font-size, 14px);
    color: $qg-global-primary-darker-grey;
    margin: 0 20px 0 0;
  }

  &-list {
    list-style: none;
    margin: 0;
    padding: 0;

    &-item {
      margin-right: 22px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-link {
    .fa {
      @include rem(font-size, 24px);
      color: #000;
      transition: color .25s ease;
    }

    &:hover, &:focus {
      .fa-facebook-square {
        color: $qg-facebook;
      }

      .fa-twitter-square {
        color: $qg-twitter;
      }

      .fa-linkedin-square {
        color: $qg-linkedin;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .qg-share {
    margin: 10px;
  }
}