/* ! alert style */

#qg-site-header .alert-danger, .qg-global-alert {
  @include make-xs-column(12);
  @include qg-responsive-spacing(padding-left, $large: full);
  @include qg-responsive-spacing(padding-right, $large: full);

  header {
    @include make-xs-column(12);
    @include make-sm-column(4);
    @include make-lg-column(4);

    position: relative;
    padding-left: 0 !important;

    border-bottom: 1px solid #fff;
    border-collapse: collapse;

    h2 {
      margin-top: 0;
    }

    @media (min-width: $screen-sm-min) {
      border-right: 1px solid #fff;
      border-bottom: 0;
    }

    & > * {
      padding-left: 60px;
    }

    &:before {
      content: '\f071';
      position: absolute;
      display: inline-block;
      float: left;
      top: 0;
      left: 0;

      padding-bottom: .2em;

      font-size: 2.2em;
      font-family: fontAwesome;
      text-align: center;
    }
  }
  section {
    @include make-xs-column(12);
    @include make-sm-column(8);
    @include make-lg-column(8);
    padding-top: $qg-spacing / 4;
    padding-right: 0 !important;

    @media (min-width: $screen-sm-min) {
      padding-top: 0;
      padding-left: $qg-spacing / 2;
    }
  }
}

#qg-site-header .alert-danger {
  margin-bottom: 1em;
}

#qg-primary-content .qg-global-alert {
  header {
    @include make-xs-column(12);
    @include make-sm-column(5);
  }
  section {
    @include make-xs-column(12)
    @include make-sm-column(7);
  }
}
