.qg-coat-of-arms {
  padding-top: 20px;
  padding-left: 13px;
  overflow: hidden;

  img {
    height: 40px;

    @media (min-width: $screen-sm-min) {
      height: 49px;
    }
  }

  @media print {
    a:after {
      content: "";
    }
  }
}
