.qg-coat-of-arms {
  padding-top: 20px;
  padding-left: 13px;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    position: absolute;
    top: -90px;
    left: 50%;
    padding: 0;
    transform: translateX(-50%);
    width: auto;
  }

  @include media-breakpoint-down(xs) {
    top: -75px;
  }

  img {
    height: 50px;
  }

  @media print {
    a:after {
      content: "";
    }
  }
}
