.qg-coat-of-arms {
  @extend .col-xs-12;
  @extend .col-sm-6;
  @extend .col-md-4;
  @extend .col-lg-4;
  
  padding-bottom: 16px*.8; 
  overflow: hidden;

  img {
    height: 40px;

    @media (min-width: $screen-sm-min) {
      height: 50px;
    }
    @media (min-width: $screen-lg-min) {
      padding-left: $qg-spacing / 2;
    }
  }
}
