.header-location{
    padding-top: 22px;
    padding-right:12px;

    .location-name {
        text-decoration: underline;
    }

    .fa-map-marker {
        font-size: 20px;
        margin-left: 10px;
    }

    .dropdown-toggle {
        background-color: transparent;
        border: 0;
        color: #fff;
        padding: 0;
        outline: 0;

        &:after {
            display: none;
        }
    }

    .dropdown-menu {
        border: 0;
        border-radius: 4px;
        box-shadow: 0 4px 6px 0 rgba(32, 33, 36, 0.47);
        width: 270px;
        padding: 16px 16px 13px 16px;
        opacity: 0;
        display: block;
        transition: opacity .3s linear, visibility 0s linear .3s;
        visibility: hidden;

        &.show {
            opacity: 1;
            transition: opacity .3s linear;
            visibility: visible;
        }

        &.closed {
            display: none;
        }

        &:before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 4.5px 9px 4.5px;
            border-color: transparent transparent #fff transparent;
            top: -9px;
            left: 173px;
        }

        p {
            @include rem(font-size, 14px);
            color: $qg-global-primary-darker-grey;
            line-height: 18px;
        }

        .btn-global-primary {
            display: block;
            width: 100%;
        }
    }

    &-divider {
        @include rem(font-size, 12px);
        color: $qg-pagination-border;
        display: block;
        width: 100%;
        position: relative;
        text-align: center;
        margin: 15px 0 10px;

        &:before, &:after {
            content: "";
            position: absolute;
            border-top: 1px solid $qg-pagination-border;
            width: 46%;
            top: 50%;
            transform: translateY(-50%);
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0;
        }
    }

    &-form {
        position: relative;

        label {
            @include rem(font-size, 14px);
        }

        input[type=text] {
            @include rem(font-size, 14px);
            border: solid 3px $qg-pagination-border;
            border-radius: 4px;
            box-sizing: border-box;
            padding: 10px 12px 9px;
            margin-bottom: 15px;
            width: 100%;
            -webkit-appearance: none;

            &:focus + div {
                display:block !important;
            }
        }
    }

    &-autocomplete{
        position: absolute;
        top: 69px;
        width: 100%;

        ul {
            border: solid 3px $qg-pagination-border;
            border-radius: 0 0 4px 4px;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                &:first-child button {
                    padding-top: 15px;
                }

                &:last-child button {
                    padding-bottom: 15px;
                }

                button {
                    @include rem(font-size, 14px);
                    color:$qg-global-primary-darker-grey;
                    background-color: #fff;
                    padding: 9px 12px;
                    text-align: left;
                    font-weight: 500;
                    width: 100%;

                    &:hover, &:focus {
                        background-color: $qg-light-gray-dark;
                    }
                }
            }
        }
    }

    &-close {
        @include rem(font-size, 14px);
        background-color: transparent;
        border: 0;
        color: $qg-pagination-border;
        margin-top: 23px;
        padding: 0;
        text-decoration: underline;
    }

    @media (max-width: 1250px) and (min-width: 992px) {
        .dropdown-menu:before {
            left: 220px;
        }
    }

    @include media-breakpoint-up(sm) {
        .dropdown-menu {
            left: -35px !important;
            top: 10px !important;
        }
    }

    @include media-breakpoint-down(sm) {
        background-color: $qg-global-primary-light-grey;
        width: 100%;
        padding: 10px 0;
        z-index: 0;
        transition-delay: 0.5s;

        .dropdown-toggle {
            display: flex;
            margin: auto;
            color: #000;

            .fa {
                order: 1;
                margin: 0 10px 0 0;
            }

            .location-name {
                order: 3;
                margin-left: 3px;
            }
            
            span {
                order: 2;
            } 
        }

        .dropdown-menu {
            left: -30px !important;
            top: 5px !important;
        }

        .qg-site-header.active & {
            z-index: -2;
            transition-delay: 0s;
        }
    }

    @include media-breakpoint-down(xs) {
        .dropdown-toggle {
            margin: 0 15px;
        }

        .dropdown-menu {
            left: 10px !important;
            top: 5px !important;

            &:before {
                left: 150px;
            }
        }
    }
}