#qg-site-header {
  background-color: $qg-global-primary-grey;
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;

  @media print {
    border-bottom: 1px solid black;
  }
}

#qg-content {
  margin-top: 201px;
}
