
.qg-portal-links {
  background-color: $qg-dark-grey-dark;
  padding-top: 3px;
  order: 1;

  .navbar {
    display: flex;
    padding: 0;
    align-items: center;

    .navbar-collapse {
      justify-content: flex-end;
    }
  }

  .qg-portal-links__list {
    list-style: none;
    margin: 0 -25px;
    padding: 0;
    display: flex;

    .nav-link, .qg-portal-links__btn {
      background-color: $qg-dark-grey-dark;
      padding: 10px 20px 10px 15px;
      @include qg-link-styles__no-underline-white;
    }
  }

  .qg-portal-links__btn {
    border: none;
    &:active, &:focus{
      position: relative;
      z-index: 1;
    }
    &:after {
      margin-left: 8px;
    }
  }

  .dropdown-menu {
    background-color: $qg-global-dark-grey-active;
    border: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 4px 6px 0 rgba(32, 33, 36, 0.47);
    display: block;
    opacity: 0;
    padding: 0;
    margin: 0;
    width: 327px;
    visibility: hidden;
    transition: opacity .3s ease, visibility 0s ease .3s;

    &.show {
      transition: opacity 0.3s linear;
      opacity: 1;
      visibility: visible;
    }
  }

  .qg-dropdown-wrapper {
    padding: 13px 35px;
  }

  .dropdown-item {
    color: white;
    padding: 13px 0;
    white-space: normal;
    @include css-chevron-inline-right(6px, white, 21px, before, 26px);
    @include qg-link-styles__no-underline-white;

    &.qg-dropdown-all {
      @include qg-link-styles__theme-white;
      text-decoration-thickness: 0.5px;
      text-decoration-color: rgba(255, 255, 255, 0.73);

      &:hover {
        text-decoration-thickness: 2px;
        text-decoration-color: white;
      }

      padding-left: 0;

      &:after {
        border: none;
      }
    }

    &:hover {
      background-color: transparent;
    }
  }

  @include media-breakpoint-up(md) {
    .nav-item {
      margin-top: 2px;
      max-height: 44px;
      padding-left: 5px;
    }
    .dropdown-menu {
      height: 0;
      overflow: hidden;

      &.show {
        height: auto;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    background-color: transparent;
    order: 2;
    .container-fluid {
      padding: 0;
    }
    .navbar {
      .navbar-collapse {
        justify-content: center;
      }

      .dropdown-menu {
        background-color: $qg-global-dark-grey-dark-active;
        display: block;
        position: relative;
        max-height: 0;
        opacity: 1;
        overflow: hidden;
        padding: 0;
        transition: max-height 0.3s ease;
        width: 100%;
      }
    }
    .qg-portal-links__list {
      background-color: $qg-dark-grey-dark;
      border-radius: 4px;
      box-shadow: none;
      display: block;
      overflow: hidden;
      margin: 0 25px;
      width: 100%;
      .nav-link {
        margin: 5px;
      }
    }
    .nav-item {
      border-bottom: 1px solid #000;

      &:last-child {
        border-bottom: none;
      }
    }
    .qg-portal-links__btn {
      margin: 5px;
      text-align: left;
      width: 100%;
      &:after {
        border: none;
      }
      @include css-chevron-inline-down(6px, white, 20px);
      &:hover, &:focus,
      &[aria-expanded="true"] {
        text-decoration-line: underline;
      }
      &:focus {
        outline-offset: -3px;
      }
      &[aria-expanded="true"] {
        &:after {
          transform: translateY(-50%) rotate(135deg);
        }

        + .dropdown-menu {
          max-height: 735px;
        }
      }
    }
    .qg-dropdown-wrapper {
      padding: 0;
      margin: 5px;
    }
    .dropdown-item {
      border-bottom: 1px solid #000;
      padding: 10px 23px;
      line-height: 22px;

      &:after {
        border: none;
      }

      &:last-child {
        border-bottom: none;
        padding-left: 23px;
      }
    }
  }

  @include media-breakpoint-down(xs) {
    ul {
      margin: 0 10px;
    }
    .qg-portal-links__list {
      margin: 0 10px;
    }
  }
}
