#qg-site-header .qg-utilities {
  text-align: right;
  margin-top: 0.5rem;

  a, a:link {
    color: $qg-blue5;
    text-decoration: none;
  }

  a:hover {
    color: $qg-blue5;
    text-decoration: underline
  }

  li {
    padding-right: 0;
    padding-left: 0;
    line-height: 1.75em;

    button, a {
      background-color: transparent;
      padding: 0;
      border: none;
      vertical-align: middle;
      display: inline-block;
      text-align: center;

      .fa {
        display: block;
      }
    }

    & + li {
      margin-left: 1em;
    }
  }

  @media (min-width: $screen-xs-min) {
    text-align: right;
  }

  @media print {
    display: none;
  }
}
