// ############################################
// Site navigation

#qg-site-nav {
    padding-top: 27px;
    padding-bottom: 10px;
    .nav {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .nav-link {
        display: block;
        padding: 5px 13px;
        @media (min-width: 992px) {
            [aria-expanded="true"] {
                @include qg-link-styles__no-underline-default;
            }
            &:not([aria-expanded="true"]) {
                @include qg-link-styles__no-underline-white;
            }
        }
    }
    @media print {
        display: none !important;
    }
}


#qg-site-nav {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
    .nav-item {
        display: inline-block;
    }
    .nav-link {
        display: inline-block;
        background-color: transparent;
        border: 0;
        border-radius: 4px 4px 0 0;
        padding: 16px 16px 5px;
    }
    .dropdown.mega-dropdown {
        position: static;
    }
    .dropdown-toggle:after {
        @include rem(border-width, 5px);
        @include rem(margin-left, 9px);
        vertical-align: middle;
    }
    .dropdown-menu.mega-menu {
        background-color: $qg-global-primary-light-grey;
        border: 0;
        border-radius: 0px 4px 4px 4px;
        box-shadow: 0 4px 6px 0 rgba(32, 33, 36, 0.47);
        display: block;
        max-width: 1010px;
        padding: 25px 30px;
        visibility: hidden;
        width: 100%;
        z-index: 0;
        &.show {
            visibility: visible;
        }
        ul {
            column-count: 3;
            column-gap: 33px;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                @include rem(line-height, 23px);
                padding: 14px 10px 13px 25px;
                display: inline-block;
                position: relative;
                width: 100%;
        a {
          @include qg-link-styles__no-underline-default
        }
                &:before {
                    @include rem(font-size, 12px);
                    content: "\f054";
                    font-family: "FontAwesome";
                    position: absolute;
                    left: 3px;
                    top: 17px;
                }
            }
        }
    }
    .show {
        .nav-link {
            @include qg-link-styles__no-underline-black;
            background-color: $qg-global-primary-light-grey !important;
            position: relative;
            z-index: 1;
            &:before {
                background-color: $qg-global-primary-light-grey !important;
                bottom: -2px;
                content: '';
                height: 2px;
                left: 0;
                position: absolute;
                width: 100%;
            }
            &:focus {
                outline: none;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .nav-link {
        @include qg-link-styles__no-underline-black;
        &:hover {
            text-decoration-color: $qg-global-primary-darker-grey;
        }
    }
    #qg-site-nav .show .nav-link {
        text-decoration-line: none;
    }
    .qg-search-form, #qg-site-nav, .qg-portal-links {
        padding: 0;
    }
    #qg-site-nav {
        width: 100%;
        .nav {
            background-color: $qg-global-primary-light-grey;
            border-radius: 4px;
            overflow: hidden;
            margin: 15px 25px;
        }
        .nav-item {
            position: relative;
            width: 100%;
            &:before {
                content: "";
                background-color: rgba(0,0,0,0.1);
                position: absolute;
                height: 1px;
                width: 100%;
                bottom: 0;
            }
        }
        .dropdown.mega-dropdown.show {
            .dropdown-toggle:after {
                transform: rotate(135deg);
            }
        }
        .nav-link{
      //@include qg-link-styles__no-underline-black;
            color: $qg-global-primary-darker-grey;
            padding: 12px 13px 11px;
            margin: 5px;
            width: 100%;
        }
    }
}

@include media-breakpoint-down(xs) {
    #qg-site-nav {
        .nav {
            margin: 15px 10px;
        }
    }
}

@include media-breakpoint-down(sm) {
    #qg-site-nav {
        .nav {
            display: block;
        }
        .dropdown.mega-dropdown {
            position: relative;

            .btn.btn-global-primary {
                width: 100%;
                text-align: left;
                padding: 12px 13px;
                border-radius: 0 0 0 0;
                border: 0;
                background-color: #fff;
                font-weight: normal;

                &:focus,&:hover {
                    opacity: 0.7;
                }
            }
        }
        .dropdown-toggle {
            text-align: left;
            &:after {
       border: none;
      }
      @include css-chevron-inline-down(6px, $qg-global-primary-darker-grey, 20px);
        }

        .dropdown-menu.mega-menu {
            box-shadow: none;
            position: static!important;
            transform: initial!important;
            display: block;
            overflow: hidden;
            padding: 0;
            max-height: 0;
            transition: max-height 0.3s ease;
            &.show {
                max-height: 1000px;

                &:before {
                    display: none;
                }
            }
            ul {
        margin: 8px;
                background-color: #fff;
                column-count: initial;
                li {
                    border-bottom: 1px solid rgba(0,0,0,0.1);
                    padding: 0;
                    a {
                        display: block;
                        padding: 12px 13px;
                    }
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
}

// Display search form and site nav at full screen

@include media-breakpoint-up(md) {
    #qg-site-nav .dropdown-menu.mega-menu {
        display: block;
        opacity: 0;
        top: -1px;
        transition: none;
        visibility: hidden;
        &.show {
            opacity: 1;
            transition: opacity .3s ease;
        }
    }
    #qg-site-nav .nav-item {
        max-height: 45px;
    }
    .qg-search-form, .qg-navigation {
        &.collapse {
            display: block;
        }
    }
}
