#qg-search-form {
  padding-bottom: 15px;
  padding-right: 75px;
  input {
    border-radius: 0;
    border-color: $qg-green;
  }

  .listbox {
    list-style: none;
    position: absolute;
    top: 100%;
    top: calc(100% - 1px);
    width: calc(100% - 37px);
    z-index: 98;
    padding: 0;
    border: 1px solid $qg-green;
    border-top: 1px solid #EEE;
    background: $qg-light-gray-lighter1;
    &[aria-busy="true"] {
      display: none;
      border-top-style: hidden;
    }

    li {
      width: 100%;
      &:hover {
        background: $qg-pale-blue-light;
      }
    }

    a {
      display: block;
      background: transparent;
      color: #000;
      text-decoration: none;
      white-space: normal;
      padding: 0.5em 0.7em;
      &:hover,
      &:focus,
      &.focus {
        background: #fff;
        color: $qg-dark-grey1;
        border: none;
      }
    }

    mark {
      font-weight: bold;
      background-color: transparent;
      padding: 0;
    }
  }

  .input-group {
    @include media-breakpoint-down(md) {
      padding-right: 0;
    }
  }

  @media print {
    display: none;
  }
}
