// ############################################
// Site navigation

#qg-site-nav {
	//@include make-xs-column(12);
  @include make-col-ready();
  @include make-col(12);
	padding: 0;
	background: #494949;
  @include rem(font-size, 16px);

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

    @include media-breakpoint-up(lg) {
	      padding-left: $qg-spacing / 2;
	    }
	}

	a {
		display: block;
		padding: .4em ($grid-gutter-width / 2)+5px .6em ($grid-gutter-width / 2)+5px;
	}

	a, a:link, a:visited {
		color: #FFF;
	}

	@media print {
		display: none !important;
	}
}

@media (max-width: $screen-sm-max) {
	#qg-site-nav li:nth-child(2n) a {
		background-color: #505050;
	}
}

@include media-breakpoint-up(md) {
	#qg-site-nav {
		padding-left: 0;
		padding-right: 0;
		// padding-left: ($grid-gutter-width / 4);
		// padding-right: ($grid-gutter-width / 4);
		background-color: transparent;

		li {
			display: inline-block;
		}

		a {
			display: inline-block;
			padding-left: ($grid-gutter-width / 4) + 5px;
			padding-right: ($grid-gutter-width / 4) + 5px;
			background-color: transparent;
		}

		a, a:link, a:visited {
			color: $link-color;
		}
	}

	// Display search form and site nav at full screen
	#qg-search-form {
		display: block;
	}
	#qg-site-nav{
		display: block;
	}
}

@include media-breakpoint-up(lg) {
	#qg-site-nav {
    padding-left: $grid-gutter-width / 4;
  	}
}

/*


#qg-site-nav {
	@include make-xs-column(12);

	background-color: $qg-light-gray;

	ul {
		color: $qg-blue-green;
		bottom: 0px;
		margin: 0;
		padding: 0;
		list-style: none;

		@include fontSize(16px);

		li {
			// display: block;
			float: left;
			padding: 0 0 .4em 0;

			a {
				display: inline-block;
				margin-left: 20px;
				padding: .3em .5em .3em .5em;
				color: $qg-blue-green;
				text-decoration: none;
				@include fontSize(16px);
				&:hover {
					background-color: $qg-light-gray6;
					text-decoration: none;
				}
			}
		}
	}
}

// ############################################
// responsive styles
@media (max-width: $screen-sm-max) {

	#qg-site-nav {
		padding: 0;
		background: #494949;

		ul {
			// margin: 0;
			padding: 0;

			li {
				float: none;

				&:first-child {}

				&:last-child {
					border-bottom: none
				}

				&:nth-child(2n) {
					background-color: #505050;
				}

				a, a:link, a:visited {
					color: #FFF;
					&:hover {
						background-color: transparent;
						text-decoration: underline;
					}

				}

			}

			li + li {
				border: none;
			}
		}
	}

}

@media (max-width: $screen-md-max) {
	#qg-site-nav {
		// Over-rides SWE default behaviour for accessibility
		display: block;
		height: auto !important;

		a {
			margin-left: 0 !important;
		}
	}
}
*/
