#qg-site-header .qg-utilities {
  text-align: right;
  margin-top: 0.5rem;

  a, a:link, a:hover, a:focus {
    color: $qg-blue5;
    text-decoration: none;
  }
  @include breakpoint(md) {
    a:hover {
      text-decoration: underline;
    }
  }

  li {
    padding-right: 0;
    padding-left: 0;
    line-height: 1.75em;

    button, a {
      background-color: transparent;
      padding: 0;
      border: none;
      vertical-align: middle;
      display: inline-block;
      text-align: center;

      .fa {
        display: block;
      }
      .fa-phone {
        &:before {
          vertical-align: middle;
        }
      }
      .qg-sign-in-icon {
        font-size: 2em !important;
      }
    }

    & + li {
      margin-left: 1em;
    }
  }

  @include breakpoint(sm) {
    text-align: right;
  }

  @media print {
    display: none;
  }

  @include breakpoint($maxWidth: 768px) {
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row; 
    justify-content: space-evenly;
  }
  #qgcidm-avatar {
    #qg-login-menu {
      .menu-container {
        button {
          text-align: left;
          border-top: 1px solid #5d90c0;
        }
      }
      .footer {
        .fa {
          display: inline;
        }
      }
    }
    @include breakpoint(md) {
      position: absolute;
      right: -52%;
    }
  }
}
