<header id="qg-site-header" class="qg-site-header sticky">
  <div class="container-fluid qg-site-width qg-site-header-top">
    <div class="row align-items-center justify-content-between">
      <!--#include virtual="./mobile-menu-button.html"-->

      <!--#include virtual="./coat-of-arms.html"-->

      <!--#include virtual="./site-search.html"-->
    </div>
  </div>
  <!--#include virtual="./portal-links.html"-->
  <div class="container-fluid qg-site-width qg-site-header-bottom">
    <div class="row align-items-center justify-content-between">
      <!--#include virtual="./site-nav.html"-->

      <!--#include virtual="./header-location.html"-->
    </div>
  </div>
</header>
