<form action="https://www.qld.gov.au/search" id="qg-search-form" role="search" class="collapse col-xs-12 col-md-3">
    <div class="input-group">
        <label for="qg-search-query" class="qg-visually-hidden">Search Queensland Government</label>
        <input type="text" name="query" id="qg-search-query" class="form-control" placeholder="Search website" tabindex="0" aria-required="true" aria-expanded="false"/>
        <span class="input-group-btn">
      <button type="submit" id="feature-search-submit" class="btn btn-primary" title="Search site"><span class="fa fa-search" aria-hidden="true"></span><span class="qg-visually-hidden">search</span></button>
    </span>
    </div>
    <!--parameters to display results on search page-->
    <input type="hidden" name="num_ranks" value="10">
    <input type="hidden" name="tiers" value="off">
    <input type="hidden" name="collection" value="qld-gov">
    <input type="hidden" name="profile" value="qld">
</form>
