<ul class="qg-utilities list-inline col-xs-6 col-md-5">

    <!-- Optional shopping cart
    <li>
        <a href="#"><span class="fa fa-shopping-cart fa-2x hidden-md hidden-lg" aria-hidden="true"></span>cart</a>
    </li>
    -->

    <li>
        <a href="https://www.qld.gov.au/contact-us/"><span class="fa fa-phone fa-2x hidden-md hidden-lg" aria-hidden="true"></span><span class="hidden-xs hidden-sm">Contact us</span></a>
    </li>

    <li class="hidden-md hidden-lg">
        <button id="qg-show-search"
                aria-label="Search"
                data-toggle="collapse"
                data-target="#qg-search-form"><span class="fa fa-search fa-2x" aria-hidden="true"></span></button>
    </li>
    <li class="hidden-md hidden-lg">
        <button id="qg-show-menu"
                aria-label="Menu"
                data-toggle="collapse"
                data-target="#qg-site-nav, #qg-breadcrumb"><span class="fa fa-bars fa-2x" aria-hidden="true"></span></button>
    </li>
</ul>
