#ssq-minicart {
  position: relative;
  h3 {
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0;
  }
  .ssq-minicart-cards {
    padding: 1.2rem 0.5rem 0.5rem;
    text-align: center;
    ul {
      display: inline-block;
      margin: 0.4rem 0 0;
      padding: 0;
      list-style: none;
      li {
        display: inline;
      }
    }
  }
}
