
.qg-more-info {
  color: #fff;
  background-color: $qg-footer-bg-color;
  padding-bottom: 0;

  a, a:link {
    color: #FFF;  
    text-decoration: none;
  } 

  a:hover {
    color: #FFF;  
    text-decoration: underline;
  } 

  div {
    @include make-md-column(4);

    &:nth-child(2n) {
      background-color: $qg-footer-bg-alt-color;
    } 

    h3 {
      @include fontSize(19px);
      border-bottom: 1px solid #FFF; 
      padding-top: 1em;
      padding-bottom: .5em; 
    }  

    ul {
      list-style: none;
      padding-left: 0;
    } 

    ul.col-2 {
      list-style: none;
      padding-left: 0;

      @media (min-width: $screen-sm-min) {
        column-count: 2;
      }
    }  

    li {
      @include fontSize(14px);
      padding: .5em .3em;
    }

  }

}

// ###########################################


// /* these styles are new styles for legals - not used yet */
// .qg-legal{
//   text-align: center;
//   @include fontSize(14px);

//   .row {
//     background-color: #FFF;     
//   }  

//   ul {
//     margin-top: 1em;  


//     li {
//       padding: .3em .5em;
//       margin: 0;      
//     }

//     li + li {
//       border-left: 1px solid #999; 
//     }   
//   }

//   p {
// //@include fontSize(12px);
// }
// }


/* these styles mimic the old SWE legals style for continuity */
.qg-legal {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 45px;

  @include fontSize(12px); 
  font-family: Verdana, Arial, Helvetica, san-serif;
  font-weight: 900;
  line-height: 7px;  

  .row {
    background-color: #FFF;     
  }  

  ul, p { 
    margin-top: 2em; 
  }   

  ul {

    li {
      padding: 0.5em 0;
      margin: 0;
      a {
        padding: 0.2em 1em;
        display: block;
      }
    }

    li + li a {
      border-left: 1px solid #999; 
    }   
  }

  a {
    text-decoration: none;  
    color: #000; 
  }

  a:focus, a:hover {
    text-decoration: underline;  
    color: #000; 
  }
}
