    <div class="qg-aside qg-story" role="complementary">
        <h2><span class="fa fa-book fa-2x" aria-hidden="true"></span>Dave's story</h2>

        <figure>
                <img alt="" src="https://static.qgov.net.au/assets/v4/latest/images/placeholders/255x100.png">
                <figcaption>Kids in Far North Queensland have 2 new exciting playgrounds to explore.</figcaption>
        </figure>

        <p>The SugarWorld All Abilities Playground in Edmonton, south of Cairns, includes an accessible swing set, bird’s nest swing, a bamboo maze and a sensory space with outdoor musical instruments.</p>
    </div>

