#qg-primary-content, 
#qg-content .container-fluid.qg-site-width {
  h1:first-child {
    margin-top: 0;
    margin-bottom: 1em;

    small {
      display: block;
    }
  }
  @include qg-non-button-link-styles__default;
  .print-content-link{
    @include qg-link-styles__no-underline-default
  }
  caption{
    caption-side: inherit;
  }
  p.lead {
    color: $qg-dark-grey;
    font-weight: normal;
  }
  blockquote{
    background: #f9f9f9;
    padding: 1em;
    border: 1px solid #dcdcdc;
    margin-left: 1em;
    font-size: 1rem;
  }
  ul:not(#tabbed-nav ul) {
    margin-bottom: 0.75rem;
  }
  ul, ol {
    // don't add margins to contexts that manage their own spacing
    li:not(.select2 li, .graph li, #tabbed-nav li) {
      margin-bottom: 0.5em;
    }
  }
  
  //Reduce the bottom margin of paragraphs if is adjacent (followed direclty by) an UL or OL
  p:has( + ul),
  p:has( + ol) {
    margin-bottom: 0.5rem;
    background: yellow;
  }

}

.qg-visuallyhidden, .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.qg-content-footer {
  margin-top: 4em;
  font-size: 0.8em;

  dl {
    float: left;
  }
  dt {
    display: inline-block;
    float: left;
    clear: left;
  }
  dd {
    display: inline-block;
    float: left;
    margin-left: 0.35em;
    margin-bottom: 0;
  }

  #document-licence {
    float: right;
    margin-bottom:24px !important;
  }

  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}
