#qg-primary-content {
  h1:first-child {
    margin-top: 0;
    margin-bottom: 1em;

    small {
      display: block;
    }
  }
  p.lead {
    color: $qg-dark-grey;
    font-weight: normal;
  }
  blockquote{
    background: #f9f9f9;
    padding: 1em;
    border: 1px solid #dcdcdc;
    margin-left: 1em;
    font-size: 1rem;
  }
}

.qg-content-footer {
  margin-top: 4em;
  font-size: 0.8em;

  dl {
    float: left;
  }
  dt {
    display: inline-block;
    float: left;
    clear: left;
  }
  dd {
    display: inline-block;
    float: left;
    margin-left: 0.35em;
    margin-bottom: 0;
  }

  #document-licence {
    float: right;
    margin-bottom:24px !important;
  }

  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}
