#qg-primary-content {
  h1:first-child {
    margin-top: 0;
    margin-bottom: 1em;

    small {
      display: block;
    }
  }
  caption{
    caption-side: inherit;
  }
  p.lead {
    color: $qg-dark-grey;
    font-weight: normal;
  }
  blockquote{
    background: #f9f9f9;
    padding: 1em;
    border: 1px solid #dcdcdc;
    margin-left: 1em;
    font-size: 1rem;
  }
}

.qg-visuallyhidden, .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.qg-content-footer {
  margin-top: 4em;
  font-size: 0.8em;

  dl {
    float: left;
  }
  dt {
    display: inline-block;
    float: left;
    clear: left;
  }
  dd {
    display: inline-block;
    float: left;
    margin-left: 0.35em;
    margin-bottom: 0;
  }

  #document-licence {
    float: right;
    margin-bottom:24px !important;
  }

  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

//links styles
a {
  color: $qg-blue-dark;
  &:active, &:hover, &:focus {
    color: $qg-blue-dark;
  }
}
#qg-primary-content, #qg-secondary-content {
  a:not(.print-content-link) {
    &:focus, &:hover, &:link, &:visited {
      text-decoration: underline;
    }
    &:active, &:focus {
      color: #c00;
    }
    &:visited {
      color: #80b;
    }
    &:hover {
      color: #06c;
    }
    //&.qg-btn, &.button, &.btn {
    //  text-decoration: none;
    //  &:focus, &:hover, &:link, &:visited {
    //    text-decoration: none;
    //    color: #FFF;
    //  }
    //}
    //&.btn-primary {
    //  &:focus, &:hover, &:link, &:visited {
    //    color: #000;
    //  }
    //}
  }
}
