.qg-location-setter {
    background-color: #fff;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 6px 0 rgba(32, 33, 36, 0.47);
    width: 270px;
    padding: 16px 16px 13px 16px;
    display: block;
    transition: opacity .3s linear, visibility 0s linear .3s;

    &.closed {
        display: none;
    }

    p {
        @include rem(font-size, 14px);
        @include rem(line-height, 18px);
        color: $qg-global-primary-darker-grey;

        &.error {
            @include rem(line-height, 16px);
            color: $qg-global-error;
            font-style: italic;
            margin-bottom: 0;
        }
    }

    label {
        color: $qg-global-primary-darker-grey;
        margin-bottom: 0;
    }

    input[type=text] {
        margin-top: 5px;

        &.error {
            background-color: rgba($qg-global-error, 0.05);
            border-color: $qg-global-error;
        }
    }

    .btn-global-primary {
        display: block;
        margin-top: 0;
        width: 100%;
    }
}