// TODO: This needs some serious cleanup

#qg-options {
  background-color: $qg-content-options-bg-color;
  padding-top: $qg-spacing / 2;
  padding-bottom: $qg-spacing / 2;

  @include media-breakpoint-up(lg) {
    padding-left:  ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
  }

  @media print {
    display: none;
  }

  .btn-default {
    @include button-variant($qg-feedback-btn-bg-color, $qg-feedback-btn-bg-color);
  }
}

#qg-share {
  @include make-col-ready();
  @include make-col(12);
  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }
  @extend .order-sm-2;
  //@include make-col-offset(6);
  //@include make-sm-column(6);
  //@include make-sm-column-push(6);

  padding-bottom: $padding-large-vertical;

  color: $qg-content-options-share-icon-color;
  text-align: center;
  vertical-align: baseline;

  .navbar {
    min-height: auto;
    justify-content: center;
  }

  h2, ul, li {
    padding: 0;
    margin: 0;

    vertical-align: middle;
  }

  h2 {
    padding-bottom: $padding-base-vertical;
    @include rem(font-size, 16px);
  }
  ul {
    list-style: none;
  }
  li {
    display: inline-block;
  }
  .qg-share-link {
    padding: 0 5px;
    color: inherit;
  }

  .dropdown-menu {
    right: 0;
    left: auto;
  }

  #shareDropdown.open {
    #shareDropdownToggle .fa:before {
      content: "\f00d";
    }
  }

  #shareDropdownToggle {
    background: transparent;
    border: none;


  }
  .dropdown-menu[aria-labelledby="shareDropdownToggle"]{
    // background: $qg-content-options-share-dropdown-bg-color;
    border: 0;

    li {
      display: block;
    }
    .qg-share-link {
      display: block;
      padding: $padding-base-vertical $padding-base-horizontal;
      color: $dropdown-link-color; // From bootstrap
    }
    .qg-share-icon {
      width: 25px;
      padding-right: 4px;
      @include rem(font-size, 14px);
    }
  }

  @media (min-width: $screen-sm-min) {
    text-align: right;
    padding-top: $padding-base-vertical;
    padding-bottom: 0;
    @include rem(font-size, 12px);
    h2, .navbar {
      display: inline-block;
    }

    h2 {
      padding: 3px 5px 0 0;
      vertical-align: middle;
    }
    .navbar {
      vertical-align: middle;
    }
  }
}

#qg-feedback-btn {
  @include make-col-ready();
  @include make-col(12);
  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }
  @extend .order-sm-1;
  text-align: center;

  @media (min-width: $screen-sm-min) {
    text-align: left;
  }
}

// #################################################
// Feedback form

#qg-page-feedback {
  background-color: $qg-feedback-bg-color;
  color: #000;
  @include rem(font-size, 16px);

  #feedback-captcha-container {
    display:none;
  }

  .warn {
    padding: 1em;
    @extend .col-lg-12;
    background-color: $qg-light-peach;
  }

  .info {
    padding: 1em;
    margin-bottom: 1em;
    background-color: $qg-light-blue-gray3;
  }

  .required {
    margin-left: 0;
  }

  .alert {
    width: 100%;
    .fa {
      @include rem(font-size, 24px);
    }
  }

  // #################################################

  #qg-page-feedback-form {
    // @extend .col-xs-12;
    padding-top: $qg-spacing-xs / 2;
    padding-bottom: $qg-spacing-xs / 2;
    @include qg-responsive-spacing('padding-left');
    @include qg-responsive-spacing('padding-right');
    .panel{
      @extend .panel-unstyled;
      // Bootstrap over-ride
      // TODO: Turn this into a global class
    }
    @media (max-width: $screen-sm-max) {

      h2, p {
        margin: 1em 35px;
      }

      textarea {
        width: 100%;
      }

    }
    .radio {
      padding-left: 20px;
    }
    .btn-primary{
      @include button-variant($qg-light-green, $qg-light-green, lighten($qg-light-green, 7.5%), $hover-border: $qg-light-green, $active-background:$qg-light-green, $active-border: $qg-light-green);
      &:hover {
        outline: inherit;
      }
    }
    .label, label {
      display: inline;
    }
  }
}
