<div id="qg-options" class="row justify-content-sm-end">
    <div class="qg-share navbar"><span class="navbar-brand qg-share__title">Share this page:</span>
        <ul class="navbar navbar-right qg-share-list">
            <li class="qg-share-list-item">
                <a class="qg-share-link qg-share-facebook" href="#" title="Facebook" data-analytics-link-group="qg-sharing-facebook" aria-label="Share on Facebook">
                    <span class="fa fa-facebook-square fa-2x qg-share-icon" aria-hidden="true"></span>
                    <span class="title qg-visually-hidden">Facebook</span>
                </a>
            </li>
            <li class="qg-share-list-item">
                <a class="qg-share-link qg-share-twitter" href="#" title="Twitter" data-analytics-link-group="qg-sharing-twitter" aria-label="Share on Twitter">
                    <span class="x-twitter-square qg-share-icon" aria-hidden="true">
                        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="20.8" height="20.2138" rx="4" fill="#4a4a4a"/>
                            <path d="M14.0404 4.3999H15.9964L11.7243 9.28158L16.75 15.9253H12.8158L9.73224 11.897L6.20812 15.9253H4.24935L8.81796 10.7029L4 4.3999H8.0339L10.8183 8.08194L14.0404 4.3999ZM13.3533 14.7562H14.4366L7.44377 5.50812H6.28015L13.3533 14.7562Z" fill="white"/>
                        </svg>
                    </span>
                    <span class="title qg-visually-hidden">Twitter</span>
                </a>
            </li>
            <li class="qg-share-list-item">
                <a class="qg-share-link qg-share-linkedin" href="#" title="LinkedIn" data-analytics-link-group="qg-sharing-linkedin" aria-label="Share on LinkedIn">
                    <span class="fa fa-linkedin-square fa-2x qg-share-icon" aria-hidden="true"></span>
                    <span class="title qg-visually-hidden">LinkedIn</span>
                </a>
            </li>
        </ul>
    </div>
</div>
