<section class="qg-print-guide" id="toc">
  <h3>Recreational wildlife licence</h3>
  <p>In this guide:</p>
  <ol>
    <li class=""><a href="#">Your responsibilities</a></li>
    <li class="active"><a href="#">Moving wildlife</a></li>
    <li class=""><a href="#">Species list</a></li>
  </ol>
  <br />
  <p>
    <a id="printguide" href="https://www.qld.gov.au/_qgdesigns/content/guide-printing?root=60580"
      ><span class="fa fa-print"></span> Print entire guide</a
    >
  </p>
  <ul class="pagination">
    <li class="previous"><a href="https://www.qld.gov.au/environment/plants-animals/wildlife-permits/permit-types/recreational-licence/responsibilities">Previous</a></li>
    <li class="next"><a href="https://www.qld.gov.au/environment/plants-animals/wildlife-permits/permit-types/recreational-licence/responsibilities">Next</a></li>
  </ul>
</section>
