<div class="qg-image-gallery">
  <ul>
    <li>
      <a
        title="caption 1"
        data-fancybox="gallery-92732"
        data-caption="caption 1"
        href="https://static.qgov.net.au/assets/v4/latest/images/placeholders/450.png"
        ><img alt="" src="https://static.qgov.net.au/assets/v4/latest/images/placeholders/150.png"
      /></a>
    </li>
    <li>
      <a
        title="caption 2"
        data-fancybox="gallery-92732"
        data-caption="caption 2"
        href="https://static.qgov.net.au/assets/v4/latest/images/placeholders/450.png"
        ><img alt="" src="https://static.qgov.net.au/assets/v4/latest/images/placeholders/150.png"
      /></a>
    </li>
    <li>
      <a
        title="caption 3"
        data-fancybox="gallery-92732"
        data-caption="caption 3"
        href="https://static.qgov.net.au/assets/v4/latest/images/placeholders/450.pngg"
        ><img alt="" src="https://static.qgov.net.au/assets/v4/latest/images/placeholders/150.png"
      /></a>
    </li>
    <li>
      <a
        title="caption 4"
        data-fancybox="gallery-92732"
        data-caption="caption 4"
        href="https://static.qgov.net.au/assets/v4/latest/images/placeholders/450.png"
        ><img alt="" src="https://static.qgov.net.au/assets/v4/latest/images/placeholders/150.png"
      /></a>
    </li>
    <li>
      <a
        title="caption 5"
        data-fancybox="gallery-92732"
        data-caption="caption 5"
        href="https://static.qgov.net.au/assets/v4/latest/images/placeholders/450.png"
        ><img alt="" src="https://static.qgov.net.au/assets/v4/latest/images/placeholders/150.png"
      /></a>
    </li>
    <li>
      <a
        title="caption 6"
        data-fancybox="gallery-92732"
        data-caption="caption 6"
        href="https://static.qgov.net.au/assets/v4/latest/images/placeholders/450.png"
        ><img alt="" src="https://static.qgov.net.au/assets/v4/latest/images/placeholders/150.png"
      /></a>
    </li>
  </ul>
</div>
