<div class="qg-image-gallery">
  <ul>
    <li>
      <a
        title="caption 1"
        data-fancybox="gallery-92732"
        data-caption="caption 1"
        href="assets/450.png"
        ><img alt="" src="/assets/150.png"
      /></a>
    </li>
    <li>
      <a
        title="caption 2"
        data-fancybox="gallery-92732"
        data-caption="caption 2"
        href="assets/450.png"
        ><img alt="" src="/assets/150.png"
      /></a>
    </li>
    <li>
      <a
        title="caption 3"
        data-fancybox="gallery-92732"
        data-caption="caption 3"
        href="assets/450.pngg"
        ><img alt="" src="/assets/150.png"
      /></a>
    </li>
    <li>
      <a
        title="caption 4"
        data-fancybox="gallery-92732"
        data-caption="caption 4"
        href="assets/450.png"
        ><img alt="" src="/assets/150.png"
      /></a>
    </li>
    <li>
      <a
        title="caption 5"
        data-fancybox="gallery-92732"
        data-caption="caption 5"
        href="assets/450.png"
        ><img alt="" src="/assets/150.png"
      /></a>
    </li>
    <li>
      <a
        title="caption 6"
        data-fancybox="gallery-92732"
        data-caption="caption 6"
        href="assets/450.png"
        ><img alt="" src="/assets/150.png"
      /></a>
    </li>
  </ul>
</div>
