<div class="qg-image-gallery">
  <ul>
    <li>
      <a
        title="caption 1"
        data-fancybox="gallery-92732"
        data-caption="caption 1"
        href="https://via.placeholder.com/450"
        ><img alt="" src="https://via.placeholder.com/150"
      /></a>
    </li>
    <li>
      <a
        title="caption 2"
        data-fancybox="gallery-92732"
        data-caption="caption 2"
        href="https://via.placeholder.com/450"
        ><img alt="" src="https://via.placeholder.com/150"
      /></a>
    </li>
    <li>
      <a
        title="caption 3"
        data-fancybox="gallery-92732"
        data-caption="caption 3"
        href="https://via.placeholder.com/450g"
        ><img alt="" src="https://via.placeholder.com/150"
      /></a>
    </li>
    <li>
      <a
        title="caption 4"
        data-fancybox="gallery-92732"
        data-caption="caption 4"
        href="https://via.placeholder.com/450"
        ><img alt="" src="https://via.placeholder.com/150"
      /></a>
    </li>
    <li>
      <a
        title="caption 5"
        data-fancybox="gallery-92732"
        data-caption="caption 5"
        href="https://via.placeholder.com/450"
        ><img alt="" src="https://via.placeholder.com/150"
      /></a>
    </li>
    <li>
      <a
        title="caption 6"
        data-fancybox="gallery-92732"
        data-caption="caption 6"
        href="https://via.placeholder.com/450"
        ><img alt="" src="https://via.placeholder.com/150"
      /></a>
    </li>
  </ul>
</div>
