.qg-tag-grey {
    $qg-tag-bg-grey: #dedede;
    $qg-tag-color-grey: #444444;
}

.qg-tag-green {
    $qg-tag-bg-green: #cce5d8;
    $qg-tag-color-green: #cce5d8;
}

.qg-tag-blue {
    $qg-tag-bg-blue: #ccdff1;
    $qg-tag-color-blue: #004281;
}

.qg-tag-purple {
    $qg-tag-bg-purple: #d6cce3;
    $qg-tag-color-purple: #240050;
}

.qg-tag-orange {
    $qg-tag-bg-orange: #fcd6c3;
    $qg-tag-color-orange: #792d06;
}

.qg-tag-yellow {
    $qg-tag-bg-yellow: #fbf0C5;
    $qg-tag-color-yellow: #4d4712;
}




