// ###################################
// Colours

$qg-green: #78ba00; // For primary CTAs for example
$qg-dark-grey: #585e62; // For buttons for example

// ## QG BLUE ##
$qg-blue: #007EB1;
$qg-blue-dark: #13578b;
$qg-blue-darker: #005375;

// Light blue colours
$qg-pale-blue-dark:		#cecece;
$qg-pale-blue:			#e7f5fe;
$qg-pale-blue-light:	#f2f7f9;

// Notes:
// $brand-danger = $qg-red5



// #################################################
// To convert to bootstrap naming convention
$qg-light-gray2: #fcfcfc;//none
$qg-light-gray3: #f8f8f8;//done
$qg-light-gray: #f6f6f6;//done
$qg-light-gray5: #f5f5f5;//done
$qg-light-gray6: #e0e0e0;//none
$qg-light-gray7: #d1d1d1;//done

$qg-light-blue-gray1: #F7FBFF;//done
$qg-light-blue-gray: #f2F7F9;//done
$qg-light-blue-gray3: #EEF4F6;//none
$qg-light-blue-gray4: #E7F5FE;//done
$qg-light-blue-gray5: #E1ECF1;//none
$qg-light-blue-gray6: #7d858a;//none
$qg-light-blue-gray7: #585E62;//none

$qg-blue1: #9ac5df;//done
$qg-blue2: #3384c1;//done
$qg-blue: #007EB1; //done
$qg-blue4: #13578b;//done
$qg-blue5: #115289;//done
$qg-banner-blue: #00335B;//none
$qg-blue-green: #005375;//done
$qg-dark-blue: #0B2E4C;//done
$qg-blue9: #0b3253;//done
