<p>
    <span class="badge badge-pill qg-tag qg-tag-grey">Grey</span>
    <span class="badge badge-pill qg-tag qg-tag-green">Green</span>
    <span class="badge badge-pill qg-tag qg-tag-blue">Blue</span>
    <span class="badge badge-pill qg-tag qg-tag-purple">Purple</span>
    <span class="badge badge-pill qg-tag qg-tag-pink">Pink</span>
    <span class="badge badge-pill qg-tag qg-tag-red">Red</span>
    <span class="badge badge-pill qg-tag qg-tag-orange">Orange</span>
    <span class="badge badge-pill qg-tag qg-tag-yellow">Yellow</span>
</p>
<p>
    <span class="badge badge-pill badge-primary mr-2">Primary</span>
    <span class="badge badge-pill badge-secondary mr-2">Secondary</span>
    <span class="badge badge-pill badge-success mr-2">Success</span>
    <span class="badge badge-pill badge-danger mr-2">Danger</span>
    <span class="badge badge-pill badge-warning mr-2">Warning</span>
    <span class="badge badge-pill badge-info mr-2">Info</span>
    <span class="badge badge-pill badge-light mr-2">Light</span>
    <span class="badge badge-pill badge-dark mr-2">Dark</span>
</p>
<h1>
    Example heading <span class="badge badge-pill qg-tag-grey">New</span>
</h1>
<h2>
    Example heading <span class="badge badge-pill qg-tag-green">New</span>
</h2>
<h3>
    Example heading <span class="badge badge-pill qg-tag-blue">New</span>
</h3>
<h4>
    Example heading <span class="badge badge-pill qg-tag-purple">New</span>
</h4>
<h5>
    Example heading <span class="badge badge-pill qg-tag-orange">New</span>
</h5>
<h6>
    Example heading <span class="badge badge-pill qg-tag-pink">New</span>
</h6>
