<p>
    <span class="badge badge-pill qg-tag qg-tag-grey">Grey</span>
    <span class="badge badge-pill qg-tag qg-tag-green">Green</span>
    <span class="badge badge-pill qg-tag qg-tag-blue">Blue</span>
    <span class="badge badge-pill qg-tag qg-tag-purple">Purple</span>
    <span class="badge badge-pill qg-tag qg-tag-pink">Pink</span>
    <span class="badge badge-pill qg-tag qg-tag-red">Red</span>
    <span class="badge badge-pill qg-tag qg-tag-orange">Orange</span>
    <span class="badge badge-pill qg-tag qg-tag-yellow">Yellow</span>
</p>
