.qg-coat-of-arms {
  padding-top: 20px;
  padding-left: 13px;
  overflow: hidden;

  img {
    height: 50px;
    width: 289px;
  }

  @include media-breakpoint-down(sm) {
    padding: 0;
    width: auto;
  }

  @include media-breakpoint-down(xs) {
    img {
      width: 153px;
    }
  }

  @media print {
    a:after {
      content: "";
    }
  }
}
