#qg-breadcrumb{
  @extend .col-sm-12;
  .qg-inner{
    padding: 1.3em 1em 1.3em 1em;
    background: $sweblue;
  }
  ol{
    margin-left: 0;
    margin-bottom: 0;
    > li {
      line-height: 2em;
      &, > a {
        color: #fff;
        @include fontSize(16px);
      }
      + li:before {
        color: #CCCCCC;
        font-family: FontAwesome;
        content: "\f054";
        //padding: 0 0.3em;
      }
      &:last-child{
        font-weight: bold;
      }
    }
  }
}
@include breakpoint($bs-md){
  #qg-breadcrumb{
    border-top: 0.3em solid $sweblue;
    padding-right: 0;
    padding-left: 0;
    .qg-inner{
      display: none;
    }
    ol {
      margin-left: 0;
      margin-bottom: 0;
      > li {
        display: block;
        @include indent(4)
      }
    }
  }
}
