.qg-section-nav {
//background-color: #f2F7F9;      
padding-top: 0;

.qg-inner {
background-color: #E1ECF1 !important;      
padding: 0px; 

h2 {
margin: 0;
padding: 0;
}

ul {
background-color: #f2F7F9; 
margin: 0;
padding: 0;

li {
background-color: #3ebee8 !important;
margin: 0;
padding: 0;
list-style-type: none;

a {
display: inline-block;
width: 100%;
margin: 0;
padding: .3em 1em;  
}

}    

}

}

}




a.active {
font-size: 200%;
color: red;   
}


.alert-danger {
position: relative;   



.fa-exclamation-triangle {
position: absolute;
top: 10px;
left: 10px;   
font-size: 3em;  
}  

h2 {    margin: 0; 
padding: 0 0 0.3em 0; }

h2 a {
margin: 0; 
padding: 0;  
font-size: 1.2em;  
}

h2, p, ol, ul {
margin-left: 85px;   

}  


}

.qg-secondary-content .qg-inner {
margin: 0;
padding: 0;  

h2 {
margin: 0;
padding: 0;     
}

.qg-aside {
background-color: #f2F7F9;      
padding: 1em;

.fa {
// color: #78BA00;
font-size: 120%;
margin: 0 0.3em 0 0;
}

h2 {
font-weight: 700;
margin: 0 0 1em 0; 
}


figure {   
margin: 0;
padding: 0; 
position:relative; 


img {
margin: 0;
padding: 0; 
width: 100%;
height: auto;   

}


figcaption {
margin: 0;
padding: .5em; 
font-size: 90%;
font-style: italic;
text-align: center;       
}

}

} 

// possible background colors for asides:
// background-color: #F2F7F9;
// background-color: #F7FBFF;
// background-color: #EEF4F6;
// background-color: #F2F7F9;
// background-color: #E7F5FE;
// background-color: #E1ECF1;



.qg-aside:nth-child(2n) {
background-color: #E7F5FE;
}

.qg-aside:nth-child(3n) {
background-color: #E1ECF1;
}

.qg-aside h2 span:before {
color: #78BA00;
}

.qg-search {}

.qg-subscribe {}

.qg-contact {}

.qg-disaster {}

.qg-contact {}

.qg-emergency-contact {}

.qg-your-say {}

.qg-tip {}

.qg-story {}

.qg-feedback {}

}


.grid-links {
position: relative;
margin-bottom: 2em;

div {
position: relative;
min-height: 200px; 
padding-left: 85px;

img {   
position: absolute;  
top: 0px;
left: 0px; 
margin: 0; 
padding: 0;    
}

} 

}



