/* Work in progress stylesheet
- these style will be incorporated into the appropriate SASS files
- some of these styles will use existing mixins

*/








/* ! content section links for index pages */

#qg-index-links {
position: relative;
margin-bottom: 2em;
@extend .clearfix;    
    
div {
position: relative;   
      
h2 {
color: #13578b;      
@include fontSize(19px);
letter-spacing: .05em;

a {
color: #13578b;
transition: all 0.2s;
}
    
 a:hover {
text-decoration: none;
border-bottom: 1px solid #1f76b9;    
}   
    
    
//a:after {
//font-family: FontAwesome;
//font-weight: normal;
//display: inline-block !important;
//content: "\f0a9";
//color: #1f76b9;      
//margin: 0 0 0 0.5em;
//text-decoration: none;
//}   

} 
    
    

img {   
float: left;  
}

p, ol, ul {
@include fontSize(16px);
padding: 0;
margin: 0;
}

img + ul, img + ol, img + p  {
margin-left: 95px;    
}   

li { 
list-style-type: none; 
padding: 0;
margin: 0 0 0.5em 0;

a {
text-decoration: none;  
}

a:hover {
text-decoration:underline;  
}  

}
      
li:before {
font-family: FontAwesome;
font-weight: normal;
font-size: .9em;
display: inline-block !important;
content: "\f054";
margin: 0 0.3em 0 0;
color: #3384c1;
}  

}
    
div:nth-child(odd){
clear: left;
}  

}

/* ! content section links for index pages - 2 column */

#qg-index-links.qg-2col div {
position: relative;   
@extend .col-sm-6;
@extend .col-md-6;
@extend .col-lg-6;   
}

/* ! end content section links for index pages */



.qg-content-footer dl {    
    
dt {
float: left;
clear: left;
width: 7em;
margin-right: 1em;
font-weight: normal;
} 

dd {
float: left;
}
}


