header {
   margin-bottom: 1em;
  .branding{
    @extend .col-sm-4;
    @extend .col-xs-4;
  }
  .content-divider{
    display: none;
  }
  .tools{
    @extend .col-sm-8;
    text-align: right;
    margin-top: 1.4em;
    margin-bottom: 0;
    li{
      form {
        input {
          border: 1px solid #78BA00;
          color: #444444;
          padding: .5em .7em;
        }
        button {
          background: $green;
          padding: 0.8em;
        }
      }
      &:last-child{
        border-right: none;
      }
      a {
        @include fontSize(16px);
      }
    }
  }
  .utilities {
    @extend .col-sm-8;
    display: none;
    text-align: right;
    margin-top: 1em;
    .navbar-header{
      padding: 0;
    }
    button {
      margin-right: 0.8em;
      border: none;
      background-color: #fff !important;
      &:last-child{
        margin-right: 0;
      }
      i{
        color: $sweblue;
      }
    }
  }
  #site-nav{
    @extend .col-sm-12;
    //margin: 2em 0 1em 0;
    .inner {
      padding-bottom: 0;
    }
    ul {
      margin: 0;
      > li {
        padding: 0 0.8em 0 0.8em;
        border-right : 1px solid #000;
        &:first-child{
          padding-left: 0;
        }
        &:last-child{
          border-right: none;
        }
        a {
          @include fontSize(16px);
        }
      }
    }
  }
}

// responsive styles
@include breakpoint($bs-md){
    header{
      .content-divider{
        display: block;
        border-top: 4px solid $sweblue;
      }
      .tools{
        display: none;
      }
      .utilities {
        display: block;
      }
      #site-nav{
        display: none;
        margin: 0;
        ul {
          //margin-top:1em;
          > li {
            border-right : none;
            display: block;
            padding: 0.7em 0 0.7em 0;
          }
        }
      }
    }
  }


