#qg-site-header {

  background-color: #f6f6f6;
  margin-top: 32px;
  padding-top: 1em;
  padding-bottom: 0;
    
 background-image: url('../images/header-bg.jpg');
    
    

  // ##############################################################

  .qg-coat-of-arms {
    @extend .col-xs-12;
    @extend .col-sm-6;
    @extend .col-md-4;
    @extend .col-lg-4;
    padding-bottom: .8em;
    overflow: hidden;
    img {
  //    width: 287px;
      height: 50px;

    }
  }

}

// ##############################################################      

.qg-utilities {
  @extend .col-xs-12;
  @extend .col-sm-6;
  @extend .col-md-5;
  @extend .col-lg-5;

  text-align: right;
  li {
    padding-right: 0;
    padding-left: 0;
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
    button {
      background-color: transparent;
      padding: 0;
      border: none;
        
      display: inline-block;
        .fa {display: block;}
        
    }
  }
}

// ##############################################################      

#qg-search-form {
  @extend .col-xs-12;
  @extend .col-sm-12;
  @extend .col-md-3;
  @extend .col-lg-3; 

  input {
    border-radius: 0;
  }

  button.btn-default {
    background: $green;
    border-radius: 0;
  }

}

// ##############################################################    

#qg-site-name {
  background-color:rgba(234, 234, 234, 0.49);

  h2 {
      margin: .3em 0;
    @extend .col-sm-12;
  }
}

// ##############################################################    

// responsive styles
@include breakpoint($bs-md) {

  header {
    background-color: #f6f6f6;
    .qg-content-divider {
      display: block;
      border-top: 4px solid $sweblue;
    }

    .qg-utilities {
      display: block;
    }
//    #qg-site-nav {
//      background: #494949;
//      display: none;
//      margin: 0;
//      padding: 0;
//
//      ul {
//        margin: 0;
//        padding: 0;
//        > li {
//          text-align: left;
//          border-right: none;
//          display: block;
//          padding: 0.7em;
//
//            &:first-child {
//            padding: 0.7em;
//            } 
//
//            &:last-child {
//            border-bottom: none
//            }
//
//            &:nth-child(2n) {
//            background-color: #505050;
//            }
//        }
//      }
//    }
  }
}

@include breakpoint($bs-xs){

    header {
    background-color: #f6f6f6;
    .qg-content-divider {
      display: block;
      border-top: 4px solid $sweblue;
    }

    .qg-utilities {
      display: block;
       text-align: center;
        .fa { 
           font-size: 1.3em; 
        }
    }
//    #qg-site-nav {
//      background: #494949;
//      display: none;
//      margin: 0;
//      padding: 0;
//
//      ul {
//        margin: 0;
//        padding: 0;
//        > li {
//          text-align: left;
//          border-right: none;
//          display: block;
//          padding: 0.7em;
//
//            &:first-child {
//            padding: 0.7em;
//            } 
//
//            &:last-child {
//            border-bottom: none
//            }
//
//            &:nth-child(2n) {
//            background-color: #505050;
//            }
//        }
//      }
//    }
  }
}


