//layout styles
#qg-three-col{
  .qg-secondary-content{
    @extend .col-sm-12;
    @extend .col-md-3;
    @extend .col-md-push-3;
  }
}
#qg-two-col-aside{
  .qg-secondary-content{
    @extend .col-sm-12;
    @extend .col-md-3;
  }
}

//other styles
#qg-three-col, #qg-two-col-aside{
  .qg-secondary-content{
      background: #ececec;
  }
}


// responsive styles
@include breakpoint($bs-md){
  .qg-secondary-content{
    padding-top: 0.8em;
  }
}
