//layout styles
#three-col {
  .section-nav{
    @extend .col-sm-12;
    @extend .col-md-3;
    @extend .col-md-pull-9;
  }
}
#two-col-nav {
  .section-nav{
    @extend .col-sm-12;
    @extend .col-md-3;
    @extend .col-md-pull-9;
  }
}

//other styles
#three-col, #two-col-nav{
  .section-nav{
    .inner {
      background: #ececec;
    }
  }
}


// responsive styles
@include breakpoint($bs-md){
  .section-nav{
    padding-top: 0.8em;
  }
}
