//layout styles
#qg-three-col {
  .qg-section-nav{
    @extend .col-sm-12;
    @extend .col-md-3;
    @extend .col-md-pull-9;
  }
}
#qg-two-col-nav {
  .qg-section-nav{
    @extend .col-sm-12;
    @extend .col-md-3;
    @extend .col-md-pull-9;
  }
}

//other styles
#qg-three-col, #qg-two-col-nav{
  .qg-section-nav{
       background: #ececec;
  }
}


// responsive styles
@include breakpoint($bs-md){
  .qg-section-nav{
    padding-top: 0.8em;
  }
}
