<div class="qg-service-centre__wrapper" data-types="None; JP; HSC">
    <div class="qg-location-default">
        <p>Help us provide you with the most useful information by setting your location.</p>
        <button class="btn btn-global-primary-white qg-service-centre-set-location collapsed" data-analytics-link-group="“qg-nearest-service-set-location“" data-toggle="collapse" data-target="#qg-service-centre-location-setter" role="button" aria-expanded="false" aria-controls="qg-service-centre-location-setter">
            <div class="qg-service-centre-set-location__text-wrap">
                <span class="qg-service-centre-set-location__text">Set your location</span>
            </div>
        </button>
        <div id="qg-service-centre-location-setter" class="qg-location-setter-wrap collapse" style="">
            <div class="qg-location-setter show">
                <button class="btn btn-global-primary detect-location" data-analytics-link-group="qg-location-device-location" type="button">Use device location</button>
                <span class="qg-location-setter-divider">or</span>
                <form class="qg-location-setter-form" novalidate="true">
                    <label>Start typing your town or suburb</label>
                    <input type="text" title="Start typing your town or suburb" placeholder="e.g. Cooladdi" data-suburbs="https://www.qld.gov.au/_qgdesigns/integrations/global/rest/location-arcgis-suburb-and-lga-listing">
                    <div class="qg-location-setter-autocomplete hide"></div>
                    <button class="btn btn-global-primary set-location" data-analytics-link-group="qg-location-manual-location" type="button">Set location</button>
                </form>
            </div>
        </div>
    </div>
    <div class="qg-location-set hide">
        <div class="qg-service-centre__results">
            <a href="#" class="qg-service-centre__link" data-analytics-link-group="“qg-nearest-service-centre-details“">Quilpie Police Station</a>
            <ul class="qg-service-centre-list">
                <li class="qg-service-centre-list-item"><a href="#" data-analytics-link-group="“qg-nearest-service-centre-services“">Services available</a></li>
                <li class="qg-service-centre-list-item">138 km away</li>
                <li class="qg-service-centre-list-item"><span class="qg-service-centre__address">7 Bulnbuln Street</span><span class="qg-service-centre__address">Quilpie 4480</span></li>
            </ul>
        </div>
    </div>
    <hr>
</div>