<div class="qg-service-centre__wrapper" data-types="QGAP; HSC" data-centres="https://discover.search.qld.gov.au/s/search.json?collection=qgov~sp-services&sort=prox">
    <div class="qg-location-default">
        <p>Help us provide you with the most useful information by setting your location.</p>
        <button class="btn btn-global-primary-white qg-service-centre-set-location collapsed" data-analytics-link-group="“qg-nearest-service-set-location“" data-toggle="collapse" data-target="#qg-service-centre-location-setter" role="button" aria-expanded="false" aria-controls="qg-service-centre-location-setter">
            <span class="qg-service-centre-set-location__text">Set your location</span>
        </button>
        <div id="qg-service-centre-location-setter" class="qg-location-setter-wrap collapse" style="">
            <div class="qg-location-setter show">
                <!--#include virtual="../location/location-shared-controls.html"-->
              <button class="qg-location-setter-close">Close</button>
            </div>
        </div>
    </div>
    <div class="qg-location-set hide">
        <div class="qg-service-centre__results" data-jp="https://www.qld.gov.au/law/legal-mediation-and-justice-of-the-peace/about-justice-of-the-peace/search-for-your-nearest-jp-or-cdec/view?title=" data-qgap="https://www.qld.gov.au/about/contact-government/contacts/government-service-offices/view?title=" data-tmsc="https://www.qld.gov.au/transport/contacts/centres/view?title=" data-hsc="https://www.qld.gov.au/housing/public-community-housing/housing-service-centre/view?">
            <a href="#" class="qg-service-centre__link" data-analytics-link-group="“qg-nearest-service-centre-details“">Quilpie Police Station</a>
            <ul class="qg-service-centre-list">
                <li class="qg-service-centre-list-item"><a href="#" data-analytics-link-group="“qg-nearest-service-centre-services“">Services available</a></li>
                <li class="qg-service-centre-list-item">138 km away</li>
                <li class="qg-service-centre-list-item"><span class="qg-service-centre__address">7 Bulnbuln Street</span><span class="qg-service-centre__address">Quilpie 4480</span></li>
            </ul>
        </div>
    </div>
    <hr>
</div>
