/*!
 * Queensland Government Web Template (QG Web Template)
 * -
 * -
 */

// Variables
// -------------------------

@import "qg-variables";
@import "bootstrap-variables";

// Frameworks
// -------------------------

// Import bootstrap
@import "bootstrap-loader"; // Local custom loader, pulls resources from NPM module
	// @import "../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; // NPM module
@import "../../../../node_modules/font-awesome/scss/font-awesome.scss";

// Queensland government styles
// -------------------------

// QG Mixins

@import "mixins/font-size";
@import "mixins/spacing";

// QG components
@import "components/utilities"; // Utilities loaded first so they can be used in other components
@import "components/accessibility";
@import "components/buttons";
@import "components/carousel";
@import "components/visually-hidden";
@import "components/dropdowns"; // Extends bootstrap dropdowns

// QG layout components
@import "layout/layout-scaffolding"; // Primary layout structure
@import "layout/pagemodels/index"; // Page models

@import "layout/access"; 

@import "layout/header/alerts";
@import "layout/header/coat-of-arms";
@import "layout/header/header-structure";
@import "layout/header/site-name";
@import "layout/header/site-nav";
// @import "legacy-scratchpad";

@import "layout/header/site-search";
@import "layout/header/site-utilities";

@import "layout/breadcrumbs";

@import "layout/content";
@import "layout/section-nav";
@import "layout/asides";
@import "layout/content-options";
@import "layout/footer";


// Legacy styles
// -------------------------

@import "legacy/forms-reset";
@import "legacy/forms";

