// Local variables
@import "qg-variables";
@import "bootstrap-variables";

// Core variables and mixins
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "bootstrap/mixins"; // Local version

@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/panels";

.qg-tmplt-example {
	@extend .panel;
	@extend .panel-default;

	// padding: $padding-base-vertical;

	&:before {
		content: "Example";
		display: block;
		padding: $padding-base-vertical ($padding-base-horizontal / 2);
		color: $qg-dark-gray-light;
		font-weight: 800;
	}
}

#qg-primary-content {
	h2.category {
		padding-top: $padding-large-vertical; // $padding-base-vertical;
		border-top: 8px solid $qg-blue;
	}
}

#page-nav {
	&.affix {
		top: 0;
	}
	&.affix-bottom {
		position: relative;
	}
}
