// Global colours

// ## Global Primary Colours
$qg-global-primary: #005e85;
$qg-global-primary-dark: #063652;
$qg-global-primary-darker: #212529;
$qg-global-primary-light: #eff2f4;
$qg-global-primary-hover:#CCDFE7;

// ## Greyscale of Global Primary Colours
$qg-global-primary-grey: #565656;
$qg-global-primary-dark-grey: #313131;
$qg-global-primary-darker-grey: #292929;
$qg-global-primary-light-grey: #f3f3f3;
$qg-global-primary-hover-grey:#CCC;

// ## Dark grey
$qg-global-dark-grey-active: #373737;
$qg-global-dark-grey-dark-active: #303030;
$qg-global-primary-accesible-grey: #767676; // Alternative of $qg-pagination-border as it's not accesible on white background
$qg-light-gray-dark: #efefef;

// ## Red
$qg-global-error: #d60000;

// ## Social Media
$qg-facebook: #3b5998;
$qg-twitter: #1da1f2;
$qg-linkedin: #0077b5;