#qg-site-header, #qg-site-header:after, .qg-site-footer {
    background-color: $qg-global-primary;
}

.btn-global-primary {
    background-color: $qg-global-primary-dark;
}

.btn-global-primary-white,
.qg-footer-feedback__title,
.qg-feedback-toggle[aria-expanded=true] {
    color: $qg-global-primary-dark;
}

.qg-show-menu, .qg-show-search {
    &[aria-expanded="true"] {
        .fa {
            color: $qg-global-primary;
        }
    }
}

#qg-site-nav .dropdown-menu.mega-menu,
#qg-site-nav .show .nav-link,
#qg-site-nav .show .nav-link:before {
    background-color: $qg-global-primary-light;
}

#qg-site-nav .show .nav-link {
    color: $qg-global-primary-dark;
}

.qg-footer-feedback .questions .radio label:before {
    border-color: $qg-global-primary-darker;
}

.qg-footer-feedback .questions .radio label:after {
    background-color: $qg-global-primary-darker;
}

.qg-footer-feedback .questions .radio input[type=radio]:checked + label,
.qg-footer-feedback-content,
.header-location .dropdown-menu p,
.qg-location-setter-autocomplete ul li button,
.qg-share__title  {
    color: $qg-global-primary-darker;
}

.qg-footer-feedback .thankyou {
    h1,h2,h3,h4,h5,h6 {
        color: $qg-global-primary-dark;
    }
}

.qg-footer-feedback__close, .qg-location-setter-close {
    &:hover, &:focus {
        color: $qg-global-primary-dark;
    }
}

@include media-breakpoint-down(sm) {
    #qg-site-nav {
		.nav {
            background-color: $qg-global-primary-light;
        }

        a, a:link, a:visited {
            color: $qg-global-primary-darker;
        }
    }

    .header-location {
        background-color: $qg-global-primary-light;
    }
}