// icons
$font-awesome: FontAwesome;

$base-font-size: 10;
$fa-var-chevron-right: "\f054";
$fa-var-info-circle: "\f05a";
$fa-var-check: "\f00c";
$fa-var-check-circle: "\f058";
$fa-var-exclamation-triangle: "\f071";
$fa-var-ban: "\f05e";
$fa-var-comments-o: "\f0e6";
$fa-var-download: "\f019";
$fa-var-chevron-left: "\f053";
$fa-var-sign-in: "\f090";
