#qg-site-header, #qg-site-header:after, .qg-site-footer {
    background-color: $qg-global-primary;
}

.btn-global-primary, .qg-search-form .qg-search-concierge-group.highlight {
    background-color: $qg-global-primary-dark;
}

.btn-global-primary-white {
    color: $qg-global-primary-dark;
}

.qg-show-menu, .qg-show-search {
    &[aria-expanded="true"] {
        .qg-global-icons svg rect {
            fill: $qg-global-primary;
        }
    }
}

.qg-site-footer ul li a:hover,
.qg-site-footer ul li a:focus,
.qg-site-footer h3 a:hover,
.qg-site-footer h3 a:focus {
    color: $qg-global-primary-hover;
}

#qg-site-nav .dropdown-menu.mega-menu,
#qg-site-nav .show .nav-link,
#qg-site-nav .show .nav-link:before,
.qg-search-form .qg-search-concierge-group.helper {
    background-color: $qg-global-primary-light;
}

#qg-site-nav .show .nav-link,
.qg-site-footer .qg-feedback-toggle[aria-expanded=true] .qg-feedback-toggle__text {
    color: $qg-global-primary-dark;
}

.qg-footer-feedback .questions .radio label:before {
    border-color: $qg-global-primary-darker;
}

.qg-footer-feedback .questions .radio label:after {
    background-color: $qg-global-primary-darker;
}

.qg-footer-feedback .questions .radio input[type=radio]:checked + label,
.qg-footer-feedback-content,
.header-location .dropdown-menu p,
.qg-location-setter-autocomplete ul li button,
.qg-location-setter p,
.qg-location-setter label,
.qg-search-form .qg-search-concierge-group,
.qg-search-form .qg-search-concierge-group .list-group-item button,
.qg-search-form .qg-search-concierge-group .list-group-item a,
.qg-search-form .qg-search-concierge-group.helper .all,
.qg-search-form #qg-search-query,
.qg-share__title  {
    color: $qg-global-primary-darker;
}

.qg-footer-feedback .thankyou {
    h1,h2,h3,h4,h5,h6 {
        color: $qg-global-primary-dark;
    }
}

.qg-footer-feedback__close, .qg-location-setter-close {
    &:hover, &:focus {
        color: $qg-global-primary-dark;
    }
}

.qg-breadcrumb-list-item__link {
    color: $qg-global-primary-darker;
    
    &[href]:hover, &[href]:focus {
        color: $qg-global-primary-dark;
    }
}

@include media-breakpoint-down(sm) {
    #qg-site-nav {
		.nav {
            background-color: $qg-global-primary-light;
        }

        a, a:link, a:visited {
            color: $qg-global-primary-darker;
        }
    }

    .header-location {
        background-color: $qg-global-primary-light;
    }
}