// ############################################
// Primary styles

.container-fluid.qg-site-width{
  max-width: 1327px; // old SWE width
}

#qg-primary-content {
  padding-top: $grid-gutter-width / 2;
  padding-bottom:  $grid-gutter-width / 2;

  .dropup {
    & > ul {
      margin: 0;
    }
  }
  
  @media (min-width: $screen-md-min) {
    padding-top: $grid-gutter-width;
    padding-bottom: $grid-gutter-width;
  }
}

// ############################################
// Adaptable layout

// Default layout
#qg-primary-content {
  @include make-xs-column(12);
  @include make-md-column(6);
  @include make-md-column-push(3);
}
#qg-secondary-content {
  @include make-xs-column(12);
  @include make-md-column(3);
  @include make-md-column-push(3);
}
#qg-section-nav {
  @include make-xs-column(12);
  @include make-md-column(3);

  & + #qg-primary-content {
    @include make-md-column(6);
    @include make-md-column-push(0);
  }

  & ~ #qg-secondary-content {
    @include make-md-column-push(0);
  }
}

// Wide layout
#qg-content.qg-wide {
  #qg-primary-content {
    @include make-xs-column(12);
    @include make-md-column-push(0);

    & + #qg-secondary-content {
      @include make-md-column-push(0);
    }
  }

  // With aside
  #qg-primary-content.qg-has-aside {
    @include make-md-column(9);
  }

  // With nav
  #qg-section-nav {
    & + #qg-primary-content {
      @include make-md-column(9);
    }

    // With nav AND aside
    & + #qg-primary-content.qg-has-aside {
      @include make-md-column(6);
    }
  }
}

// ############################################
// Old non adaptable layout, for legacy purposes

// Three column layout (navigation, content, aside)
#qg-three-col #qg-primary-content {
  @include make-md-column(6);
  @include make-md-column-push(0);

  #qg-secondary-content {
    display: block;
  }
}

// Two column layout aside (content, aside)
#qg-two-col-aside #qg-primary-content {
  @include make-md-column(9);
  @include make-md-column-push(0);

  #qg-secondary-content {
    display: block;
  }
}

// Two column layout navigation (navigation, content)
#qg-two-col-nav #qg-primary-content {
  @include make-md-column(9);
  @include make-md-column-push(0);
}

// ############################################
// Ignore gutters
#qg-section-nav {
  @media (min-width: $screen-md-min) {
    padding-left: 0;
  }
}

#qg-content .row {
  // Container above is needed because of #qg-three-col specificity
  #qg-secondary-content {
    padding-left: 0;
    padding-right: 0;

    @media (min-width: $screen-md-min) {
      padding-left: $grid-gutter-width / 2;
    }
  }
}
