<div class="qg-global-breadcrumb qg-breadcrumb">
  <div class="container-fluid qg-site-width">
    <nav id="qg-breadcrumb" aria-label="breadcrumb" class="qg-breadcrumb-nav row">
      <ol class="qg-breadcrumb-list">
        <li class="qg-breadcrumb-list-item">
          <a
            href="/"
            class="qg-breadcrumb-list-item__link"
            data-analytics-link-group="qg-breadcrumb-link"
          >
            Home
          </a>
        </li>
        <li class="qg-breadcrumb-list-item">
          <a
            href="#"
            class="qg-breadcrumb-list-item__link"
            data-analytics-link-group="qg-breadcrumb-link"
          >
            Community support
          </a>
        </li>
        <li class="qg-breadcrumb-list-item shorten">
          <button
            class="qg-breadcrumb-toggle"
            aria-label="Expand the breadcrumbs"
            data-analytics-link-group="qg-breadcrumb-ellipsis"
          >
            [...]
          </button>
        </li>
        <li class="qg-breadcrumb-list-item shortened">
          <a
            href="#"
            class="qg-breadcrumb-list-item__link"
            tabindex="-1"
            data-analytics-link-group="qg-breadcrumb-revealed-link"
          >
            Cost of living support
          </a>
        </li>
        <li class="qg-breadcrumb-list-item shortened">
          <a
            href="#"
            class="qg-breadcrumb-list-item__link"
            tabindex="-1"
            data-analytics-link-group="qg-breadcrumb-revealed-link"
          >
            Concessions
          </a>
        </li>
        <li class="qg-breadcrumb-list-item">
          <a
            href="#"
            class="qg-breadcrumb-list-item__link"
            data-analytics-link-group="qg-breadcrumb-link"
          >
            Energy concessions
          </a>
        </li>
        <li class="qg-breadcrumb-list-item">
          <span aria-current="page"> Electricity asset ownership dividend </span>
        </li>
      </ol>
    </nav>
  </div>
</div>
