#qg-search-widget{
  background: #f2f7f9;
  padding: .5em 1em;

  select{
    width: 100%;
  }
  .collapsing-section{
    padding-left: 0;
    border-left: none;
    margin-left: 0;
    background: inherit;
  }
  #qg-search-widget-form input{
    position: initial;
    opacity: 1;
    z-index: initial;
  }
  .qg-accordion article .acc-heading label {
    padding: 10px 50px 10px 0;
  }
  .qg-fl{
    display: flex;
    #qg-app-geocoding{
      background: #78ba00;
    }
    .qg-location-autocomplete{
      width: 90%;
      margin-right: 11px;
    }
    #qg-app-geocoding{
      width: 47px;
      position: relative;
      bottom:0 !important;
      svg{
        display: block;
        margin: auto;
        position: absolute;
        top: 5px;
        right: 7px;
      }
    }
  }
  #search{
    margin-right: 10px;
  }

}

.qg-result-title {
  margin-top: 20px;
  h2{
    margin-top: 16px;
    font-weight: normal;
    font-size: 1.2em;
  }
  hr {
    border-top: 1px solid #ccc;
    margin: 0;
  }
}
