// if the font size is less than 16px on mobile then the IOS will zoom the page and this makes the page unstable
 @include media-breakpoint-down(md) {
    input, select, textarea {
      font-size: 1rem !important;
    }
  }

//custom theme for radio buttons and checkbox
.rc-theme {
  .rc-theme__focus{
    outline: 2px solid $qg-blue;
    outline-offset: 1px;
  }
  &.choices {
    display: flex;
    flex-wrap: wrap;
    margin-top:1em;
  }
  .rc-theme__active{
    background-color: $qg-blue !important;
    [type="checkbox"]:checked + label .rc-theme__icon, [type="radio"]:checked + label .rc-theme__icon {
      fill: white;
    }
    .rc-theme__label-desc{
      color: white;
    }
  }
  .rc-theme__label{
    padding-left: 35px;
  }
  .rc-theme__with-image{
    text-align: center;
    svg{
      margin-top: 15px;
    }
    .rc-theme__icon {
      fill: $black;
    }
    .rc-theme__label-desc{
      display: inline-block;
      margin-top: 19px;
    }
  }

  &.choices {
    li {
      width: 255px;
      padding: 15px !important;
      margin-bottom: 16px;
      margin-right: 32px !important;
      color: #000;
      background-color: white;
      border-radius: 3px;
      border: 1px solid $qg-pagination-border !important;
    }
    label {
      color: #000 !important;
      font-weight: normal;
    }
  }

  [type="radio"],
  [type="checkbox"] {
    position: absolute;
    left: -9999px;
   &+label {
     position: relative;
     cursor: pointer;
     line-height: 20px;
     display: inline-block;
     color: #666;
   }
  }

  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #000;
    border-radius: 100%;
    background: white;
  }

  [type="checkbox"]:checked + label:before,
  [type="checkbox"]:not(:checked) + label:before{
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 22px;
    height: 22px;
    border: 1px solid #000;
    background: white;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 14px;
    height: 14px;
    background: #000;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    transition: all 0.2s ease;
  }

  [type="checkbox"]:checked + label:after,
  [type="checkbox"]:not(:checked) + label:after{
    content: '\2714';
    font-size: 22px;
    position: absolute;
    top: 4px;
    left: 3px;
    color: #000;
    transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after,
  [type="checkbox"]:not(:checked) + label:after{
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type="radio"]:checked + label:after,
  [type="checkbox"]:checked + label:after{
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  [type="radio"]:disabled,
  [type="checkbox"]:disabled {
    background: transparent;
    color: $qg-dark-grey-lightest;
    cursor: not-allowed;
    +label, +label:before {
      cursor: not-allowed;
      color: $qg-dark-gray-light !important;
    }
    +label:before {
      border-color: $qg-dark-grey-lightest;
    }
    +label svg path.rc-theme__icon {
      fill: $qg-dark-grey-lightest;
    }
  }

}
// hint text
.hint{
  color: $qg-dark-gray-light;
  @include rem(font-size, 14px);
}
//------------------------------------------------------------------------------------
// Updated form styles (migrated from forms.io repository to make all forms look the same)
//------------------------------------------------------------------------------------

.qg-forms-v2{
  input:not([type=button]):not([type=reset]):not([type=submit]):not([type=image]):not([type]),
  input[type=text], input[type=password], input[type=search], input[type=email], input[type=tel], input[type=url], input[type=date], input[type=time], input[type=datetime], input[type=number], select, textarea,
  select,
  textarea,
  .formio-choices .selection, .form-control.dropdown {
    padding: 8px;
    border-radius: $borderRadius;
    &:focus-within {
      color: #495057;
      background-color: white;
      border-color: $focusBorderColor;
      outline: 0;
      box-shadow: 0 0 0 $borderWidth $focusBoxShadow;
    }
  }
  .form-control, .form-control.dropdown, .form-check-input{
    border: $borderWidth solid $qg-pagination-border;
  }
  label, .label {
    font-size: $labelSize;
    color: $labelColour;
    font-weight: $labelWeight;
  }
  .hint {
    font-size: $hintSize;
    color: $hintColour;
    font-weight: $hintWeight;
  }
  legend {
    font-size: $labelHeadingSize;
    color: $labelHeadingColour;
    font-weight: $labelHeadingWeight;
  }

  // choices list styles (forms.io styles overrides)
  .is-flipped .choices__list--dropdown {
    margin-bottom: 8px;
  }
  .choices__list--dropdown{
    box-shadow: 0 0 0 $borderWidth $focusBoxShadow;
    margin-top: 8px;
    border: $borderWidth solid $focusBorderColor !important;
    border-radius: 4px;
    .choices__item--selectable {
      padding: 8px 14px;
    }
  }
  .choices[data-type*=select-multiple] .choices__button, .choices[data-type*=text] .choices__button {
    background-image: url(../images/x-icon.svg);
    background-size: 11px;
    vertical-align: middle;
    border-left: none;
  }
  .formio-choices{
    .choices__item.choices__item--selectable {
      white-space: pre-wrap;
      word-break: break-word;
    }
    .choices__list--multiple .choices__item[data-deletable] {
      padding-right: 10px;
      margin: 4px 8px 4px 0;
    }
    input.choices__input:not(.choices__input--cloned){
      border:none;
      font-size: 1rem;
      padding: 0 10px 0 0;
      margin: 4px 8px 4px 0;
      &:focus{
        box-shadow: none !important;
      }
    }
    .choices__input--cloned{
      font-size: 1rem;
      border: 0;
      padding: 0 0 0 8px;
      border-radius: 0;
      background: initial;
      box-shadow: none !important;
    }
    .choices__item {
      padding: 4px 10px;
      line-height: inherit;
      font-size: 1rem;
    }
    .choices__item.choices__item--selectable:not(.choices__item--choice){
      background: $qg-global-primary-light-grey;
      border-radius: 6px;
      border: none;
      color: $qg-global-primary-darker;
    }
    .choices__button{
      background-color: initial;
    }
  }
  // end of choices list styles (forms.io styles overrides)


  // forms.io radio button and checkbox specific styles overrides
  // ------------------------------------------------------------
  .qg-forms-v2__checkbox, .qg-forms-v2__radio {
    display: flex;
    flex-direction: column;
    label {
      width:100%;
      margin-bottom: 14px;
    }
    li{
      display:flex;
    }
    input[type=radio], input[type=checkbox] {
      top: 0;
      appearance: none;
      @include qg-button-outline-decoration;
      border: solid $qg-pagination-border 2px;
      position: static;
      &:disabled {
        border-color: $qg-dark-grey-lightest;
        background-color: $qg-global-primary-light-grey;
        &::before {
          box-shadow: inset 1.2em 1.2em $qg-dark-grey-lightest;
        }
      }
      display: grid;
      place-content: center;

      &::before {
        content: "";
        width: 1.2em;
        height: 1.2em;
        transform: scale(0);
        box-shadow: inset 1.2em 1.2em black;
      }
      &:checked::before {
        transform: scale(1);
      }

      @include on-hover {
        box-shadow: $qg-light-blue-gray3 0 0 0px 5px, inset $qg-light-blue-gray3 0 0 0px 100px;
      }
    }

    input[type=radio] {
      border-radius: 50%;
      // compatibility with Firefox pre-88
      -moz-outline-radius: 50%;
      &::before {
        border-radius: 50%;
      }
    }
    input[type=checkbox]:checked::before {
      clip-path: polygon(18% 40%, 2% 56%, 37% 91%, 97% 31%, 81% 15%, 37% 59%);
    }
  }
  .checkbox, .qg-forms-v2__checkbox,
  .form-radio, .qg-forms-v2__radio {
    padding: 12px 0 12px 0;
    margin: 0;
    .radio {
      margin: 0;
    }
    .form-check, .form-check-inline {
      padding-bottom: $defaultRem;
      padding-left: 0;
      .form-check-input{
        margin-left: -16px;
      }
    }
    .form-check-inline .form-check-input {
      margin-right: 0;
    }
    input[type=radio], input[type=checkbox] {
      accent-color: $qg-global-primary-darker-grey;
      width: 1.5em;
      height: 1.5em;
      padding: 0.9em;
      margin-top: 0;
      &:checked + label {
        color: inherit;
      }
    }
    label {
      display:flex;
      font-weight: normal;
      margin-left: 16px;
      > span {
        flex: 1;
        font-weight: $checkboxWeight;
        margin-left: $defaultRem;
      }
    }
  }

  // changing the position of required asterisk for better CSS handling
  .formio-component-checkbox {
    .field-required {
      &:after {
        display: none;
      }
      input + span:after {
        content: " *";
        color: #eb0000;
      }
    }
  }
  // ------------------------------------------------------------------
  // end of forms.io radio button and checkbox specific styles overrides

  .formio-hidden {
    margin-bottom: 0 !important;
  }
  .invalid .alert{
    font-weight: normal;
  }
  .alert {
    margin-bottom: 16px;
    font-size: 1rem;
    &.alert-danger {
      background-color: #ffedde;
      border-color: #f9af71;
    }
  }
  .text-muted {
    color: $hintColour;
  }
  .qg-link {
    cursor: pointer;
  }

  //Errors  -------------------------------------------------------------

  //error alert
  .alert-danger {
    li {
      span {
        color: $SecondaryColor;
      }
    }
    background-color: $alertWarningBackground;
    border-color: $alertWarningBorder;
  }

  //error on fields
  .is-invalid {
    //border-color:;
    background-color: white;
    background-image: none !important;
  }

  //error container
  .formio-error-wrapper {
    color: white !important;
    background-color: white !important;
    border-color: white !important;
    padding: 0;
  }

  //error labels
  .formio-errors {
    div.error {
      font-size: $hintSize;
    }
  }

  div.has_error {
    margin-top: $defaultRem;
  }

  //Layout modifications -------------------------------------------------
  //Align individual field descriptions before input element

  .formio-component-textfield,
  .formio-component-textarea,
  .formio-component-hidden,
  .formio-component-checkbox,
  .formio-component-email,
  .formio-component-password,
  .formio-component-radio,
  .formio-component-currency,
  .formio-component-number,
  .formio-component-selectboxes,
  .formio-component-url,
  .formio-component-phoneNumber,
  .formio-component-datetime,
  .formio-component-day,
  .formio-component-datetime,
  .formio-component-currency {
    display: inline-grid;
    //Fallback
    display: grid;
    div.col-form-label {
      order: 0;
    }
    div.text-muted {
      order: 1;
      margin-bottom: 4px;
    }
    div.formio-errors {
      order: 2;
      margin-bottom: 8px;
    }
    div[ref="element"],
    div.row,
    div.form-radio,
    div.checkbox,
    div.address-autocomplete-container {
      order: 3;
    }
  }

  //Can be affected by above grid
  .formio-component-submitButton,
  .formio-component-submit,
  .formio-component-form,
  .fieldset-body {
    display: block !important;
  }

  //Add default margins to sections and fieldsets
  fieldset {
    .fieldset-body {
      label {
        font-weight: $labelWeight;
      }
    }
  }

  //Workarounds -----------------------------------------------------
  //Workarounds for instances where panel/card is applied to form body
  // TODO I think this is not in use currently and not sure what is the use case for this, card styles are migrated from forms V1 styles. Will investigate and delete.
  .border {
    border: 0;
  }
  .card {
    position: relative;
    display: inherit !important;
    flex-direction: inherit !important;
    min-width: inherit !important;
    word-wrap: inherit !important;
    background-color: white;
    background-clip: inherit !important;
    border: none !important;
    border-radius: 0 !important;
  }
  .card-body {
    display: inherit !important;
    min-height: inherit !important;
    padding: inherit !important;
  }
}

.formio-form {
  .formio-select-autocomplete-input {
    opacity: 0;
    position: relative;
    z-index: -1;
    display: block;
    height: 0;
    border: none;
  }

  .formio-component-panel {
    .card.mb-2 {
      margin-bottom: 0 !important;
      border: none !important;
    }
    .card-body {
      border: 1px solid gray;
      padding: 16px;
      margin-top: -1px;
    }
    .card-header {
      position: relative;
      display: block;
      border: 1px solid gray;
      border-radius: 0;
      background-color: transparent !important;
      padding: 16px;
      margin-top: -1px;
      color: $qg-blue-dark;
      font-weight: 700;
      text-decoration-line: underline;
      .card-title {
        color: $qg-blue-dark !important;
        padding-right: 28px;
      }
      &:hover {
        text-decoration-line: none;
        .text-light, .text-muted {
          color: #212529 !important;
        }
      }
      .formio-collapse-icon {
        display: none;
      }
      &:after {
        content: " ";
        position: absolute;
        top: 50%;
        margin-top: -9px;
        right: 16px;
        width: 14px;
        height: 14px;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%2300698f' d='M64 0l64 64-16 16-64-64'/%3E%3Cpath fill='%2300698f' d='M64 0l16 16-64 64L0 64'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 50%;
        z-index: 101;
        transition: transform .25s ease-in;
      }
      &[aria-expanded="false"]:after {
        transform: rotate(-180deg);
      }
    }
  }

  &>div>nav {
    display: block;
    &>ul.pagination {
      .page-item .page-link {
          background: none !important;
          @include qg-link-unvisited-color($qg-blue-dark !important);
          font-weight: 700;
          display: inline-block;
          padding: 16px;
          border-radius: 0 !important;
          margin: 0;
          margin-right: -1px;
          text-decoration-line: underline !important;
      }
      .page-item:not(.active):hover .page-link {
          text-decoration-line: none !important;
          background-color: #f5f5f5 !important;
      }
      .page-item.active .page-link {
          color: #212529 !important;
          text-decoration-line: none !important;
          background-color: #f5f5f5 !important;
      }
    }
  }
}

#qg-primary-content {
  .qg-forms-v2 .formio-component-panel .card-header {
      display: block;
  }
  .qg-forms-v2 .formio-component-panel .card-body{
      padding: 16px;
  }
  .qg-forms-v2 .formio-form nav {
    display: block;
  }
}
