<p>
  Thank you for your feedback. Your feedback is important to us and will be used to improve the website.
</p>
<h2>
  Response to your feedback
</h2>
<p>
  Due to the large volume of feedback we may not be able to reply to your request. If you need a response please complete the <a href="https://www.complaints.services.qld.gov.au/">complaints and compliments form</a>.
</p>
<h2>
  Did you know?
</h2>
<p>
  We have a range of services that you can complete online. Find out how to <a href="https://www.qld.gov.au/services/services-list#/">find, pay or apply for services online</a>.
</p>
