.qg-cut-in, .qg-cut-in-alt {
  position: relative;
  @include rem(max-width, 374px);
  @include rem(font-size, 14px);
  @include rem(padding, 7px);
  @include rem(margin, 17px 16px 14px 16px);
  text-align: center;
  font-style: italic;
  border: 1px solid #eee;
  img {
    height: auto!important;
    margin: 0 auto;
    display: block;
  }
  .figure-credits {
    @include rem(padding, 0 20px);
  }
  .caption {
    @include rem(max-width, 284px);
    @include rem(margin, 6px auto);
    text-align: left;
    font-style: italic;
  }
  .figure-credits-toggle {
    position: absolute;
    top: 0;
    right: 0.6rem;
    height: 3rem;
    background: transparent;
    opacity: 0.7;
    border: 0;
  }
}
.qg-cut-in{
 float: right;
}
.qg-cut-in-alt{
  float: left;
}
.qg-cut-in.qg-cut-in__fw {
  width: min-content;
  float: initial;
  padding: 1em;
  margin: 1em auto;
}
