<!--
  Style is hosting in Squiz Matrix
-->
<link
href="https://www.qld.gov.au/__data/assets/git_bridge/0019/100936/franchises/dfv/dist/main.css?h=21e9243"
rel="stylesheet"
type="text/css"
media="all"
/>
<style>

</style>
<aside id="qg-secondary-content">
  <div class="qg-aside qg-contact-advanced" role="complementary">
    <h2>
      <span class="qg-aside-icon fa-icon__wrapper">
        <span class="fa fa-phone" aria-hidden="true"></span>
      </span>
      <span>Who to call to get help</span>
    </h2>
    <p>In an emergency call the police on Triple Zero (000).</p>
    <h3>DVConnect Womensline</h3>
    <p><strong>1800 811 811</strong></p>
    <h3>DVConnect Mensline</h3>
    <p><strong>1800 600 636</strong></p>
    <h3>1800RESPECT</h3>
    <p><strong>1800 737 732</strong></p>
    <a
      href="https://oss-uat.clients.squiz.net/community/getting-support-health-social-issue/support-victims-abuse/domestic-family-violence/helplines"
      class="qg-aside-button"
      data-analytics-link-group="dfv-rightaside-desktop"
      >Domestic violence helplines</a
    >
  </div>

  <div class="qg-aside qg-find-services" role="complementary">
    <h2>
      <span class="qg-aside-icon fa-icon__wrapper">
        <img
          src="/assets/v4/latest/images/page-content/qld-map-icon.png"
          alt="Icon for Find local support"
        />
      </span>
      <span>Find local support</span>
    </h2>
    <p>Find support services in your area.</p>
    <a
      href="https://oss-uat.clients.squiz.net/community/getting-support-health-social-issue/support-victims-abuse/domestic-family-violence/find-local-support"
      class="qg-aside-button"
      data-analytics-link-group="dfv-rightaside-desktop"
      >Find local support</a
    >
  </div>
</aside>
