<!-- 
  Style is hosting in Squiz Matrix
-->
<link
  href="https://www.qld.gov.au/__data/assets/git_bridge/0019/100936/franchises/dfv/dist/main.css?h=21e9243"
  rel="stylesheet"
  type="text/css"
  media="all"
/>
<div class="dfv-back__wrapper show-desktop">
  <div class="dfv-back">
    <a
      href="https://www.qld.gov.au/community/getting-support-health-social-issue/support-victims-abuse/domestic-family-violence"
      class="dfv-back__link"
      data-analytics-link-group="dfv-backtohome"
    >
      <img
        class="dfv-back__icon"
        src="https://www.qld.gov.au/__data/assets/image/0032/99464/home-icon.png"
        alt="Back to home icon"
      />
      <span class="dfv-back__label">Back to domestic and family violence</span>
    </a>
  </div>
</div>
