@mixin qg-card {
  color: #ffffff;
  display: flex;

  &.qg-card__clickable {
    .content {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

      &:hover {
        box-shadow: none;
      }
    }

    .content:focus-within {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }

  .btn-primary {
    @extend .btn-secondary;
    width: 100%;
  }

  .qg-card__footer {
    padding: 1em;
    border-top: 1px solid hsla(0, 0%, 50%, 0.7);
    //this condition is to support legacy Aggregation page HTML
    .btn {
      width: 100%;
    }
    .btn-link {
      padding-left: 0;
      text-align: left;
      @include qg-link-styles__theme-white;
    }
  }

  // card with light theme styles
  &.qg-card__light-theme {
    .content {
      background: none;

      .details {
        color: #000;

        a:not(.btn):not(.qg-btn) {
          @include qg-link-styles__theme-black;

          &.stretched-link {
            @include qg-link-styles__default;
          }
        }
      }

      .qg-card__footer {
        border-top: 1px solid rgba(211, 211, 211, 1);
        .btn-link {
          @include qg-link-styles__default;
        }
      }
    }
  }
  
  &:not(.qg-card__light-theme) {
    h2 {
      color: #fff;
    }
  }

  .content {
    width: 100%;
    border: solid 1px #d3d3d3;
    background: #444444;
    position: relative;
    overflow: hidden;
    border-radius: 4px;

    img {
      width: 100%;
      height: auto;

      & + .details a.qg-btn {
        margin-bottom: 0.5em;
        margin-top: 0.5em !important;
      }
    }
    
    .qg-card__thumbnail {
      width: 75px;
      height: 75px;
      margin: 1em 1em 0 1em;
    }

    .details {
      padding: 1em;
      > :first-child {
        padding-right: 1rem;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
      }
      > :nth-child(2) {
        margin-top: 0.75rem;
      }

      a:not(.btn):not(.qg-btn) {
        @include qg-link-styles__theme-white;

        &.stretched-link {
          @include qg-link-styles__theme-white;
        }
      }

      a.btn {
        margin-top: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
      }

      ul {
        padding: 0;

        li {
          position: relative;
          padding-left: 1.6rem;
          list-style: none;
          margin: 0;

          &:before {
            font-family: FontAwesome;
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            content: "\f054";
            margin-right: 0.6rem;
            font-size: 0.8rem;
            position: absolute;
            padding-right: 0.8rem;
            left: 0;
            top: 0.5rem;
          }
        }
      }
    }

    @include breakpoint(sm) {
      .qg-pin-bottom {
        position: absolute;
        bottom: 1em;
        width: calc(95% - 1em);
        box-sizing: border-box;
      }
    }
    @include breakpoint(md) {
      .qg-pin-bottom-md {
        position: absolute;
        bottom: 1em;
        width: calc(94% - 1em);
        box-sizing: border-box;
      }
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

@mixin qg-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &:before,
  &:after {
    content: normal;
  }
  &.row {
    margin-left: -1em;
    margin-right: -1em;
  }

  .qg-card {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.qg-cards {
  @include qg-cards;
}
.qg-card {
  @include qg-card;
  margin-bottom: 2rem;
}

//default color overwrite
#qg-primary-content,
#qg-content {
  .qg-cards {
    @include qg-cards;
  }
  .qg-card {
    @include qg-card;
  }
}

// card with full width
.qg-card.card__full-width {
  padding: 0 !important;
  @include breakpoint(md) {
    padding: inherit;
  }

  .qg-card__footer {
    .qg-btn {
      width: 100%;
      @include breakpoint(sm) {
        width: 200px;
      }
    }
  }

  .details > h2 {
    margin-top: 0;
  }
}
