.print-link-url{
  display: none;
}
/*qg-grab class*/
.qg-grab {
  background-color: $qg-light-blue-gray3;
  clear: both;
  padding: 1.6rem 3.2rem;
}

a{
  .meta{
    text-decoration-line: none;
  }
}

//table style
.qg-table{
  @extend .table;
  thead > tr > th, thead > tr > td {
    background-color: $qg-blue-dark;
    color: white;
  }
}

// datepicker prev and next button positioning
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next, .ui-datepicker .ui-datepicker-next-hover {
  top: 8px !important;
}

#qg-search-results-map-container {
  .map-popup {
    padding-left: 20px;
    a {
      display: block;
      margin: 5px;
    }
  }
}
