<!-- Pull-left example -->

<figure class="pull-left">
  <img src="/assets/v4/latest/images/placeholders/SWE-image-example.jpg" alt="Example figure image pulled-left" />
  <figcaption>
    Pull-right example
    <div class="figure-cc">Figure credits</div>
  </figcaption>
</figure>

<!-- Pull-right example -->

<figure class="pull-right">
  <img src="/assets/v4/latest/images/placeholders/SWE-image-example.jpg" alt="Example figure image pulled-right" />
  <figcaption>
    Pull-right example
    <div class="figure-cc">Figure credits</div>
  </figcaption>
</figure>
