<nav
  class="qg-section-nav"
  aria-label="side navigation"
  role="navigation"
  style="right: 0%; max-width: 35%; margin-bottom: 2rem"
>
  <h2>
    <a href="#" style="text-decoration: none !important"> Parent page for section tree </a>
  </h2>
  <ul aria-label="section navigation">
    <li>
      <a href="#" style="text-decoration: none; color: #585e62 !important">
        At least one sub page
      </a>
    </li>
    <li>
      <a href="#" style="text-decoration: none; color: #585e62 !important"> A second sub page </a>
    </li>
    <li>
      <a href="#" style="text-decoration: none; color: #585e62 !important"> A third sub page </a>
    </li>
  </ul>
</nav>
