<nav
  class="qg-section-nav"
  aria-label="side navigation"
  role="navigation"
  style="right: 0%; max-width: 35%; margin-bottom: 2rem"
>
  <h2>
    <a href="#"> Parent page for section tree </a>
  </h2>
  <ul aria-label="section navigation">
    <li>
      <a class="active"> Active page </a>
    </li>
    <li>
      <a href="#"> At least one sub page </a>
    </li>
    <li>
      <a href="#"> A second sub page </a>
    </li>
    <li>
      <a href="#"> A third sub page </a>
    </li>
  </ul>
</nav>
