// Local variables
@import "scss-general/qg-variables";
@import "scss-general/bootstrap-variables";

// Core variables and mixins
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "scss-general/bootstrap/mixins"; // Local version

@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/panels";

.qg-tmplt-example {
	@extend .panel;
	@extend .panel-default;

	// padding: $padding-base-vertical;

	&:before {
		content: "Example";
		display: block;
		padding: $padding-base-vertical ($padding-base-horizontal / 2);
		color: $qg-dark-gray-light;
		font-weight: 800;
	}
}

#qg-primary-content {
	h2.category {
		padding-top: $padding-large-vertical; // $padding-base-vertical;
		border-top: 8px solid $qg-blue;

		@media (min-width: $screen-lg-min) {
			margin-top: $qg-spacing;
			padding-top: $qg-spacing;
		}
	}
}

#page-nav {
	&.affix {
		top: 0;
	}
	&.affix-bottom {
		position: relative;
	}
}

@media (max-width: $screen-md-min) {
	.qg-docs-sidenav.affix {
	  position: static;
	  width: auto;
	  top: 0;
	}
}
