/*!
 * Queensland Government Web Template (QG Web Template)
 * -
 * -
 */

// Variables
// -------------------------
@import "scss-general/qg-variables";
@import "scss-general/qg-font-variables";
//@import "scss-general/bootstrap-variables";

// Frameworks
// -------------------------
@import "scss-general/bootstrap/rem";
@import "scss-general/bootstrap/variables";
@import "../../../../node_modules/bootstrap/scss/bootstrap";
@import "scss-general/bootstrap/buttons";
@import "scss-general/bootstrap/bridge_bootstrap3";
@import "../../../../node_modules/font-awesome/scss/font-awesome.scss";

// Queensland government styles
// -------------------------

// QG Mixins
@import "scss-general/mixins/font-size";
@import "scss-general/mixins/qg-responsive-spacing";
@import "scss-general/mixins/bootstrap-breakpoints";

// QG typography
@import "layout/typography";

// QG Utilities
@import "utils/utilities"; // Utilities loaded first so they can be used in other components


// QG components
@import "components/accessibility/accessibility";
@import "components/buttons";
@import "components/carousel/carousel";
@import "components/accordion/accordion";
@import "components/visually-hidden";
@import "components/dropdowns"; // Extends bootstrap dropdowns
@import "components/navs"; // Extends bootstrap navs
@import "components/images";
@import "components/pagination";
@import "components/quick-exit/quick-exit";
@import "components/alert";
@import "components/search-widget/search-widget";
@import "components/_correct-incorrect"; // Adds correct / incorrect styling
@import "components/_misc";
// QG layout components
@import "layout/layout-scaffolding"; // Primary layout structure

@import "layout/_pagemodels/index"; // Page models

@import "layout/header/access";
@import "layout/print";
@import "layout/header/alerts";
@import "layout/header/coat-of-arms";
@import "layout/header/header-structure";
@import "layout/header/site-name";
@import "layout/header/site-nav";
@import "layout/header/site-search";
@import "layout/header/site-utilities";
@import "layout/banners/qg-banner-blurb";

@import "layout/breadcrumbs/breadcrumbs";
@import "layout/content/content";
@import "layout/content/options";
@import "layout/content/content-types";
@import "layout/section-nav/section-nav";
@import "layout/section-nav/guide-sub-nav";
@import "layout/section-nav/mobile_step_nav";
@import "layout/asides/asides";
@import "layout/footer/site-map";
@import "layout/footer/legals";

//themes
@import "layout/_pagemodels/aggregation";
@import "layout/_pagemodels/guide";

//External Libraries
@import "https://static.qgov.net.au/assets/v3.1/latest/lib/ext/butterfly/butterfly.css";

// Legacy styles
// -------------------------

@import "legacy/forms/forms-reset";
@import "legacy/forms/forms";
