<aside id="qg-secondary-content" style="max-width: 306px; padding-left: 0; left: 0">
  <div class="qg-aside" role="complementary">
    <h2><span class="fa fa-lightbulb-o fa-2x" aria-hidden="true"></span>Online services</h2>
    <p>We have a range of services that you can access online. You can:</p>
    <ul>
      <li><a href="#">take the practice road rules test</a></li>
      <li><a href="#">book a practical driving test</a></li>
      <li><a href="#">take the motorcycle knowledge test</a>.</li>
    </ul>
  </div>
</aside>
