// Add helpers here
// -------------------------

// The unstyled version of the panel
.panel-unstyled {
	margin-bottom: 0;
	background: transparent;
	border: 0;
	border-radius: 0;
	box-shadow: none;
}


table td {
  vertical-align: top;
}
