<section class="row qg-cards qg-cards__equal-height">
  <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-lg-4">
    <div class="content">
      <div class="details qg-cards__row-1" style="height: 130.762px">
        <h2>Card title</h2>
        <p>Additional text when the card title alone may not be enough.</p>
      </div>
    </div>
  </article>
  <article class="qg-card qg-card col-12 col-sm-6 col-lg-4">
    <div class="content">
      <div class="details qg-cards__row-1" style="height: 130.762px">
        <h2>Card title</h2>
        <p>Additional text details when the card title alone may not be enough.</p>
      </div>
    </div>
  </article>
</section>
