<style>
  /*
    style extracted from https://www.qld.gov.au/__data/assets/css_file/0026/119177/custom.css
  */
  .qg-card-columns {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    padding-left: 0;
  }

  .card-columns {
    column-count: 4;
  }

  .qg-card-columns img {
    width: 100%;
    height: auto;
  }
  .qg-card-columns .qg-card {
    list-style: none;
    flex-basis: 18%;
    margin: 12px;
    position: relative;
  }
  .qg-card-columns .qg-card a {
    display: block;
  }
  .qg-card-columns .qg-card-title {
    background: rgba(51, 51, 51, 0.9);
    color: #fff;
    text-align: center;
    padding: 1.1rem;
    font-size: 0.9rem;
    margin-bottom: 0;
  }
  .qg-card-columns .qg-card-body {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
</style>
<ul class="qg-card-columns">
  <li class="qg-card">
    <a href="https://www.qld.gov.au/transport">
      <img src="https://www.qld.gov.au/__data/assets/image/0018/114147/transport.jpg" alt="" />
      <div class="qg-card-body">
        <h5 class="qg-card-title">Transport and motoring</h5>
      </div>
    </a>
  </li>

  <li class="qg-card">
    <a href="https://www.qld.gov.au/education">
      <img src="https://www.qld.gov.au/__data/assets/image/0022/113845/education.jpg" alt="" />
      <div class="qg-card-body">
        <h5 class="qg-card-title">Education and training</h5>
      </div>
    </a>
  </li>

  <li class="qg-card">
    <a href="https://www.qld.gov.au/families">
      <img src="https://www.qld.gov.au/__data/assets/image/0015/114153/parents.jpg" alt="" />
      <div class="qg-card-body">
        <h5 class="qg-card-title">Parents and families</h5>
      </div>
    </a>
  </li>

  <li class="qg-card">
    <a href="https://www.qld.gov.au/jobs">
      <img src="https://www.qld.gov.au/__data/assets/image/0020/113843/employment.jpg" alt="" />
      <div class="qg-card-body">
        <h5 class="qg-card-title">Employment and jobs</h5>
      </div>
    </a>
  </li>

  <li class="qg-card">
    <a href="https://www.qld.gov.au/community">
      <img src="https://www.qld.gov.au/__data/assets/image/0017/114155/community.jpg" alt="" />
      <div class="qg-card-body">
        <h5 class="qg-card-title">Community support</h5>
      </div>
    </a>
  </li>

  <li class="qg-card">
    <a href="https://www.qld.gov.au/disability">
      <img src="https://www.qld.gov.au/__data/assets/image/0016/114154/disability.jpg" alt="" />
      <div class="qg-card-body">
        <h5 class="qg-card-title">People with disability</h5>
      </div>
    </a>
  </li>
</ul>
