<section class="row qg-cards qg-cards__equal-height">
    <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-lg-4">
        <div class="content">
            <div class="details qg-cards__row-1">
                <h2>Card title</h2>
                <p>Additional text when the card title alone may not be enough.</p>
                
                <!-- Tags for card 1 -->
                <span class="badge badge-pill qg-tag qg-tag-blue">tag1</span>
                <!-- End Tags for card 1 -->
            </div>
        </div>
    </article>
    <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-lg-4">
        <div class="content">
            <div class="details qg-cards__row-1">
                <h2>Card title</h2>
                <p>Additional text when the card title alone may not be enough.</p>
                
                <!-- Tags for card 2 -->
                <span class="badge badge-pill qg-tag qg-tag-yellow">tag2</span>
                <span class="badge badge-pill qg-tag qg-tag-pink">tag3</span>
                <!-- End Tags for card 2 -->
            </div>
        </div>
    </article>
        <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-lg-4">
        <div class="content">
            <div class="details qg-cards__row-1">
                <h2>Card title</h2>
                <p>Additional text when the card title alone may not be enough.</p>

                <!-- Tags for card 3 -->
                <span class="badge badge-pill qg-tag qg-tag-grey">tag4</span>
                <span class="badge badge-pill qg-tag qg-tag-yellow">tag5</span>
                <span class="badge badge-pill qg-tag qg-tag-green">tag6</span>
                <!-- End Tags for card 3 -->
            </div>
        </div>
    </article>
</section>
