<section class="row cards__equal-height">
  <article class="qg-card qg-card__light-theme qg-card__clickable col-12 col-sm-6 col-lg-4">
    <div class="content">
      <div class="details">
        <h2 class="qg-card__title"><a href="#" class="stretched-link">Card title</a></h2>
      </div>
    </div>
  </article>
  <article class="qg-card qg-card__clickable col-12 col-sm-6 col-lg-4">
    <div class="content">
      <div class="details">
        <h2 class="qg-card__title"><a href="#" class="stretched-link">Card title</a></h2>
      </div>
    </div>
  </article>
</section>
<section class="row cards__equal-height">
  <article class="qg-card qg-card__light-theme qg-card__clickable col-12 col-sm-6 col-lg-4">
    <div class="content">
      <div class="details">
        <h2 class="qg-card__title"><a href="#" class="stretched-link">Card title</a></h2>
        <p>Additional text when the card title alone may not be enough.</p>
      </div>
    </div>
  </article>
  <article class="qg-card qg-card__clickable col-12 col-sm-6 col-lg-4">
    <div class="content">
      <div class="details">
        <h2 class="qg-card__title"><a href="#" class="stretched-link">Card title</a></h2>
        <p>Additional text when the card title alone may not be enough.</p>
      </div>
    </div>
  </article>
</section>
