<!-- 
  Style is hosting in Squiz Matrix
-->
<link
  href="https://www.qld.gov.au/__data/assets/git_bridge/0019/100936/franchises/dfv/dist/main.css?h=21e9243"
  rel="stylesheet"
  type="text/css"
  media="all"
/>
<section class="row dfv-cards dfv-cards--type-top-prompt">
    
  <div class="card-container col-6 col-md-4">
  <a class="card" href="https://www.qld.gov.au/community/getting-support-health-social-issue/support-victims-abuse/domestic-family-violence/what-is-domestic-and-family-violence" data-analytics-link-group="dfv-homegrid">
      <div class="card-body">
          <div class="card-top">
              <span class="card-title">What is domestic and family violence?</span>
              <span class="card-prompt"></span>
          </div>
          <p class="card-text">Learn about the signs and patterns of domestic and family violence, and other related forms of abuse, and understand the impact it has on individuals and families.</p>
      </div>
  </a>
</div>
<div class="card-container col-6 col-md-4">
  <a class="card" href="https://www.qld.gov.au/community/getting-support-health-social-issue/support-victims-abuse/domestic-family-violence/where-can-I-find-help" data-analytics-link-group="dfv-homegrid">
      <div class="card-body">
          <div class="card-top">
              <span class="card-title">Where can I find help?</span>
              <span class="card-prompt"></span>
          </div>
          <p class="card-text">If you are experiencing domestic and family violence, find out how to access a wide range of services and information, including how to report violence and abuse.</p>
      </div>
  </a>
</div>
<div class="card-container col-6 col-md-4">
  <a class="card" href="https://www.qld.gov.au/community/getting-support-health-social-issue/support-victims-abuse/domestic-family-violence/my-situation-is" data-analytics-link-group="dfv-homegrid">
      <div class="card-body">
          <div class="card-top">
              <span class="card-title">My situation is…</span>
              <span class="card-prompt"></span>
          </div>
          <p class="card-text">Find a range of useful information including housing, financial, mental health and translation support services.</p>
      </div>
  </a>
</div>
<div class="card-container col-6 col-md-4">
  <a class="card" href="https://www.qld.gov.au/community/getting-support-health-social-issue/support-victims-abuse/domestic-family-violence/i-want-to-help-someone" data-analytics-link-group="dfv-homegrid">
      <div class="card-body">
          <div class="card-top">
              <span class="card-title">I want to help someone</span>
              <span class="card-prompt"></span>
          </div>
          <p class="card-text">Learn how to respectfully and safely help someone that is, or may be, in a domestic and family violence situation.</p>
      </div>
  </a>
</div>
<div class="card-container col-6 col-md-4">
  <a class="card" href="https://www.qld.gov.au/community/getting-support-health-social-issue/support-victims-abuse/domestic-family-violence/legal-help" data-analytics-link-group="dfv-homegrid">
      <div class="card-body">
          <div class="card-top">
              <span class="card-title">Legal help</span>
              <span class="card-prompt"></span>
          </div>
          <p class="card-text">Understand your rights and the measures you can take to protect yourself in a domestic and family violence situation, including applying for and enforcing a domestic violence order.</p>
      </div>
  </a>
</div>
<div class="card-container col-6 col-md-4">
  <a class="card" href="https://www.qld.gov.au/community/getting-support-health-social-issue/support-victims-abuse/domestic-family-violence/how-can-i-stay-safe" data-analytics-link-group="dfv-homegrid">
      <div class="card-body">
          <div class="card-top">
              <span class="card-title">How can I stay safe?</span>
              <span class="card-prompt"></span>
          </div>
          <p class="card-text">Staying safe is your primary concern. Learn about the steps that you can take to stay safe, in or out of your home, as well as online.</p>
      </div>
  </a>
</div>

  
</section>