<section class="row qg-cards cards__equal-height">
  <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-lg-4">
    <div class="content">
      <img src="https://static.qgov.net.au/assets/v4/latest/images/placeholders/750x422.png" class="qg-card__thumbnail" alt="" />
      <div class="details" style="height: 191.543px">
        <h2>Card title</h2>
        <p>Additional text when the card title alone may not be enough.</p>
        <ul>
          <li><a href="#">List item link</a></li>
          <li><a href="#">List item link</a></li>
        </ul>
      </div>
    </div>
  </article>
  <article class="qg-card qg-card col-12 col-sm-6 col-lg-4">
    <div class="content">
      <img src="https://static.qgov.net.au/assets/v4/latest/images/placeholders/750x422.png" class="qg-card__thumbnail" alt="" />
      <div class="details" style="height: 191.543px">
        <h2>Card title</h2>
        <p>Additional text when the card title alone may not be enough.</p>
        <ul>
          <li><a href="#">List item link</a></li>
          <li><a href="#">List item link</a></li>
        </ul>
      </div>
    </div>
  </article>
</section>
