<section class="row qg-cards cards__equal-height">
  <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-lg-4">
    <div class="content">
      <div class="details" style="height: 130.762px">
        <h2>Card title</h2>
        <p>Additional text when the card title alone may not be enough.</p>
      </div>
      <div class="qg-card__footer">
        <a href="#" class="qg-btn btn-secondary">Call to action</a>
      </div>
    </div>
  </article>
  <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-lg-4">
    <div class="content">
      <div class="details" style="height: 130.762px">
        <h2>Card title</h2>
        <p>Additional text when the card title alone may not be enough.</p>
      </div>
      <div class="qg-card__footer">
        <a href="#" class="qg-btn btn-outline-dark">Call to action</a>
      </div>
    </div>
  </article>
  <article class="qg-card qg-card__light-theme col-12 col-sm-6 col-lg-4">
    <div class="content">
      <div class="details" style="height: 130.762px">
        <h2>Card title</h2>
        <p>Additional text when the card title alone may not be enough.</p>
      </div>
      <div class="qg-card__footer">
        <a href="#" class="qg-btn btn-link">Call to action</a>
      </div>
    </div>
  </article>
</section>
