<!--
  Style is hosting in Squiz Matrix
-->
<link
  href="https://www.qld.gov.au/_qgdesigns/css/qg-main.css?v=0.4.2"
  rel="stylesheet"
  type="text/css"
  media="all"
/>
<ul class="list-unstyled qg-index row">
  <li class="col-md-4">
    <a href="https://www.qld.gov.au/community/your-home-community" class="qg-index-item">
      <img
        alt=""
        src="/assets/v4/latest/images/page-content/community-groups.jpg"
      />

      <h2>Your home and community</h2>
    </a>
  </li>
  <li class="col-md-4">
    <a href="" class="qg-index-item">
      <img
        alt=""
        src="/assets/v4/latest/images/page-content/structural-assistance-grant.jpg"
      />

      <h2>Disasters and emergencies - old</h2>
    </a>
  </li>
  <li class="col-md-4">
    <a href="https://www.qld.gov.au/community/disasters-emergencies" class="qg-index-item">
      <img
        alt=""
        src="/assets/v4/latest/images/page-content/icon-communities.png"
      />

      <h2>Disasters and emergencies</h2>
    </a>
  </li>
  <li class="col-md-4">
    <a href="https://www.qld.gov.au/community/cost-of-living-support" class="qg-index-item">
      <img
        alt=""
        src="/assets/v4/latest/images/page-content/electricity-gas-rebates.jpg"
      />

      <h2>Cost of living support</h2>
    </a>
  </li>
  <li class="col-md-4">
    <a href="https://www.qld.gov.au/community/caring-child" class="qg-index-item">
      <img
        alt=""
        src="/assets/v4/latest/images/page-content/alternatives-to-adoption.jpg"
      />

      <h2>Caring for a child</h2>
    </a>
  </li>
  <li class="col-md-4">
    <a
      href="https://www.qld.gov.au/community/getting-support-health-social-issue"
      class="qg-index-item"
    >
      <img
        alt=""
        src="/assets/v4/latest/images/page-content/sexual-abuse-support.jpg"
      />

      <h2>Getting support for a health or social issue</h2>
    </a>
  </li>
  <li class="col-md-4">
    <a href="https://www.qld.gov.au/community/losing-your-job-income" class="qg-index-item">
      <img alt="" src="/assets/v4/latest/images/page-content/finding-work.jpg" />

      <h2>Losing your job or income</h2>
    </a>
  </li>
  <li class="col-md-4">
    <a
      href="https://www.qld.gov.au/community/community-organisations-volunteering"
      class="qg-index-item"
    >
      <img alt="" src="/assets/v4/latest/images/page-content/have-your-say.jpg" />

      <h2>Community organisations and volunteering</h2>
    </a>
  </li>
  <li class="col-md-4">
    <a href="https://www.qld.gov.au/community/support-for-carers" class="qg-index-item">
      <img alt="" src="/assets/v4/latest/images/page-content/who-is-a-carer.jpg" />

      <h2>Support for carers</h2>
    </a>
  </li>
  <li class="col-md-4">
    <a href="https://www.qld.gov.au/community/women" class="qg-index-item">
      <img
        alt=""
        src="/assets/v4/latest/images/page-content/your-career-independence-thumb.jpg"
      />

      <h2>Women</h2>
    </a>
  </li>
</ul>
