<!--
  Style is hosting in Squiz Matrix
-->
<link
  href="https://www.qld.gov.au/_qgdesigns/css/qg-main.css?v=0.4.2"
  rel="stylesheet"
  type="text/css"
  media="all"
/>
<ul class="list-unstyled qg-index row">
  <li class="col-md-4">
    <a href="https://www.qld.gov.au/community/your-home-community" class="qg-index-item">
      <img
        alt=""
        src="https://www.qld.gov.au/__data/assets/image/0022/54319/community-groups.jpg"
      />

      <h2>Your home and community</h2>
    </a>
  </li>
  <li class="col-md-4">
    <a href="" class="qg-index-item">
      <img
        alt=""
        src="https://www.qld.gov.au/__data/assets/image/0027/54756/structural-assistance-grant.jpg"
      />

      <h2>Disasters and emergencies - old</h2>
    </a>
  </li>
  <li class="col-md-4">
    <a href="https://www.qld.gov.au/community/disasters-emergencies" class="qg-index-item">
      <img
        alt=""
        src="https://www.qld.gov.au/__data/assets/image/0021/144246/icon-communities.png"
      />

      <h2>Disasters and emergencies</h2>
    </a>
  </li>
  <li class="col-md-4">
    <a href="https://www.qld.gov.au/community/cost-of-living-support" class="qg-index-item">
      <img
        alt=""
        src="https://www.qld.gov.au/__data/assets/image/0022/54634/electricity-gas-rebates.jpg"
      />

      <h2>Cost of living support</h2>
    </a>
  </li>
  <li class="col-md-4">
    <a href="https://www.qld.gov.au/community/caring-child" class="qg-index-item">
      <img
        alt=""
        src="https://www.qld.gov.au/__data/assets/image/0020/54335/alternatives-to-adoption.jpg"
      />

      <h2>Caring for a child</h2>
    </a>
  </li>
  <li class="col-md-4">
    <a
      href="https://www.qld.gov.au/community/getting-support-health-social-issue"
      class="qg-index-item"
    >
      <img
        alt=""
        src="https://www.qld.gov.au/__data/assets/image/0013/55201/sexual-abuse-support.jpg"
      />

      <h2>Getting support for a health or social issue</h2>
    </a>
  </li>
  <li class="col-md-4">
    <a href="https://www.qld.gov.au/community/losing-your-job-income" class="qg-index-item">
      <img alt="" src="https://www.qld.gov.au/__data/assets/image/0016/54322/finding-work.jpg" />

      <h2>Losing your job or income</h2>
    </a>
  </li>
  <li class="col-md-4">
    <a
      href="https://www.qld.gov.au/community/community-organisations-volunteering"
      class="qg-index-item"
    >
      <img alt="" src="https://www.qld.gov.au/__data/assets/image/0028/54766/have-your-say.jpg" />

      <h2>Community organisations and volunteering</h2>
    </a>
  </li>
  <li class="col-md-4">
    <a href="https://www.qld.gov.au/community/support-for-carers" class="qg-index-item">
      <img alt="" src="https://www.qld.gov.au/__data/assets/image/0012/54102/who-is-a-carer.jpg" />

      <h2>Support for carers</h2>
    </a>
  </li>
  <li class="col-md-4">
    <a href="https://www.qld.gov.au/community/women" class="qg-index-item">
      <img
        alt=""
        src="https://www.qld.gov.au/__data/assets/image/0019/54334/your-career-independence-thumb.jpg"
      />

      <h2>Women</h2>
    </a>
  </li>
</ul>
