<div class="sortable-table" data-search="true" data-rows="10">
  <table class="dataTable no-footer">
    <caption>
      Table caption
    </caption>
    <thead>
      <tr>
        <th scope="col">Header</th>
        <th scope="col">Header</th>
        <th scope="col">Header</th>
        <th scope="col" class="text-right">Header</th>
        <th scope="col" class="text-right">Header</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>A</td>
        <td>B</td>
        <td>C</td>
        <td class="text-right">7,670,700</td>
        <td class="text-right">3.1%</td>
      </tr>

      <tr>
        <td>D</td>
        <td>E</td>
        <td>F</td>
        <td class="text-right">5,996,400</td>
        <td class="text-right">2.5%</td>
      </tr>
      <tr>
        <td>G</td>
        <td>H</td>
        <td>I</td>
        <td class="text-right">517,400</td>
        <td class="text-right">4.0%</td>
      </tr>
    </tbody>
  </table>
</div>
