.qg-site-map {
  color: #fff;
  background-color: $qg-footer-bg-color;
  padding-top: ($qg-spacing-small / 2);
  padding-bottom: ($qg-spacing-small / 2);

  @include media-breakpoint-up(md) {
    padding-top: ($qg-spacing / 2);
    padding-bottom: ($qg-spacing / 2);
  }
  @include media-breakpoint-up(lg) {
    padding: $qg-spacing ($grid-gutter-width / 2);
  }
  a, a:link {
    color: #FFF;
    text-decoration: none;
  }

  a:hover {
    color: #FFF;
    text-decoration: underline;
  }

  div {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(4);
    }
    @include media-breakpoint-down(md) {
      padding-right: $qg-grid-gutter-width-small/2;
      padding-left: $qg-grid-gutter-width-small/2;
    }
    &:nth-child(2n) {
      background-color: $qg-footer-bg-alt-color;
    }
    h3 {
      @include rem(font-size, 19px);
      border-bottom: 1px solid #FFF;
      margin-top: 0;
      padding-top: ($qg-spacing-small / 2);
      padding-bottom: ($qg-spacing-small / 2);
    }

    ul {
      list-style: none;
      padding-left: 0;
    }
    @media (min-width: $screen-sm-min) {
      ul.collapse {
        display: block !important;
        height: auto !important;
      }
    }

    ul.col-2 {
      list-style: none;
      padding-left: 0;

      @media (min-width: $screen-sm-min) {
        max-width: initial;
        column-count: 2;
      }
      @include media-breakpoint-down(md) {
        max-width: 100%;
      }
    }

    li {
      @include rem(font-size, 14px);
      padding: .5em .3em;
    }
  }

  @media print {
    display: none;
  }
}
