// ############################################
// Site navigation      
#qg-site-nav {  
    @extend .col-xs-12;
    @extend .col-sm-12;
    @extend .col-md-12;
    @extend .col-lg-12;

    background-color: $qg-light-gray;

    ul {
        color: $qg-blue-green;
        bottom: 0px;
        margin: 0;
        padding: 0;
        list-style: none;

        @include fontSize(16px);

        li {
            // display: block;
            float: left;
            padding: 0 0 .4em 0;

            a {
                display: inline-block;
                margin-left: 20px;
                padding: .3em .5em .3em .5em;
                color: $qg-blue-green;
                text-decoration: none;    
                @include fontSize(16px);
                &:hover {
                    background-color: $qg-light-gray6;
                    text-decoration: none;
                }
            }    
        }

        li + li a {
            //border-left: 1px solid #666;
        }
    }
}

// ############################################
// responsive styles
@include breakpoint($bs-md) {
    
    #qg-site-nav {
        padding: 0;
        background: #494949;

        ul {
            // margin: 0;
            padding: 0;

            li {
                float: none;

                &:first-child {} 

                &:last-child {
                    border-bottom: none
                }

                &:nth-child(2n) {
                    background-color: #505050;
                }

                a, a:link, a:visited {
                    color: #FFF;  
                    &:hover {
                        background-color: transparent;
                        text-decoration: underline;
                    }   

                }  

            }

            li + li {
                border: none;      
            }
        }
    }

}

@include breakpoint($bs-sm) {
}

// ############################################
// responsive styles
@include breakpoint($bs-xs){
}

@include breakpoint($bs-min-lg){
    #qg-site-nav {
        // Over-rides SWE default behaviour for accessibility
        display: block;
        height: auto !important;

        a {
            margin-left: 0 !important;
        }
    }
}