<section class="qg-video-wrapper mb-3">
  <h3 class="qg-video-title">Video title</h3>
  <p class="qg-video-description">Video description goes here.</p>
  <div class="qg-video-nav-container">
    <span title="Video duration" class="qg-video-duration-text">Duration 00:00:00</span>
    <span>|</span>
    <span aria-hidden="true" class="fa fa-cc" title="closed captions icon"
      ><span class="sr-only">Closed captions icon:</span></span
    >
  </div>

  <div class="embed-responsive embed-responsive-16by9">
    <iframe
      title="YouTube video"
      class="embed-responsive-item"
      allowfullscreen
      src="https://www.youtube.com/embed/FAYPenrwVEM"
    ></iframe>
  </div>
</section>
<section class="qg-accordion qg-accordion-v2" aria-label="Show/hide transcript">
  <article>
    <button class="acc-heading qg-accordion--closed">
      <a class="qg-accordion--ga">
        <span class="accordion-label"><span class="title">Show/hide transcript</span></span>
      </a>
    </button>
    <div class="collapsing-section" id="id-panel-content-101102">
      <p>Transcript goes here.</p>
    </div>
  </article>
</section>
