#qg-content #qg-section-nav {
  .guide-sub-nav {
    padding-left: 0;
    a {
      padding-left: 3.75em;
      &:before {
        content: "";
      }
      .page-number {
        speak: none;
        float: left;
        color: $qg-dark-grey-dark;
        @include rem(min-width, 20px);
        text-align: center;
        @include rem(margin-left, -30px);
        font-weight: 700;
        //background: $qg-grey-light;
      }
    }
  }
}
