/* ! section (side) navigation */

// NEW NAV PATTERN  (QOL-7546 Section navigation enhancements)
#qg-content .qg-section-nav {
  margin-bottom: 4rem;
  h2 {
    border-bottom: 2px solid $qg-dark-grey;
    padding: 0.7rem 0 0.7rem 1rem;
    color: #000;
    margin-top: 1.9rem;
    margin-bottom: 0;
    @include rem(font-size, 19px);
    a {
      &:not(.active) {
        @include qg-link-styles__no-underline-black;
      }
      margin: -0.7rem 0 -0.7rem -1rem;
      padding: 0.7rem 0 0.7rem 1rem;
      width: calc(100% + 1rem);
      display: inline-block;
      color: $qg-dark-grey-darker !important;
      font-size: 1rem;
      &:link, &:hover {
        text-decoration-line: none;
      }
    }
  }
  > ul {
    margin: 0;
    padding-left: 0;
    > li {
      border-bottom: 1px solid $qg-dark-grey;
      &:last-child{
        border-bottom:none;
      }
    }
  }
  li {
    position: relative;
    transition: all 0.2s;
    list-style-type: none;
    @include rem(font-size, 14px);

    a {
      &:not(.active) {
        @include qg-link-styles__no-underline-black;
      }
      display: block;
      margin: 0;
      padding: 1em;
      color: $qg-dark-grey;
      &.active{
        color: #212529;
        font-weight: 700;
        &:link, &:hover {
          text-decoration-line: none;
        }
      }
    }
    ul {
      padding: 0;
      li {
        a {
          @include rem(padding-left, 30px);
          &:before {
            content: "";
          }
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    li {
      a:before {
        left: ($qg-spacing-xs * 0.5);
      }
    }
  }
  @include media-breakpoint-up(lg) {
    li {
      a:before {
        left: ($qg-spacing);
      }
    }
  }

  @media print {
    display: none;
  }
}


// LEGACY NAV Pattern for backward compatibility

#qg-content #qg-section-nav {
  background-color: $qg-section-nav-bg-color;

  h2 {
    padding-left: 2.5em;
    padding-top: 2.4em;
    padding-bottom: 0.3em;
    color: #000;
    margin: 0;
    @include rem(font-size, 19px);
  }
  ul {
    margin: 0;
    padding: 0 0 ($qg-spacing-small * 0.7) 0;
  }

  li {
    position: relative;
    padding: 0;
    transition: all 0.2s;
    list-style-type: none;
    @include rem(font-size, 14px);
    font-weight: 700;

    a {
      display: block;
      margin: 0;
      padding: .7em 0 0.9em 10 + 15px;
      @include qg-link-unvisited-color($qg-blue-darker);
      text-decoration-line: none;
    }

    a:hover {
      text-decoration-line: none;
      background-color: $qg-section-nav-link-hover-bg-color;
    }
    a:before {
      position: absolute;
      top: .95em;
      left: 10px;

      display: inline-block !important;
      content: "\f054";
      margin: 0;
      padding: 0 0.3em 0 0;
      text-decoration-line: none;
      opacity: .5;

      font-family: FontAwesome;
      font-size: .9em;
    }
    a.active:before {
      opacity: 1;
    }
    ul {
      padding: 0;
      li {
        @include rem(margin-left, 30px);
        a {
          &:before {
            content: "";
          }
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    background-color: transparent;

    h2, ul {
      background-color: $qg-section-nav-bg-color
    }
    ul {
      padding: 0 0 ($qg-spacing * 0.7) 0;
    }
    li {
      a {
        padding-left: ($qg-spacing-xs * 0.5) + 15px;
      }
      a:before {
        left: ($qg-spacing-xs * 0.5);
      }
    }
  }
  @include media-breakpoint-up(lg) {
    li {
      a {
        padding: .7em ($qg-spacing*0.5) .7em ($qg-spacing + 15px);
      }
      a:before {
        left: ($qg-spacing);
      }
    }
  }

  @media print {
    display: none;
  }
}
