<nav class="qg-section-nav" aria-label="side navigation" role="navigation">

    <h2><a href="/community/support-for-carers/">Support for carers</a></h2>
    <ul aria-label="section navigation">
        <li>
          <a href="/community/support-for-carers/carer/">Who is a carer?</a>
          <ul>
            <li>
              <a href="/community/support-for-carers/carer/">Frequently asked questions</a>
            </li>
          </ul>
        </li>
        <li><a href="/community/support-for-carers/support-groups-for-carers/">Support groups for carers</a></li>
        <li><a href="/community/support-for-carers/service-providers-for-older-carers/">Service providers for older carers</a></li>
        <li><a href="/community/support-for-carers/support-young-carers/index.html">Support for young carers</a></li>
        <li><a href="/community/getting-support-health-social-issue/community-home-care-services/">Community and home care services</a></li>
        <li><a href="/disability/adults/financial-support/">Financial help for carers</a></li>
        <li><a href="/community/your-home-community/carers-week/">Carers Week</a></li>
        <li><a href="/community/support-for-carers/carer-card/">Carer Business Discount Card</a></li>
        <li><a href="/disability/out-and-about/companion-cards/">Companion Card</a></li>
        <li><a href="/community/caring-child/">Caring for a child</a></li>
    </ul>

</nav>
