<nav class="qg-section-nav" aria-label="side navigation" role="navigation">

    <h2><a href="#">Parent page</a></h2>
    <ul aria-label="section navigation">
        <li><a href="#">Sibling page one</a></li>
        <li><a href="#" class="active">Active page</a></li>
        <li><a href="#">Sibling page two</a></li>
        <li><a href="#">Sibling page three</a></li>
        <li><a href="#">Sibling page four</a></li>
        <li><a href="#">Sibling page five</a></li>
        <li><a href="#">Sibling page six</a></li>
    </ul>

</nav>
