<div class="qg-quick-exit">
  <div class="qg-quick-exit__inner container-fluid qg-site-width">
    <div class="qg-quick-exit__tips">
      <a
        href="https://www.qld.gov.au/help/tips-to-browse-safely-online"
        class="qg-quick-exit__tip-link"
        style="text-decoration: none"
      >
        <span class="fa fa-question-circle" style="color: #fff"></span>
        <span class="qg-quick-exit__tip-title" style="color: #fff"
          >Tips to browse safely online</span
        >
      </a>
    </div>
    <div class="qg-quick-exit__actions">
      <ul class="qg-quick-exit__list">
        <li class="qg-quick-exit__item">
          <input type="checkbox" id="qg-quick-exit__input" class="qg-quick-exit__input sr-only" />
          <label for="qg-quick-exit__input" class="qg-quick-exit__label qg-tooltip__parent">
            <span class="qg-tooltip__prompt">What is this?</span>
            <div class="qg-tooltip__wrapper">
              <div class="qg-tooltip">
                <span class="qg-tooltip__content"
                  >To leave this site quickly, click the 'Close this site' button. You will be taken
                  to https://www.google.com.au.</span
                >
              </div>
            </div>
          </label>
        </li>
        <li class="qg-quick-exit__item">
          <button class="qg-quick-exit__button">Close this site</button>
        </li>
      </ul>
    </div>
  </div>
</div>
