<link rel="stylesheet" href="https://oss-uat.clients.squiz.net/__data/assets/css_file/0015/102129/ictdashboard.css"/>

<div id="ia-format">
  <ul class="demo-layout">
    <li class="d1 flex-grid-new-row">
      <div class="inner">
        <h2>
          <a href="https://qtenders.epw.qld.gov.au/qtenders/tender/search/tender-search.do?action=do-advanced-tender-search&amp;state=Forward+Advice&amp;selectedMegaCategory=2" class="focus">
            <span class="link-text">Forward procurement schedule</span>
            <img alt="" src="https://oss-uat.clients.squiz.net/__data/assets/image/0018/5481/qgcio-tenders-icons_01.png" />
          </a>
        </h2>
        <p>Possible future ICT procurements</p>
      </div>
    </li>
    <li class="d1">
      <div class="inner">
        <h2>
          <a href="https://qtenders.epw.qld.gov.au/qtenders/tender/search/tender-search.do?action=do-advanced-tender-search&amp;state=Open&amp;selectedMegaCategory=2" class="active">
            <span class="link-text">Current tenders</span>
            <img alt="" src="https://oss-uat.clients.squiz.net/__data/assets/image/0020/5483/qgcio-tenders-icons_02b.png" />
          </a>
        </h2>
        <p>All public ICT tenders open for responses</p>
      </div>
    </li>
    <li class="d1 flex-grid-new-row">
      <div class="inner">
        <h2>
          <a href="https://qtenders.epw.qld.gov.au/qtenders/tender/search/tender-search.do?action=do-advanced-tender-search&amp;state=Closed&amp;selectedMegaCategory=2">
            <span class="link-text">Under evaluation</span>
            <img alt="" src="https://oss-uat.clients.squiz.net/__data/assets/image/0022/5485/qgcio-tenders-icons_03b.png" />
          </a>
        </h2>
        <p>All public ICT tenders that are being evaluated</p>
      </div>
    </li>
    <li class="d1">
      <div class="inner">
        <h2>
          <a href="https://qtenders.epw.qld.gov.au/qtenders/tender/search/tender-search.do?action=do-advanced-tender-search&amp;state=Shortlisted&amp;selectedMegaCategory=2">
            <span class="link-text">Shortlisted</span>
            <img alt="" src="https://oss-uat.clients.squiz.net/__data/assets/image/0023/5486/qgcio-tenders-icons_04.png" />
          </a>
        </h2>
        <p>ICT tenders in the short-listed stage</p>
      </div>
    </li>
    <li class="d1 flex-grid-new-row">
      <div class="inner">
        <h2>
          <a href="https://qtenders.epw.qld.gov.au/qtenders/tender/search/tender-search.do?action=do-advanced-tender-search&amp;state=Awarded&amp;selectedMegaCategory=2">
            <span class="link-text">Awarded tenders</span>
            <img alt="" src="https://oss-uat.clients.squiz.net/__data/assets/image/0021/5484/qgcio-tenders-icons_05.png" />
          </a>
        </h2>
        <p>Awarded ICT tenders</p>
      </div>
    </li>
    <li class="d1">
      <div class="inner">
        <h2>
          <a href="https://qtenders.epw.qld.gov.au/qtenders/tender/search/tender-search.do?action=do-advanced-tender-search&amp;state=AllOffsDeclined&amp;selectedMegaCategory=2">
            <span class="link-text">All offers declined</span>
            <img alt="" src="https://oss-uat.clients.squiz.net/__data/assets/image/0025/5479/qgcio-tenders-icons_06b.png" />
          </a>
        </h2>
        <p>No contract awarded - all offers declined</p>
      </div>
    </li>
    <li class="d1 flex-grid-new-row">
      <div class="inner">
        <h2>
          <a href="https://qtenders.epw.qld.gov.au/qtenders/tender/search/tender-search.do?action=do-advanced-tender-search&amp;state=NoOffsReceived&amp;selectedMegaCategory=2">
            <span class="link-text">No offers received</span>
            <img alt="" src="https://oss-uat.clients.squiz.net/__data/assets/image/0017/5480/qgcio-tenders-icons_07b.png" />
          </a>
        </h2>
        <p>No contract awarded - no offers received</p>
      </div>
    </li>
    <li class="d1 flex-grid-new-row">
      <div class="inner">
        <h2>
          <a href="https://qtenders.epw.qld.gov.au/qtenders/tender/search/tender-search.do?action=do-advanced-tender-search&amp;state=Withdrawn&amp;selectedMegaCategory=2">
            <span class="link-text">Withdrawn</span>
            <img alt="" src="https://oss-uat.clients.squiz.net/__data/assets/image/0019/5482/qgcio-tenders-icons_08b.png" />
          </a>
        </h2>
        <p>No contract awarded &ndash; withdrawn ICT tenders</p>
      </div>
    </li>
  </ul>
</div>
