// print button styles
#qg-page-options {
  a {
    position: absolute;
    z-index: 1;
    top: -40px;
  }
  .fg-subscribe__link {
    right: -110px;
  }
  .print-content-link {
    right: 35px;
  }
}