// page options including print and subscribe buttons
#qg-page-options {
  position: absolute;
  top: -40px;
  right: 35px;
  z-index: 1;
  a {
    position: relative;
    top: initial;
    right: initial;
    margin-left: 1rem !important;
    .fa {
      margin-right: 5px;
    }
  }
}