
// ##############################################################    
// Breadcrumb   
#qg-breadcrumb {
background-color: #007EB1;    
padding-top: 1.5em;
padding-bottom: 1.5em;
@extend .col-sm-12;

    a {
    color: #FFF;
    }   

    span.fa {
    font-size: 1.2em;   
    margin-right: .3em; 
    }    

    ol {
    margin: 0;
    color: #FFF;    
    @include fontSize(16px); 

        li + li {
            &:before {
            color: #FFF;
            font-family: FontAwesome;
            font-size: .9em;
            content: "\f054";
            margin: 0 0.3em 0 0;
            }

            &:last-child{
            font-weight: bold;
            }
        }

    }
}

// ##############################################################    

@include breakpoint($bs-md){
    #qg-breadcrumb{
    background: $sweblue;
    display: none;

        ol {
        text-align: center;
        margin-left: 0;
        margin-bottom: 0;
            > li {
            display: block;
            @include indent(4)

                + li:before {
                //display: inline-block;        
                display: block;
                color: #CCC;          
                font-family: FontAwesome;
                font-size: .9em;
                content: "\f078";
                //content: "\f149"; 
                //margin-right: .5em;
                font-weight: normal;
                margin: 0;
                }  

            &:last-child {
            font-size: 150%;
            }  

            }
        }
    }
}

@include breakpoint($bs-sm){
    #qg-breadcrumb {
    display: none;
    padding-right: 0;
    padding-left: 0;
    }
}