
.qg-more-info {
color: #FFF;
background-color:#0B2E4C;

a, a:link {
color: #FFF;  
text-decoration: none;
} 

a:hover {
color: #FFF;  
text-decoration: underline;
} 

div {
@extend .col-md-4;
@extend .col-sm-3;
&:nth-child(2n) {
background-color: #0b3253;
} 
}

ul {
list-style: none;
padding-left: 0;
}
}



.qg-legal{
text-align: center;

.row {
background-color: #FFF;     
}  

p {
@include fontSize(12px);
}
}



@include breakpoint($bs-md){
  #qg-site-footer {
    background: #0B2E4C;
  }
}